{% extends "base.html" %}
{% load static heroicons %}

{% block body_class %}{% endblock %}
{% block content %}
  
<div 
x-data="{ 
	menuOpen: false, 
	basicSignInModal: false,
	basicSignUpModal: false,
	advanceSignInModal: false,
	advanceSignUpModal: false,
}" 
class="flex flex-col min-h-screen custom-scrollbar"
>
<!-- start::Black overlay -->
<div :class="menuOpen ? 'block' : 'hidden'" @click="menuOpen = false" class="fixed  inset-0 bg-black opacity-50 transition-opacity lg:hidden"></div>
<!-- end::Black overlay -->
 {% include 'header.html' %}
 {% include 'tabs.html' with active_tab="home" %}
 <div class=" w-full flex flex-row">
	{% include "sidebar.html" %}
  <div class="h-full w-full">
	<!-- Main content header -->
	<main class="block w-full px-2 h-full  overflow-hidden overflow-y-scroll" x-data="Catgories()">
		<div class="flex flex-col items-start justify-between pb-6 space-y-4 border-b lg:items-center lg:space-y-0 lg:flex-row"  >                                                                                                                                                     
			<h1 class="text-2xl font-semibold whitespace-nowrap pt-4">Liste des types de clients</h1>          
		  </div>
		  <div class="-mb-2 py-2 flex flex-wrap flex-grow justify-between border-b">  
        <div></div>          
        <div class="inline-block px-4 py-2 text-sm leading-5 font-medium rounded-md text-black border border-gray-700 hover:bg-gray-700 hover:text-white focus:outline-none focus:shadow-outline cursor-pointer"  x-on:click="isOpen = true; operation == 'add';">
          Créer un nouveau Type de client
        </div>
		  </div>
		   <table class="min-w-full overflow-x-scroll divide-y divide-gray-200">
                    <thead class="bg-gray-50">
                      <tr>
                        <th
                          scope="col"
                          class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"
                        >
                          #
                        </th>
                        <th
                          scope="col"
                          class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"
                        >
                          Libellé
                        </th>
                        <th
                          scope="col"
                          class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"
                        >
                          Montant Minimum
                        </th>
                        <th
                          scope="col"
                          class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"
                        >
                          Pourcentage de Solde Note
                        </th>
                        <th
                          scope="col"
                          class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"
                        >
                          Date Création
                        </th>
                        
                        <th
                          scope="col"
                          class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"
                        >
                          MAJ
                        </th>                     
                      </tr>
                    </thead>
                    <tbody class="bg-white divide-y divide-gray-200">
                      {% for type in types %}
                        <tr class="transition-all hover:bg-gray-100 hover:shadow-lg">             
                          <td class="px-6 py-4 whitespace-nowrap">
                            <div class="text-sm text-gray-900">{{forloop.counter}}</div>                         
                          </td>
                          <td class="px-6 py-4 whitespace-nowrap">
                            <span
                              class="inline-flex px-2 text-xs font-semibold leading-5 rounded-full"
                            >
                              {{type.type_desc}}
                            </span>
                          </td>
                          <td class="px-6 py-4 text-sm text-gray-500 whitespace-nowrap">{{type.montant_min}}</td>
                          <td class="px-6 py-4 text-sm text-gray-500 whitespace-nowrap">{{type.percent}}</td>
                          <td class="px-6 py-4 text-sm text-gray-500 whitespace-nowrap">{{type.dateCreation}}</td>
                                                
                          <td class="px-6 py-4 text-sm text-gray-500 whitespace-nowrap flex">
                            <a  @click="
                                  isOpen=true;
                                  id='{{type.id}}';
                                  label='{{type.type_desc}}';
                                  montant = '{{type.montant_min}}';
                                  percent = '{{type.percent}}';
                                  date =formatDate('{{type.dateCreation}}');
                                  operation = 'update';
                                "class="text-gray-700">{% heroicon_mini "pencil-square" class="cursor-pointer transition-transform" %}</a>
                              {% if request.session.role == "manager" %}
                              <input class="align-middle border-l-0 border-r-0 text-sm whitespace-nowrap" type="checkbox" :value="{{type.id}}" x-model="selectedItems" id="target-row">
                            {% endif %}
                          </td>    
                        </tr>                  
                      {% endfor %}
                    </tbody>
                  </table>	  

		<div class="flex bg-gray-100 justify-between px-8">
		    <div></div>
			<div class="transition-transform cursor-pointer px-1 py-1 text-red-500 hover:text-red-700" @click="showModal = true;" >
				{% heroicon_mini "trash" %}
			</div>
		</div>
		  <div x-cloak x-show="showModal" class="fixed inset-0 flex items-center justify-center z-50">
			<div class="modal bg-gray-50 rounded-lg p-4 max-w-md mx-auto shadow-lg">
				<p class="text-gray-700 text-lg mb-4">Voulez-vous vraiment supprimer les éléments sélectionné </p>
				<div class="flex justify-end">
					<button @click="deletedSelected()" class="bg-red-500 text-white px-4 py-2 rounded-lg hover:bg-red-600 focus:outline-none mr-2">Oui</button>
					<button @click="annulerSuppression()" class="bg-gray-300 text-gray-700 px-4 py-2 rounded-lg hover:bg-gray-400 focus:outline-none">Annuler</button>
				</div>
			</div>
		  </div>
					 <!-- Modal -->
            <div style=" background-color: rgba(0, 0, 0, 0.8); " class="fixed z-40 top-0 right-0 left-0 bottom-0 h-full w-full overflow-hidden scroll" x-cloak x-show.transition.opacity="isOpen">
              <div class="p-4 max-w-xl mx-auto relative left-0 right-0 overflow-hidden mt-0 md:mt-12">
                <div class="shadow absolute right-0 top-0 w-10 h-10 rounded-full bg-white text-gray-500 hover:text-gray-800 inline-flex items-center justify-center cursor-pointer"
                  x-on:click="isOpen = false">
                  <svg class="fill-current w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path
                      d="M16.192 6.344L11.949 10.586 7.707 6.344 6.293 7.758 10.535 12 6.293 16.242 7.707 17.656 11.949 13.414 16.192 17.656 17.606 16.242 13.364 12 17.606 7.758z" />
                  </svg>
                </div>
                <form action="" id="myForm">
                <div class="shadow w-full rounded-lg bg-white overflow-hidden block p-8">		
                <h2 class="font-bold text-2xl mb-6 text-gray-800 border-b pb-2">Ajouter un nouveau type de client</h2>
                  <div class="form-input">
                    <div class="mb-4">
                      <label class="block text-gray-700 font-semibold mb-2" for="type">
                        Libellé :
                      </label>
                      <input
                        class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        type="text"
                        id="type"
                        x-model="label"
                        name="type"
                        placeholder=" Type client ... "
                      >
                    </div>
                    <div class="mb-4">
                      <label class="block text-gray-700 font-semibold mb-2" for="type">
                        Montant :
                      </label>
                      <input
                        class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        type="text"
                        id="type"
                        x-model="montant"
                        name="type"
                        placeholder="Montant ... "
                      >
                    </div>
                    <div class="mb-4">
                      <label class="block text-gray-700 font-semibold mb-2" for="type">
                        Poucentage Solde Point :
                      </label>
                      <input
                        class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        type="text"
                        id="type"
                        x-model="percent"
                        name="type"
                        placeholder="Poucentage Solde Point ... "
                      >
                    </div>
                    <div class="mb-4">
                      <label class="block text-gray-700 font-semibold mb-2" for="adresse">
                        Date Création:
                      </label>
                      <input
                        class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        type="date"
                        id="date"
                        x-model="date"
                        name="date"
                      >
                    </div>                 
                  </div>
                <div class="mt-8 text-right">
                <button type="button" class="bg-white hover:bg-gray-100 text-gray-700 font-semibold py-2 px-4 border border-gray-300 rounded shadow-sm mr-2" @click="isOpen = false">
                  Annuler
                </button>	
                <button type="button" class="bg-gray-800 hover:bg-gray-700 text-white font-semibold py-2 px-4 border border-gray-700 rounded shadow-sm" x-on:click="
                      if (operation === 'add') {
                        addCategorie();
                        } else if (operation === 'update') {
                        updateCompte();
                    }
                  ">
                  <span x-text="operation === 'add' ? 'Ajouter' : 'Modifier'"></span>
                </button>	
                </div>
              </div> 
            </form>
              </div>
            </div>
            <!-- /Modal -->
            <script>
              function Catgories(){
                return{
                    isOpen:false,
                    showModal:false,
                    operation:'add',
                    montant:0,
                    percent:0,
                    label:'',
                    id:'',
                    date:new Date().toISOString().slice(0, 10),	

                    formatDate(dateString){
                        const dateObject = new Date(dateString);
                        const year = dateObject.getFullYear();
                        const month = (dateObject.getMonth() + 1).toString().padStart(2, '0'); // Months are zero-based
                        const day = dateObject.getDate().toString().padStart(2, '0');
                        return `${year}-${month}-${day}`;
                    },

                    updateCompte(){
                        dataObj={
                          id:this.id,
                          type_desc : this.label,
                          montant:this.montant,
                          percent:this.percent,
                          dateCreation :this.date,        
                        }
                        axios.post('ModifierType/', {
                          formData: dataObj
                        }, {
                        headers: {
                        'Content-Type': '',
                        'X-CSRFToken': getCookie('csrftoken'),
                        }
                        })
                      .then((response) => {
                        data = response.data
                        console.log(data.error)
                        if(data.error){
                              alert(data.error);
                          }else{
                              alert("Type Client modifié !");
                          }		  
                        window.location.reload()            
                      })
                      .catch((error) => {
                        alert(error)
                        
                      });
                    },

                    addCategorie(){
                        {% if request.session.store == '1' %}
                          if(this.component == ''){
                            alert("veuillez Specifier Le composant associé a cette catégorie");
                            return
                          }
                        {% endif %}
                        dataObj={
                          type : document.getElementById('type').value,
                          date: document.getElementById('date').value, 
                          montant:this.montant,
                          percent:this.percent,
                        }      
                        axios.post('', {
                          formData: dataObj
                        }, {
                        headers: {
                        'Content-Type': '',
                        'X-CSRFToken': getCookie('csrftoken'),
                        }
                        })
                      .then((response) => {
                        data = response.data
                        console.log(data.error)
                        if(data.error){
                              alert(data.error);
                          }else{
                              alert("Type Client Ajouté !");
                          }		  
                        window.location.reload()            
                      })
                      .catch((error) => {
                        alert(error)      
                      });
                    },

                    selectedItems: [],

                    deletedSelected(){
                                    if (this.selectedItems.length === 0) {
                                        alert("Veuillez Selectionner aumoins un élément pour supprimer!.");
                                        return;
                                    }
                        console.log(this.selectedItems);

                        dataObj ={
                          liste_ids: this.selectedItems,                        
                            }
                        axios.post('DeleteTypes/',dataObj, {
                          headers: {
                          'Content-Type': 'application/json',
                          'X-CSRFToken': getCookie('csrftoken'),
                          }
                        })
                          .then(response => {          			
                              showModal = false;
                              alert(response.data.message);
                              window.location.reload();
                          })
                        .catch(error => {
                        // Handle request errors
                        alert(error);
                        });
                        this.showModal = false;
                        this.selectedItems = [];
                    },

                    annulerSuppression() {
                        // Réinitialiser les variables
                        this.showModal = false;
                        this.billtodelete = '';
                    },
                }
              }

              function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
                }
                }
                }
                return cookieValue;
              }
           </script>
		</div>
</main>
	<!-- end Main content  -->

  </div>
</div>
</div>
</div>
{% endblock content %}
