{% extends "base.html" %}
{% load static heroicons %}

{% block body_class %}{% endblock %}
{% block content %}
  
<div 
x-data="{ 
	menuOpen: false, 
	basicSignInModal: false,
	basicSignUpModal: false,
	advanceSignInModal: false,
	advanceSignUpModal: false,
}" 
class="flex flex-col min-h-screen custom-scrollbar"
>
<!-- start::Black overlay -->
<div :class="menuOpen ? 'block' : 'hidden'" @click="menuOpen = false" class="fixed  inset-0 bg-black opacity-50 transition-opacity lg:hidden"></div>
<!-- end::Black overlay -->
 {% include 'header.html' %}
 {% include 'tabs.html' with active_tab="comptoire" %}
 <div class=" w-full flex flex-row">
	 {% include "sidebar_comptoire.html" %}
     <div class="h-full w-full">
	  <main class="block w-full px-2 h-full overflow-hidden">
	    <body class="antialiased sans-serif">	
			   <div class="h-2"></div>
			   <div 
				 class="container mx-auto py-6 px-4"
				 x-data="invoices()"
				 x-init="fetchOptions()"
				 x-cloak
			     >
				 <div class="flex justify-between">
				    <div class="flex mb-6 space-x-4 justify-between">
						<h2 class="text-2xl font-bold  tracking-wider uppercase">{{request.session.nomStore}} - Comptoir </h2>
				    	<svg id='arrows-maximize_24' width='24' height='24' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><rect width='24' height='24' stroke='none' fill='#000000' opacity='0'/>
						<g transform="matrix(1 0 0 1 12 12)" >
						<g style="" >
						<g transform="matrix(1 0 0 1 0 0)" >
						<path style="stroke: none; stroke-width: 2; stroke-dasharray: none; stroke-linecap: round; stroke-dashoffset: 0; stroke-linejoin: round; stroke-miterlimit: 4; fill: none; fill-rule: nonzero; opacity: 1;" transform=" translate(-12, -12)" d="M 0 0 L 24 0 L 24 24 L 0 24 z" stroke-linecap="round" />
						</g>
						<g transform="matrix(1 0 0 1 5.75 -6.25)" >
						<polyline style="stroke: rgb(0,0,0); stroke-width: 1.5; stroke-dasharray: none; stroke-linecap: round; stroke-dashoffset: 0; stroke-linejoin: round; stroke-miterlimit: 4; fill: none; fill-rule: nonzero; opacity: 1;" points="-2,-2 2,-2 2,2 " />
						</g>
						<g transform="matrix(1 0 0 1 4.75 -5.25)" >
						<line style="stroke: rgb(0,0,0); stroke-width: 1.5; stroke-dasharray: none; stroke-linecap: round; stroke-dashoffset: 0; stroke-linejoin: round; stroke-miterlimit: 4; fill: none; fill-rule: nonzero; opacity: 1;" x1="-3" y1="3" x2="3" y2="-3" />
						</g>
						<g transform="matrix(1 0 0 1 -6.25 5.75)" >
						<polyline style="stroke: rgb(0,0,0); stroke-width: 1.5; stroke-dasharray: none; stroke-linecap: round; stroke-dashoffset: 0; stroke-linejoin: round; stroke-miterlimit: 4; fill: none; fill-rule: nonzero; opacity: 1;" points="2,2 -2,2 -2,-2 " />
						</g>
						<g transform="matrix(1 0 0 1 -5.25 4.75)" >
						<line style="stroke: rgb(0,0,0); stroke-width: 1.5; stroke-dasharray: none; stroke-linecap: round; stroke-dashoffset: 0; stroke-linejoin: round; stroke-miterlimit: 4; fill: none; fill-rule: nonzero; opacity: 1;" x1="-3" y1="3" x2="3" y2="-3" />
						</g>
						<g transform="matrix(1 0 0 1 5.75 5.75)" >
						<polyline style="stroke: rgb(0,0,0); stroke-width: 1.5; stroke-dasharray: none; stroke-linecap: round; stroke-dashoffset: 0; stroke-linejoin: round; stroke-miterlimit: 4; fill: none; fill-rule: nonzero; opacity: 1;" points="-2,2 2,2 2,-2 " />
						</g>
						<g transform="matrix(1 0 0 1 4.75 4.75)" >
						<line style="stroke: rgb(0,0,0); stroke-width: 1.5; stroke-dasharray: none; stroke-linecap: round; stroke-dashoffset: 0; stroke-linejoin: round; stroke-miterlimit: 4; fill: none; fill-rule: nonzero; opacity: 1;" x1="-3" y1="-3" x2="3" y2="3" />
						</g>
						<g transform="matrix(1 0 0 1 -6.25 -6.25)" >
						<polyline style="stroke: rgb(0,0,0); stroke-width: 1.5; stroke-dasharray: none; stroke-linecap: round; stroke-dashoffset: 0; stroke-linejoin: round; stroke-miterlimit: 4; fill: none; fill-rule: nonzero; opacity: 1;" points="2,-2 -2,-2 -2,2 " />
						</g>
						<g transform="matrix(1 0 0 1 -5.25 -5.25)" >
						<line style="stroke: rgb(0,0,0); stroke-width: 1.5; stroke-dasharray: none; stroke-linecap: round; stroke-dashoffset: 0; stroke-linejoin: round; stroke-miterlimit: 4; fill: none; fill-rule: nonzero; opacity: 1;" x1="-3" y1="-3" x2="3" y2="3" />
						</g>
						</g>
						</g>
						</svg>
					</div>
					<div>
						<div class="relative mr-4 inline-block">
							<div class="text-gray-500 cursor-pointer w-10 h-10 rounded-full bg-gray-100 hover:bg-gray-300 inline-flex items-center justify-center" @mouseenter="showTooltip = true" @mouseleave="showTooltip = false" @click="printInvoice()">
								<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-printer" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
									<rect x="0" y="0" width="24" height="24" stroke="none"></rect>
									<path d="M17 17h2a2 2 0 0 0 2 -2v-4a2 2 0 0 0 -2 -2h-14a2 2 0 0 0 -2 2v4a2 2 0 0 0 2 2h2" />
									<path d="M17 9v-4a2 2 0 0 0 -2 -2h-6a2 2 0 0 0 -2 2v4" />
									<rect x="7" y="13" width="10" height="8" rx="2" />
								</svg>				  
							</div>
							<div x-show.transition="showTooltip" class="z-40 shadow-lg text-center w-32 block absolute right-0 top-0 p-2 mt-12 rounded-lg bg-gray-800 text-white text-xs">
								Print this invoice!
							</div>
						</div>
				 		<div class="relative inline-block">
						  <div class="text-gray-500 cursor-pointer w-10 h-10 rounded-full bg-gray-100 hover:bg-gray-300 inline-flex items-center justify-center" @mouseenter="showTooltip2 = true" @mouseleave="showTooltip2 = false" @click="openPreview=true">
							   <svg id='eye_24' width='24' height='24' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><rect width='24' height='24' stroke='none' fill='#000000' opacity='0'/>
									<g transform="matrix(1 0 0 1 12 12)" >
									<g style="" >
									<g transform="matrix(1 0 0 1 0 0)" >
									<path style="stroke: none; stroke-width: 2; stroke-dasharray: none; stroke-linecap: round; stroke-dashoffset: 0; stroke-linejoin: round; stroke-miterlimit: 4; fill: none; fill-rule: nonzero; opacity: 1;" transform=" translate(-12, -12)" d="M 0 0 L 24 0 L 24 24 L 0 24 z" stroke-linecap="round" />
									</g>
									<g transform="matrix(1 0 0 1 -0.25 -0.25)" >
									<circle style="stroke: rgb(0,0,0); stroke-width: 1.5; stroke-dasharray: none; stroke-linecap: round; stroke-dashoffset: 0; stroke-linejoin: round; stroke-miterlimit: 4; fill: none; fill-rule: nonzero; opacity: 1;" cx="0" cy="0" r="2" />
									</g>
									<g transform="matrix(1 0 0 1 -0.25 -0.25)" >
									<path style="stroke: rgb(0,0,0); stroke-width: 1.5; stroke-dasharray: none; stroke-linecap: round; stroke-dashoffset: 0; stroke-linejoin: round; stroke-miterlimit: 4; fill: none; fill-rule: nonzero; opacity: 1;" transform=" translate(-12, -12)" d="M 22 12 C 19.333 16.667 16 19 12 19 C 8 19 4.667 16.667 2 12 C 4.667 7.333 8 5 12 5 C 16 5 19.333 7.333 22 12" stroke-linecap="round" />
									</g>
									</g>
									</g>
							   </svg>		  
						  </div>
						  <div x-show.transition="showTooltip2" class="z-40 shadow-lg text-center w-32 block absolute right-0 top-0 p-2 mt-12 rounded-lg bg-gray-800 text-white text-xs">
							 Preview
						  </div>
					    </div>
					</div>
				 </div>
		
				 <div class="flex justify-between">
					<div class="w-2/4">
						 <div class="mb-2 md:mb-1 md:flex items-center">
							 <label class="w-32 text-gray-800 block font-bold text-sm uppercase tracking-wide">Numéro de Bon</label>
							 <span class="mr-4 inline-block  md:block">:</span>
							 <div class="flex-1">
							    <input class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-48 py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-gray-700" id="inline-full-name" type="text" placeholder="eg. #BON-100001" x-model="invoiceNumber">
							 </div>
						 </div>
						 <div class="mb-2 md:mb-1 md:flex items-center">
					 		<label class="w-32 text-gray-800 block font-bold text-sm uppercase tracking-wide">Nature de Bon </label>
					 		<span class="mr-4 hidden md:block">:</span>
					 		<div class="flex-1">
						       <select
									 class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-48 py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-gray-700"
									 id="fournisseur"
										 name="fournisseur"
                                         x-model="natureBon"
										 x-on:change="
										   if($event.target.value == 2){
											bonRetour=true;
										   }else{
											 bonRetour=false;
										   }											
										 "
										 required  
										 >
										 <option value="1" selected> Bon de comptoire </option>
										 <option value="2"> Bon de retour </option>
										
							   </select>
					 		</div>
						 </div> 
						 <div class="mb-2 md:mb-1 md:flex items-center" x-show="bonRetour == true">
					 		<label class="w-32 text-gray-800 block font-bold text-sm uppercase tracking-wide">Bon Comptoire Associé </label>
					 		<span class="mr-4 hidden md:block">:</span>
					 		<div class="flex-1">
						       <select
									 class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-48 py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-gray-700"
									 id="fournisseur"
										 name="fournisseur"
                                         x-model="boncomptoir"
										 x-on:change="
											fet
										 "
										 required  
										 >
										 <option value="" disabled selected>Aucun</option>
										 {% for bon in bons_compt %}
											 <option value="{{bon.id}}">
												 {{ bon.idBon }} 
											 </option>
										 {% endfor %}
							   </select>
					 		</div>
						 </div> 		
						 <div class="mb-2 md:mb-1 md:flex items-center">
							 <label class="w-32 text-gray-800 block font-bold text-sm uppercase tracking-wide">Date de Bon</label>
							 <span class="mr-4 inline-block  md:block">:</span>
							 <div class="flex-1">
							  <input class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-48 py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-gray-700 " type="date" x-model="invoiceDate" {% if request.session.role != 'manager' %}disabled{% endif %}>
							 </div>
						 </div>	
						 <div class="mb-2 md:mb-1 block ">
						   <label class="w-32 text-gray-800 block font-bold text-sm uppercase tracking-wide">Client :</label>
						   <div class="flex flex-col ">
								<div class="w-2/4 flex flex-col items-center h-32 ">
											<div class="w-full ">
												<div  class="flex flex-col items-center relative">
													<div class="w-full">
														<div @click.away="close()" class="my-2 p-1 bg-white flex border border-gray-200 rounded">
															<input 
																   x-model="filter"
																   x-transition:leave="transition ease-in duration-100"
																   x-transition:leave-start="opacity-100"
																   x-transition:leave-end="opacity-0"
																   @mousedown="open()"
																   @keydown.enter.stop.prevent="selectOption()"
																   @keydown.arrow-up.prevent="focusPrevOption()"
																   @keydown.arrow-down.prevent="focusNextOption()"
																    x-model="billing.name"
																   class="p-1 px-2 appearance-none outline-none w-full text-gray-800">
															<div class="text-gray-300 w-8 py-1 pl-2 pr-1 border-l flex items-center border-gray-200">
																<button @click="toggle()" class="cursor-pointer w-6 h-6 text-gray-600 outline-none focus:outline-none">
																	<svg  xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
																		<polyline x-show="!isOpen()" points="18 15 12 20 6 15"></polyline>
																		<polyline x-show="isOpen()" points="18 15 12 9 6 15"></polyline>
																	</svg>
																  
																</button>
															</div>
														</div>
													</div>
													<div x-show="isOpen()" class="absolute shadow bg-white top-100 z-40 w-full lef-0 rounded overflow-y-auto svelte-5uyqqj" style="top:100%; max-height: 200px;">
														<div class="flex flex-col w-full h-96 overflow-hidden ">
															<div class="w-full items-center flex bg-gray-100 hover:bg-gray-200 cursor-pointer" x-on:click="ClientOpen = !ClientOpen">
																+ Ajouter un nouveau client 	
															 </div>
														  <template x-for="(option, index) in filteredOptions()" :key="index">
															<div @click="onOptionClick(index)" :class="classOption(option.name, index) " :aria-selected="focusedOptionIndex === index">
																<div class="flex w-full items-center p-2 pl-2 border-transparent border-l-2 relative cursor-pointer hover:bg-gray-100">
																	<div class="w-6 flex flex-col items-center">																		
																	</div>
																	<div class="w-full items-center flex">
																		<div class="mx-2 -mt-1"><span x-model="billing.name" x-text="option.name"></span>
																			<div class="text-xs truncate w-full normal-case font-normal -mt-1 text-gray-500" x-text="option.phone"></div>
																		</div>
																	</div>
																</div>
															</div>
														  </template>
														 
														</div>
													</div>
												</div>
											</div>
								</div>									  
				 		   </div>					
				 		</div>					
					</div>
					<div class="w-full  border-gray-700 max-w-lg mx-auto">
 			         <div class="bg-white  rounded-md">
    		           <div class="">
                        <label for="prixTotal" class="block text-sm font-medium text-gray-600">Prix Total</label>
      					<input
        					x-model="TotalPay"
        					type="number"
        					id="prixTotal"
        					name="prixTotal"
        					class="mt-1 p-2 w-full rounded-md border border-gray-700  focus:ring  focus:ring-opacity-50"
      					/>
    				   </div>
    				   <div class="my-4">
      				  	<label for="prixPaye" class="block text-sm font-medium text-gray-600">Prix Payé</label>
      				  	<input
        				  	x-model="prixPaye"
        				  	type="number"
        				  	id="prixPaye"
        				  	name="prixPaye"
        				  	class="mt-1 p-2 w-full rounded-md border border-gray-700  focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
      				  	/>
    				   </div>
    				   <div class="my-4">
      				   <label for="prixRendu" class="block text-sm font-medium text-gray-600">Prix Rendu</label>
      				   <input
        				 x-model="prixRendu = prixPaye - TotalPay"
        				 type="number"
        				 id="prixRendu"
        				 name="prixRendu"
						 x-text="TotalPay - prixPaye"
        				 class="mt-1 p-2 w-full rounded-md border border-gray-700  focus:ring  focus:ring-opacity-50"
        				 readonly
      				    />
    				   </div>
  					 </div>
					</div>
				 </div>

				
				 <div class="w-full" >    
								<div class="flex  border-b py-2 items-start">
								  <div class="flex-1 px-1">
									 <p class="text-gray-800 uppercase tracking-wide text-sm font-bold">Référence</p>
								  </div>			 
								  <div class="flex-1 px-1">
									 <p class="text-gray-800 uppercase tracking-wide text-sm font-bold">Désignation</p>
								  </div>
								  <div class="px-1 w-20 text-right">
									 <p class="text-gray-800 uppercase tracking-wide text-sm font-bold">Quantité</p>
								  </div>
								  <div class="px-1 w-32 text-right">
								   <p class="leading-none">
									   <span class="block uppercase tracking-wide text-sm font-bold text-gray-800">PVU HT</span>
									   {% comment %} <span class="font-medium text-xs text-gray-500">(Incl. GST)</span> {% endcomment %}
								   </p>
							   </div>
				   
							   <div class="px-1 w-32 text-right">
								   <p class="leading-none">
									   <span class="block uppercase tracking-wide text-sm font-bold text-gray-800">Total HT</span>
									   {% comment %} <span class="font-medium text-xs text-gray-500">(Incl. GST)</span> {% endcomment %}
								   </p>
							   </div>
				   
							   <div class="px-1 w-20 text-center">
							   </div>								 
								</div>						 
								<template  x-for="invoice in items" :key="invoice.id">
								  <div class="flex no-worap -mx-1 py-2 border-b" >			 
									 <div class="flex-1 px-1" >
										 <p class="text-gray-800" x-text="invoice.ref"></p>
									 </div>
			 
									 <div class="flex-1 px-1" >
										 <p class="text-gray-800" x-text="invoice.name"></p>
									 </div>
					 
									 <div class="px-1 w-20 text-right">
										 <p class="text-gray-800" x-text="invoice.qty"></p>
									 </div>
									 <div class="px-1 w-32 text-right">
									   <p class="text-gray-800" x-text="numberFormat(invoice.rate)"></p>
								   	 </div>
				   
								     <div class="px-1 w-32 text-right">
									   <p class="text-gray-800" x-text="numberFormat(invoice.total)"></p>
								     </div>
																	
									 <div class="px-1 w-20 text-right" >
										 <a href="#" class="text-red-500 hover:text-red-600 text-sm font-semibold" @click.prevent="deleteItem(invoice.id)">Supprimer</a>
									 </div>
								  </div>
								</template>					 
								<button class="mt-6 bg-white hover:bg-gray-100 text-gray-700 font-semibold py-2 px-4 text-sm border border-gray-300 rounded shadow-sm" x-on:click="showModal">
								   Ajouter des produits
								</button>
				 </div>
				
				<div class="flex justify-between mb-3">
				  <div class="text-gray-800 text-right flex-1">Total HT</div>
					  <div class="text-right w-40">
						  <div class="text-gray-800 font-medium" x-html="netTotal"></div>
					  </div>
				  </div>
				  <div class="flex justify-between mb-4">
					  <div class="text-sm text-gray-600 text-right flex-1">Total TVA(19 %) </div>
					  <div class="text-right w-40">
						  <div class="text-sm text-gray-600" x-html="totalGST"></div>
					  </div>
				  </div> 
			  
				  <div class="py-2 border-t border-b">
					  <div class="flex justify-between">
						  <div class="text-xl text-gray-600 text-right flex-1">Net À Payer</div>
						  <div class="text-right w-40">
							  <div class="text-xl text-gray-800 font-bold" x-html="TotalPay"></div>
						  </div>
					  </div>
				  </div>			  
			   
					<div class="flex justify-between">
							<div></div>
							<button class="mt-6 bg-white hover:bg-gray-100 text-gray-700 font-semibold py-2 px-4 text-lg uppercase border border-gray-300 rounded shadow-sm" type="submit" x-on:click="validateBon">Valider </button>
					</div>

				 <!-- Preview  -->
				 <div style="background-color: rgba(0, 0, 0, 0.8)" class="fixed z-40 top-0 right-0 left-0 bottom-0 h-full w-full py-8" x-show.transition.opacity="openPreview">	
					<div class="shadow absolute -right-0 top-0 w-10 h-10 rounded-full bg-white text-gray-500 hover:text-gray-800 inline-flex items-center justify-center cursor-pointer"
						x-on:click="openPreview = !openPreview">
						<svg class="fill-current w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
							<path
								d="M16.192 6.344L11.949 10.586 7.707 6.344 6.293 7.758 10.535 12 6.293 16.242 7.707 17.656 11.949 13.414 16.192 17.656 17.606 16.242 13.364 12 17.606 7.758z" />
						</svg>
					</div>
			   		<div class="p-4 w-3/4 mx-auto relative left-0 right-0 overflow-hidden  bg-white h-full "  x-on:click.away="openPreview = !openPreview">
						 <div class="h-full">
						   <body class="bg-gray-100 font-sans">
  							<div class="container mx-auto p-4">
    							<div class="">
      							  <div class="text-center">
        							<h1 class="text-2xl font-bold">Bon de vente au comptoir</h1>
        							<p x-text="invoiceDate"></p>
        							<p x-text="invoiceNumber"></p>
      							  </div>
      							  <div class="mt-4">
        						    <table class="w-full">
          							<thead>
            							<tr>
              							<th class="border px-4 py-2">Réference du Produit</th>
              							<th class="border px-4 py-2">Désignation du Produit</th>
              							<th class="border px-4 py-2">Quantité</th>
              							<th class="border px-4 py-2">Prix</th>
              							<th class="border px-4 py-2">Total</th>
            							</tr>
          							</thead>
          						    <tbody>
           							<template x-for="invoice in items" :key="invoice.id">
                  						<tr class="border border-black">
                      						<td class="border border-black px-1 py-2 text-black text-xs" x-text="invoice.ref"></td>
                     		    			<td class="border border-black px-1 py-2 text-black text-xs" x-text="invoice.name"></td>
                      						<td class="border border-black px-1 py-2 w-32 text-right text-black text-xs" x-text="invoice.qty"></td>
                      						<td class="border border-black px-1 py-2 w-32 text-right text-black text-xs" x-text="invoice.rate"></td>
                      						<td class="border border-black px-1 py-2 w-32 text-right text-black text-xs" x-text="invoice.total"></td>
                  						</tr>
                					</template>
          						    </tbody>
       							    </table>
      							  </div>
      							  <div class="mt-4 text-right">
        							<p class="font-bold" x-text="'Total HT :'+' '+netTotal"></p>
        							<p class="font-bold" x-text="'TVA (19%) : '+' '+totalGST" ></p>
        							<p class="font-bold text-xl" x-text="'Total à Payer :'+' '+TotalPay"></p>
      							  </div>
    						    </div>
  				            </div>
						   </body>		   
						 </div>
			  		</div>				
				 </div>
			     <!-- /Preview -->

				 <!-- Print Template -->
				 <div id="js-print-template" x-ref="printTemplate" class="hidden">		
						 <body class="bg-gray-100 font-sans">
  							<div class="container mx-auto ">
    							<div class="">
      							  <div class="text-center">
        							<h1 class="text-xl font-bold">Bon de vente au comptoir</h1>
        							<p x-text="'Date Bon :'+' '+invoiceDate"></p>
        							<p x-text="'Code Bon :'+' '+invoiceNumber"></p>
      							  </div>
      							  <div class="mt-4">
        						    <table class="w-full">
          							<thead>
            							<tr>
              							<th class="border px-4 py-2">Réference du Produit</th>
              							<th class="border px-4 py-2">Désignation du Produit</th>
              							<th class="border px-4 py-2">Quantité</th>
              							<th class="border px-4 py-2">Prix</th>
              							<th class="border px-4 py-2">Total</th>
            							</tr>
          							</thead>
          						    <tbody>
           							<template x-for="invoice in items" :key="invoice.id">
                  						<tr class="border ">
                      						<td class="border  px-1 py-2 text-black text-xs" x-text="invoice.ref"></td>
                     		    			<td class="border  px-1 py-2 text-black text-xs" x-text="invoice.name"></td>
                      						<td class="border  px-1 py-2 w-32 text-right text-black text-xs" x-text="invoice.qty"></td>
                      						<td class="border  px-1 py-2 w-32 text-right text-black text-xs" x-text="invoice.rate"></td>
                      						<td class="border  px-1 py-2 w-32 text-right text-black text-xs" x-text="invoice.total"></td>
                  						</tr>
                					</template>
          						    </tbody>
       							    </table>
      							  </div>
      							  <div class="mt-4 text-right">
        							<p class="font-bold" x-text="'Total HT :'+' '+netTotal"></p>
        							<p class="font-bold" x-text="'TVA (19%) : '+' '+totalGST" ></p>
        							<p class="font-bold text-xl" x-text="'Total à Payer :'+' '+TotalPay"></p>
      							  </div>
    						    </div>
  				            </div>
						   </body>		
				 </div>
				 <!-- /Print Template -->

				 <!-- Modal -->
				 <div style=" background-color: rgba(0, 0, 0, 0.8); " class="fixed z-40 top-0 right-0 left-0 bottom-0 h-full w-full" x-cloak x-show.transition.opacity="openModal">
					<div class="p-4 max-w-xl mx-auto relative left-0 right-0 overflow-hidden mt-24">
						<div class="shadow absolute right-0 top-0 w-10 h-10 rounded-full bg-white text-gray-500 hover:text-gray-800 inline-flex items-center justify-center cursor-pointer"
							x-on:click="openModal = !openModal">
							<svg class="fill-current w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
								<path
									d="M16.192 6.344L11.949 10.586 7.707 6.344 6.293 7.758 10.535 12 6.293 16.242 7.707 17.656 11.949 13.414 16.192 17.656 17.606 16.242 13.364 12 17.606 7.758z" />
							</svg>
						</div>
				        <form action="" id="myForm">
				    <div class="shadow w-full rounded-lg bg-white overflow-hidden block p-8">		
					   <h2 class="font-bold text-2xl mb-6 text-gray-800 border-b pb-2">Ajouter des produits au bon</h2>
					   {% comment %} <div class="mb-4">
						 <label class="block text-gray-700 font-semibold mb-2" for="product">
						   Entrepot :
						 </label>
						 <select
						   class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
						   id="entrepot"
						   name="entrepot"
						   x-on:change="getStock($event.target.value)
						    item.ent= $event.target.value
						   "
						   required  
					     >
						    <option value="" disabled selected>Select entrepot</option>						
						    {% for entrepot in entrepots %}
						      <option value="{{ entrepot.name }}" data-stock="{{entrepot.get_stocks}}">
							    {{ entrepot.name }} 
						      </option>
					        {% endfor %}
					     </select>
					  </div> {% endcomment %}
					 <div class="mb-4">
						<label class="block text-gray-700 font-semibold mb-2" for="product">
						  Product Name or Code:
						</label>
						<select
						 class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
						 id="product"
						 name="product"
						 x-on:change="
						 item.ref = $event.target.value;
						 item.name=$event.target.selectedOptions[0].dataset.name;
						 item.price = $event.target.selectedOptions[0].dataset.price;					
						 item.quantity = $event.target.selectedOptions[0].dataset.quantity;
						 showQuantity = true;
						 selectedProductQuantity = $event.target.selectedOptions[0].dataset.quantity;
						 document.getElementById('price').value = item.price;"
						 required  
					 	 >
							<option value="" disabled selected>Select product</option>
							<option value="" >Frais Transport</option>
            				<template x-for="stock_item in stocks">
             					<option
             						x-bind:value="stock_item.ref"
              						x-bind:data-name="stock_item.name"
              						x-bind:data-price="stock_item.prix"
              						x-bind:data-quantity="stock_item.qty"
									x-text="stock_item.name"
             					>
            				   </option>
           			 	    </template>
					    </select>
					 </div>				  
					 <div class="mb-4">
						<label class="block text-gray-700 font-semibold mb-2" for="quantity">
						  Quantity:
						  <div class="mb-4" id="productQuantityDiv" style="display: none;" x-show="showQuantity">
							<label class="block text-primary font-medium text-sm mb-2">
							  Available Quantity: <span id="productQuantity" x-text="selectedProductQuantity"></span>
							</label>
						  </div>
						</label>
						<input
						  class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
						  type="number"
						  id="quantity"
						  name="quantity"
						  placeholder="Enter quantity"
						  min="1"
						  max="5"
						  required
						  x-model="item.qty"
						  x-bind:max="selectedProductQuantity"
						>
					 </div>	
					 <div class="mb-4">
					  			<label class="block text-gray-700 font-semibold mb-2" for="price">
									Price:
					  			</label>
					  			<input
									class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
									type="text"
									id="price"
									name="price"
									placeholder="Price will be fetched automatically"
									x-model="item.rate"
					  			>
					  </div>
					  <div class="mb-4">
						  			<label class="block text-gray-700 font-semibold mb-2" for="product">
							  			TVA:
						  			</label>
						  			<select
							  			class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
							  			id="gst"
							  			name="gst"
							  			x-on:change="
							  			 item.gst = $event.target.value;
							  			"
								  			required  
						   			>
						   			<option value="0"selected>0%</option>
						   			<option value="19" >19 %</option>            
						  			</select>
					  </div>								
					 <div class="mt-8 text-right">
						 <button type="button" class="bg-white hover:bg-gray-100 text-gray-700 font-semibold py-2 px-4 border border-gray-300 rounded shadow-sm mr-2" @click="openModal = !openModal">
						   Cancel
						 </button>	
						 <button type="button" class="bg-gray-800 hover:bg-gray-700 text-white font-semibold py-2 px-4 border border-gray-700 rounded shadow-sm" @click="addItem()">
						   Add Item
						 </button>	
					 </div>
				   </div> 
			   		</form>
					</div>
				 </div>
				<!-- /Modal -->
		   
			
			<!-- Modal Creation Client -->
    		<div style=" background-color: rgba(0, 0, 0, 0.8); " class="fixed z-40 top-0 right-0 left-0 bottom-0 h-full w-full overflow-hidden scroll" x-cloak x-show.transition.opacity="ClientOpen">
    		  <div class="p-4 max-w-xl mx-auto relative left-0 right-0 overflow-hidden mt-0 md:mt-12">
     		   <div class="shadow absolute right-0 top-0 w-10 h-10 rounded-full bg-white text-gray-500 hover:text-gray-800 inline-flex items-center justify-center cursor-pointer"
        		 x-on:click="ClientOpen = false">
        		 <svg class="fill-current w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          		 <path
            		d="M16.192 6.344L11.949 10.586 7.707 6.344 6.293 7.758 10.535 12 6.293 16.242 7.707 17.656 11.949 13.414 16.192 17.656 17.606 16.242 13.364 12 17.606 7.758z" />
        		 </svg>
      		   </div>
      		   <form action="" id="myForm">
      		     <div class="shadow w-full rounded-lg bg-white overflow-hidden block p-8">		
       		       <h2 class="font-bold text-2xl mb-6 text-gray-800 border-b pb-2">Ajouter Client</h2>
        		    <div class="form-input">
          			<div class="mb-4">
						<label class="block text-gray-700 font-semibold mb-2" for="name">
						  Nom Client :
						</label>
						<input
						  class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
						  type="text"
						  id="name"
						  name="name"
              			  placeholder=" Nom du client . . . "
						>
					</div>
          			<div class="mb-4">
						<label class="block text-gray-700 font-semibold mb-2" for="address">
						  Adresse Client :
						</label>
						<input
						  class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
						  type="text"
						  id="address"
						  name="address"
						  placeholder=" Addresse du client. . . "
						>
					</div>
          			<div class="mb-4">
						<label class="block text-gray-700 font-semibold mb-2" for="phone">
						  Numéro de téléphone :
						</label>
						<input
						  class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
						  type="text"
						  id="phone"
						  name="phone"
						  placeholder="Numéro de téléphone du client . . ."
						>
					</div>
          			<div class="mb-4">
						<label class="block text-gray-700 font-semibold mb-2" for="email">
						  E-mail :
						</label>
						<input
						  class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
						  type="text"
						  id="email"
						  name="email"
						  placeholder="Email du client . . ."
						  x-model="item.rate"
						>
					</div>
          			<div class="mb-4">
						<label class="block text-gray-700 font-semibold mb-2" for="regcom">
						  Registre de commerce :
						</label>
						<input
						  class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
						  type="text"
						  id="regcom"
						  name="regcom"
						  placeholder="Registre de commerce du client . . ."
						>
					</div>
          			<div class="mb-4">
						<label class="block text-gray-700 font-semibold mb-2" for="catclient">
						  Catégorie de client :
						</label>
						<select
						 class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
						 id="catclient"
						 name="catclient"						
						 required  
					   >
						 <option value="" disabled selected>Catégories de client</option>
						 <option value="null"> Aucun </option>
             				{% for type in types_clients  %}
					  			 <option value="{{type.id}}"> {{type.type_desc}} </option>             
            				{% endfor %}		
					  </select>
					</div>
        		    </div>
       		        <div class="mt-8 text-right">
       		         <button type="button" class="bg-white hover:bg-gray-100 text-gray-700 font-semibold py-2 px-4 border border-gray-300 rounded shadow-sm mr-2" @click="isOpen = false">
        		      Cancel
       		         </button>	
       		         <button type="button" class="bg-gray-800 hover:bg-gray-700 text-white font-semibold py-2 px-4 border border-gray-700 rounded shadow-sm" @click="addClient()">
       			      Add Item
      		         </button>	
      		        </div>
    		     </div> 
   		       </form>
    		  </div>
   		    </div>
			<!-- end Modal Creation Client -->
		</div>
  		 <!-- /Modal -->
		  <script src="https://cdn.jsdelivr.net/npm/pikaday/pikaday.js"></script>
		  <script>	
			function invoices() {
				return {
						items: [],
						ClientOpen:false,
						clients:[],
						stocks:[],
						selectedProductQuantity:'',
						productsdifferent :[],
						invoiceNumber: '{{code}}',
						invoiceDate: new Date().toISOString().slice(0, 10),
						invoiceDueDate: '',
		        		BonEntrepot:'',
						openPreview: false,
						bonRetour:false,
						showConfirmation:false,
						AssociatedBL:'',
		        		numDoc:'',
						dateDoc:'',
						numConst:'',
						totalGST: 0,
 						netTotal: 0,
 						TotalRemise :0,
					  	TotalPay:0,
						dateConst:'',
    					prixPaye: 0,
    					
						item: {
							id: '',
							name: '',
							ref:'',
							ent:'',
							qty: 0,
							rate: 0,
							total: 0,
							gst: 0,
						},
		
						billing: {
							name:'',
							address: '',
							extra: '',
				      		phone:''
						},

						from: {
							name: '{{selected_store.name}}',
							address: '{{selected_store.location}}',
							user:'{{request.user.username}}',
							extra: ''
						},
		
						showTooltip: false,
						showTooltip2: false,
						openModal: false,
				     	showQuantity:false,
						filter: '',
						show: false,
						selected: null,
						focusedOptionIndex: null,
						options: [],
						close() { 
								this.show = false;
								this.filter = this.selectedName();
								this.billing.name = this.selectedName();
								this.focusedOptionIndex = this.selected ? this.focusedOptionIndex : null;
						},
						open() { 
							this.show = true; 
							this.filter = '';
												},
												toggle() { 
												  if (this.show) {
													this.close();
												  }
												  else {
													this.open()
												  }
												},
												isOpen() { return this.show === true },
												selectedName() { return this.selected ? this.selected.name : this.filter; },
												classOption(id, index) {
												  const isSelected = this.selected ? (id == this.selected.name) : false;
												  const isFocused = (index == this.focusedOptionIndex);
												  return {
													'cursor-pointer w-full border-gray-100 border-b hover:bg-blue-50': true,
													'bg-blue-100': isSelected,
													'bg-blue-50': isFocused
												  };
												},
												fetchOptions() {
												   clientsData={{ clients|safe }}				
					   							  for (const client of clientsData) {					  
					    							const client_info = {					   								
						   							  name: client.client_name,
						   							  address: client.client_address,
						   							  phone: client.client_phone,						
					    							};
					    							this.options.push(client_info);
													console.log(this.options);
					   							  }
												   itemsData={{stock | safe}};
						  						   for (const itemData of itemsData) {		
							  							console.log(itemData.entrepot)						 
							  							const item = {
								  							id: this.generateUUID(),
								  							name: itemData.product_name,
								  							ref: itemData.reference,
								  							ent:itemData.entrepot,
								  							categorie: itemData.categorie,
								  							qty: itemData.quantity,
								  							prix: itemData.price
							  							};
							  							console.log(item.ent)
							  							this.stocks.push(item);
												   }
												},
												filteredOptions() {
												  return this.options
													? this.options.filter(option => {
														return (option.name.toLowerCase().indexOf(this.filter) > -1) 
														  || (option.address.toLowerCase().indexOf(this.filter) > -1)
														  || (option.phone.toLowerCase().indexOf(this.filter) > -1)
													})
												   : {}
												},
												onOptionClick(index) {
												  this.focusedOptionIndex = index;
												  this.selectOption();
												},
												selectOption() {
												  if (!this.isOpen()) {
													return;
												  }
												  this.focusedOptionIndex = this.focusedOptionIndex ?? 0;
												  const selected = this.filteredOptions()[this.focusedOptionIndex]
												  if (this.selected && this.selected.name == selected.name) {
													this.filter = '';
													this.selected = null;
												  }
												  else {
													this.selected = selected;
													this.filter = this.selectedName();
												  }
												  this.close();
												},
												focusPrevOption() {
												  if (!this.isOpen()) {
													return;
												  }
												  const optionsNum = Object.keys(this.filteredOptions()).length - 1;
												  if (this.focusedOptionIndex > 0 && this.focusedOptionIndex <= optionsNum) {
													this.focusedOptionIndex--;
												  }
												  else if (this.focusedOptionIndex == 0) {
													this.focusedOptionIndex = optionsNum;
												  }
												},
												focusNextOption() {
												  const optionsNum = Object.keys(this.filteredOptions()).length - 1;
												  if (!this.isOpen()) {
													this.open();
												  }
												  if (this.focusedOptionIndex == null || this.focusedOptionIndex == optionsNum) {
													this.focusedOptionIndex = 0;
												  }
												  else if (this.focusedOptionIndex >= 0 && this.focusedOptionIndex < optionsNum) {
													this.focusedOptionIndex++;
												  }
												},

				    showModal(){
						console.log(this.productsdifferent);
				        document.getElementById('myForm').reset(); 
				        this.showQuantity = false; 
				        this.openModal =true;
				    },

				    getProducts(bonL){
					 dataObj={
					  bonL : bonL,						 
					 }
					 console.log('fetching the stock  ...',dataObj);
					 axios.post('fetchProducts/', dataObj, {
						 headers: {
						 'Content-Type': '',
						 'X-CSRFToken': getCookie('csrftoken'),
						 }
					 })
					 .then((response) => {
						 console.log(response.data.produits) 
						 itemsData=response.data.produits;
						 for (const itemData of itemsData) {
							 console.log(itemData.entrepot)						 
							 const item = {
								 id: this.generateUUID(),
								 name: itemData.name,
								 ref: itemData.reference,
								 ent:itemData.entrepot,
								 qty: itemData.quantity,
								 rate: itemData.unitprice,
								 total: itemData.totalprice
							 };
							 console.log(item.ent)
							 this.items.push(item);
						 }						 
					 })
					 .catch((error) => {
						 alert(error)
					 });
				    },
				    getStock(entrepotStock){
						this.stocks=[]
						dataObj={
						 nomEnt : entrepotStock,						 
						}
						console.log('fetching the stock  ...',dataObj);
						axios.post('fetchStock/', dataObj, {
							headers: {
							'Content-Type': '',
							'X-CSRFToken': getCookie('csrftoken'),
							}
						})
						.then((response) => {
							console.log(response.data.stocks) 
							itemsData=response.data.stocks;
							for (const itemData of itemsData) {		
								console.log(itemData.entrepot)						 
								const item = {
									id: this.generateUUID(),
									name: itemData.product_name,
									ref:  itemData.reference,
									ent:  itemData.entrepot,
									qty:  itemData.quantity,
									prix: itemData.price
								};
								this.stocks.push(item);
							}						 
						})
						.catch((error) => {
							alert(error)
					
						});
				    },
				
				    initData() {
					  this.generateInvoiceNumber(111111, 999999);
					  clientsData={{ clients|safe }}
					
					   for (const client of clientsData) {					  
					    const client_info = {	
						   id: this.generateUUID(),			
						   name: client.client_name,
						   address: client.client_address,
						   phone: client.client_phone,						
					    };
					    this.clients.push(client_info);
					   }
				    },
		
						addItem() {
							this.item.rate = document.getElementById('price').value;
							console.log(this.item.ent)
							this.items.push({
								id: this.generateUUID(),
								name: this.item.name,
								ref:this.item.ref,
								qty: this.item.qty,
								ent:this.item.ent,
								rate: this.item.rate,
								gst: this.calculateGST(this.item.gst, this.item.rate),
								total: this.item.qty * this.item.rate
							})
				      		console.log(this.item.rate)
							this.itemTotal();
							this.itemTotalGST();
		          			const netTotal = parseFloat(this.netTotal.replace(/[^\d.,]/g, "").replace(",", "."));
							const totalGST = parseFloat(this.totalGST.replace(/[^\d.,]/g, "").replace(",", "."));
							console.log(netTotal)
							// Calculate the sum
							this.TotalPay = (netTotal + totalGST).toFixed(2);

							this.item.id = '';
							this.item.name = '';
							this.item.qty = 0;
							this.item.rate = 0;
							this.item.gst = 0;
							this.item.total = 0;
				      		document.getElementById('myForm').reset(); 
				     	 this.showQuantity = false; 
				     		 this.openModal=false;
						},
		
					    deleteItem(uuid) {
							this.items = this.items.filter(item => uuid !== item.id);
							this.itemTotal();
							this.itemTotalGST();
					    },	

					    itemTotal() {
							this.netTotal = this.numberFormat(this.items.length > 0 ? this.items.reduce((result, item) => {
								return result + item.total;
							}, 0) : 0);
					    },
		
						itemTotalGST() {
							this.totalGST =  this.numberFormat(this.items.length > 0 ? this.items.reduce((result, item) => {
								return result + (item.gst * item.qty);
							}, 0) : 0);
						},
		
						calculateGST(GSTPercentage, itemRate) {	
							return this.numberFormat((itemRate * GSTPercentage/100).toFixed(2));
						},
		
						generateUUID() {
							return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
								var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
								return v.toString(16);
							});
						},
		
						generateInvoiceNumber(minimum, maximum) {
							const randomNumber = Math.floor(Math.random() * (maximum - minimum)) + minimum;
							this.invoiceNumber = '#BS-'+ randomNumber;
						},
		
						numberFormat(amount) {
							return amount.toLocaleString("fr-FR", {
								style: "currency",
								currency: "DZD"
							});
						},
		
						printInvoice() {
							var printContents = this.$refs.printTemplate.innerHTML;
							var originalContents = document.body.innerHTML;
							document.body.innerHTML = printContents;
							window.print();
							document.body.innerHTML = originalContents;
							this.items=[];
						},
					
						validateBon(){
							const dataObj = {
								IdBon : this.invoiceNumber,
								dateBp:this.invoiceDate,
								clientInfo:this.billing,
								entrepotBon : this.BonEntrepot,		
								AssociatedBL :this.AssociatedBL,						
								produits:this.items,
								numDoc :this.numDoc,
								dateDoc :this.dateDoc,
								numConst :this.numConst,
								dateConst :this.dateConst,
							};
				      		axios.post('', {
					    		 formData: dataObj
					    	}, {
					    		headers: {
						   			'Content-Type': '',
						   			'X-CSRFToken': getCookie('csrftoken'),
					    		}
				 	    	})
							.then((response) => {
								data= response.data
					  			console.log(data.error)
					  			if(data.error){
									alert(data.error);
					 			}else{
									alert("Bon Validé");
					  			}		  
					 		})
							.catch((error) => {
					  			alert(error)
					 		});								
						},
						
					}
			}
			function getCookie(name) {
					var cookieValue = null;
					if (document.cookie && document.cookie !== '') {
						var cookies = document.cookie.split(';');
						for (var i = 0; i < cookies.length; i++) {
							var cookie = cookies[i].trim();
							// Does this cookie string begin with the name we want?
							if (cookie.substring(0, name.length + 1) === (name + '=')) {
								cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
								break;
							}
						}
					}
					return cookieValue;
			}
		  </script>
	    </body>
 	  </main>	
   </div>
</div>
</div>
</div>

{% endblock content %}