<div class="main"> 
        

  
        
        

        
        <div class=" content">
          



<section class="flex flex-col relative bg-lighter xl:bg-white bg-no-repeat bg-cover product-overview" style="background-image: url(/static/images/product-overview.3c203e6579fd.png);">
    <article class="container mx-auto grid grid-cols-1 md:grid-cols-2 gap-0 md:gap-12 lg:gap-28 mt-10 details items-center place-items-end">
        <div class="flex flex-col order-last md:order-first p-10 text max-w-2xl">
            <h1 class="text-stone-800 text-4xl lg:text-6xl leading-normal text-center md:text-right">SUPPORT DE MONITEUR DOUBLE PROFESSIONNEL MARM2</h1>
            <div class="prose prose-sm lg:prose-base max-w-none font-thin text-stone-500 md:text-right">
                
                <p><span>Le MARM2 est un support de moniteur double de haute qualité, conçu pour les écrans de 13" à 27" et capable de supporter jusqu'à 8 kg de poids par bras. Ce support robuste et durable dispose de bras entièrement articulés, d'un système de gestion des câbles et d'une hauteur de moniteur réglable.</span></p>
                
            </div>
           <!-- <div class="py-5 text-stone-800">
                
                
                 
                
                <div class="flex flex-col justify-end">
                
                
                
                
                
                </div>
                
            </div>-->
        </div>
        <div class="image">
            <p></p>
            <img src="https://marsgaming.dz/marsgaming/media/uploads/featured/marm2_960x960.png" class="drop-shadow-4xl" alt="SUPPORT DE MONITEUR DOUBLE PROFESSIONNEL MARM2" data-pagespeed-url-hash="235691441" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
        </div>
    </article>
    <div class="container grid grid-cols-1 px-10 lg:px-0 py-10 lg:py-40 mx-auto icons">
        <h2 class="text-center font-alt-title text-stone-800 text-3xl lg:text-4xl tracking-tight">Optimisez votre espace et améliorez votre ergonomie</h2>
        
        <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-10 mt-20">
            
            <li class="">
                <img src="https://marsgaming.dz/marsgaming/media/uploads/feature_icons/icon_40.png" class="mx-auto" alt="Support de moniteur double pour écrans de 13&quot; à 27&quot;" data-pagespeed-url-hash="1652692294" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                <div class="text-center mt-6 font-light text-lg">Support de moniteur double pour écrans de 13" à 27"</div>
            </li>
            
            <li class="">
                <img src="https://marsgaming.dz/marsgaming/media/uploads/feature_icons/icon_13.png" class="mx-auto" alt="Bras entièrement articulés" data-pagespeed-url-hash="2761840096" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                <div class="text-center mt-6 font-light text-lg">Bras entièrement articulés</div>
            </li>
            
            <li class="">
                <img src="https://marsgaming.dz/marsgaming/media/uploads/feature_icons/icon_52.png" class="mx-auto" alt="Structure robuste" data-pagespeed-url-hash="2166476123" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                <div class="text-center mt-6 font-light text-lg">Structure robuste</div>
            </li>
            
            <li class="">
                <img src="https://marsgaming.dz/marsgaming/media/uploads/feature_icons/icon_50.png" class="mx-auto" alt="Normes VESA75 et VESA100" data-pagespeed-url-hash="1577476281" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                <div class="text-center mt-6 font-light text-lg">Normes VESA75 et VESA100</div>
            </li>
            
        </ul>
    </div>
</section>






<section class="relative grid grid-cols-1 md:grid-cols-2 items-center bg-fixed bg-cover product-promo" style="background-image: url(/static/images/module-1.46f8ad9289d7.png);">
  <div class=" dark text-white text-center text-start py-8 px-6 promo-text">
   
      <h2>CONFORT ET ERGONOMIE SANS PRÉCÉDENT</h2>
    <div class="prose prose-sm md:prose-base dark:prose-invert max-w-2xl font-light">
      
      <p><span>Le MARM2 n'est pas seulement un support de moniteur, c'est une solution pour améliorer votre bien-être et votre productivité. Ses bras entièrement articulés vous permettent d'ajuster la position de vos moniteurs avec précision et facilité. Imaginez pouvoir incliner, tourner et pivoter chaque écran pour l'adapter à l'angle de vue qui vous convient le mieux, vous aidant à prévenir la fatigue oculaire et la douleur corporelle.</span></p>
      
    </div>
  </div>
  <div class="md:order-first h-full overflow-hidden promo-image">
    <img src="https://marsgaming.dz/marsgaming/media/uploads/promo/marm2-detail_960x480.png" data-src="https://marsgaming.dz/marsgaming/media/uploads/promo/marm2-detail_960x480.png" alt="CONFORT ET ERGONOMIE SANS PRÉCÉDENT" class="lazyload w-full h-full object-cover" data-pagespeed-url-hash="1418404329" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
  </div>
</section>




<section class="grid grid-cols-1 lg:grid-cols-3 items-center justify-items-center bg-white text-center overflow-hidden middle-image-layout py-20 lg:pt-0">
  <div class="text-justify p-10">
    <h3 class="text-3xl md:text-4xl pb-5 lg:pb-10 text-stone-800 text-center">NOIR OU BLANC</h3>
    <div class="prose prose-sm lg:prose-base font-light">
      <p><span>Le MARM2 est disponible en deux versions, blanc et noir, afin que vous puissiez choisir celle qui s'adapte le mieux à votre espace de travail.</span></p>
    </div>
  </div>
  
  <div class="middle-image lg:pb-10">
    <img src="https://marsgaming.dz/marsgaming/media/uploads/layouts/marm2-color-1_480x600.png" data-src="https://marsgaming.dz/marsgaming/media/uploads/layouts/marm2-color-1_480x600.png" alt="case color 1" class="lazyload drop-shadow-2xl lg:drop-shadow-3xl my-auto" data-pagespeed-url-hash="137767087" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
  </div>
  
  <div class="text-justify p-10">
    <h3 class="text-3xl md:text-4xl pb-5 lg:pb-10 text-stone-800 text-center">DISPONIBLE EN DEUX VERSIONS</h3>
    <div class="prose prose-sm lg:prose-base font-light">
      <p><img alt="" height="37" src="https://marsgaming.dz/marsgaming/media/uploads/.thumbnails/1.png/1-72x37.png" width="72" data-pagespeed-url-hash="1316234566" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></p>
    </div>
  </div>
</section>



<section class="grid grid-cols-1 md:grid-cols-2 md:items-center justify-items-center bg-white right-image-layout pt-20 lg:pt-0">
  <div class="!text-justify p-10 max-w-2xl lg:ml-auto">
    <h3 class="text-3xl md:text-4xl pb-5 lg:pb-10 text-stone-800 text-center lg:text-end">BRAS ARTICULÉS POUR UN AJUSTEMENT TOTAL</h3>
    <div class="prose prose-sm lg:prose-base font-light max-w-none">
      <p><span>Le support MARM2 va au-delà des supports de moniteur conventionnels. Ses deux bras entièrement articulés vous permettent d'ajuster chaque moniteur individuellement pour obtenir l'angle et la hauteur parfaits. Il réduit la fatigue oculaire et le stress sur le cou, les épaules et le dos, améliorant ainsi votre productivité et votre bien-être.</span></p>
    </div>
  </div>
  
  <div class="flex justify-center md:justify-start bg-secondary w-full h-full overflow-hidden right-image">
    <img src="/static/images/transparent_wide.febc15f83ca8.gif" data-src="https://marsgaming.dz/marsgaming/media/uploads/layouts/marm2-iso-1_640x480.png" alt="BRAS ARTICULÉS POUR UN AJUSTEMENT TOTAL" class="lazyload drop-shadow-3xl object-cover" data-pagespeed-url-hash="1418404329" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
  </div>
</section>



<section class="grid grid-cols-1 md:grid-cols-2 md:items-center justify-items-center bg-white left-image-layout pt-20 lg:pt-0">
  <div class="!text-justify p-10 max-w-2xl lg:mr-auto">
    <h3 class="text-3xl md:text-4xl pb-5 lg:pb-10 text-stone-800 text-center lg:text-start">STRUCTURE ROBUSTE ET DURABLE</h3>
    <div class="prose prose-sm lg:prose-base font-light max-w-none">
      <p><span>Le MARM2 est fabriqué en acier de haute qualité, offrant une structure robuste et durable qui garantit une stabilité exceptionnelle. Vous n'aurez pas à vous soucier des mouvements inattendus ou des vibrations désagréables pendant que vous travaillez. Ce support fournit une base solide et sûre pour vos écrans, vous offrant tranquillité d'esprit et confiance dans ses performances.</span></p>
    </div>
  </div>

  <div class="flex justify-center md:justify-end bg-secondary md:order-first w-full h-full overflow-hidden left-image">
    <img src="/static/images/transparent_wide.febc15f83ca8.gif" data-src="https://marsgaming.dz/marsgaming/media/uploads/layouts/marm2-iso-2_640x480.png" alt="STRUCTURE ROBUSTE ET DURABLE" class="lazyload drop-shadow-3xl object-cover" data-pagespeed-url-hash="1418404329" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
  </div>
</section>



<section class="grid grid-cols-1 md:grid-cols-2 md:items-center justify-items-center bg-white right-image-layout pt-20 lg:pt-0">
  <div class="!text-justify p-10 max-w-2xl lg:ml-auto">
    <h3 class="text-3xl md:text-4xl pb-5 lg:pb-10 text-stone-800 text-center lg:text-end">ORGANISATION ET ESPACE OPTIMISÉS</h3>
    <div class="prose prose-sm lg:prose-base font-light max-w-none">
      <p><span>Le MARM2 ne prend pas en charge que vos moniteurs, il prend également soin de votre espace de travail. Son système de gestion des câbles intégré maintient vos câbles en ordre et organisés, évitant les enchevêtrements et le désordre sur votre bureau. De plus, sa capacité de levage réglable et son support pour jusqu'à deux moniteurs vous permettent de libérer et d'utiliser au maximum votre espace de travail.</span></p>
    </div>
  </div>
  
  <div class="flex justify-center md:justify-start bg-secondary w-full h-full overflow-hidden right-image">
    <img src="/static/images/transparent_wide.febc15f83ca8.gif" data-src="https://marsgaming.dz/marsgaming/media/uploads/layouts/marm2-detail-2_960x480.png" alt="ORGANISATION ET ESPACE OPTIMISÉS" class="lazyload drop-shadow-3xl object-cover" data-pagespeed-url-hash="1418404329" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
  </div>
</section>



<section class="grid grid-cols-1 md:grid-cols-2 md:items-center justify-items-center bg-white left-image-layout pt-20 lg:pt-0">
  <div class="!text-justify p-10 max-w-2xl lg:mr-auto">
    <h3 class="text-3xl md:text-4xl pb-5 lg:pb-10 text-stone-800 text-center lg:text-start">INSTALLATION ET CONFIGURATION FACILES</h3>
    <div class="prose prose-sm lg:prose-base font-light max-w-none">
      <section class="gd-mb-12 product-module-3">
<article>
<div class="gd-mb-12 gd-tb-6 text">
<p>Le MARM2 est entièrement compatible avec les normes VESA75 et VESA100, ce qui garantit une installation et une configuration simples. Vous n'aurez besoin que de quelques minutes pour monter et fixer vos moniteurs aux bras du support. Avec sa conception intuitive, vous pourrez commencer à profiter des avantages d'une configuration à double moniteur rapidement et facilement.</p>
</div>
</article>
</section>
<section class="gd-mb-12 product-module-3-alternate"></section>
<section class="gd-mb-12 product-module-7">
<article class="gd-container">
<div class="gd-mb-12 video"></div>
</article>
</section>
<p></p>
    </div>
  </div>

  <div class="flex justify-center md:justify-end bg-secondary md:order-first w-full h-full overflow-hidden left-image">
    <img src="/static/images/transparent_wide.febc15f83ca8.gif" data-src="https://marsgaming.dz/marsgaming/media/uploads/layouts/marm2-detail-3_960x480.jpg" alt="INSTALLATION ET CONFIGURATION FACILES" class="lazyload drop-shadow-3xl object-cover" data-pagespeed-url-hash="1418404329" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
  </div>
</section>



        </div>
        
        

        
      </div>