 <!-- Loading screen -->
   <!-- sidebar -->
 <div class="sidebar max-h-screen top-0 h-screen bg-gray-100  text-white w-60 fixed  left-0 transform transition duration-200 ease-in-out "
   x-data="{ open: true }" x-on:togglesidebar.window=" open = !open" x-show="true"
   :class="open === true ? 'md:translate-x-0 md:sticky ':'-translate-x-full' ">  
   <!-- nav -->
   <nav class="px-4 pt-4  max-h-[calc(100vh-64px)]" x-data="{selected:'Tasks'}">
       <ul class="flex flex-col space-y-2">
         {% if 'ventes.can_see_bondevis' in request.session.permissions or 'ventes.can_see_bonlivraison' in request.session.permissions or 'ventes.can_see_boncomptoires' in request.session.permissions  or 'ventes.can_see_bongarantie' in request.session.permissions or 'ventes.can_see_bonretour' in request.session.permissions or 'ventes.can_see_avoir' in request.session.permissions %}
           <div class="section border rounded-lg  text-sm text-gray-700 border-gray-700 mb-1 pl-3">
            Ventes
           </div>
         <!-- ITEM -->
         {% if 'ventes.can_see_bondevis' in request.session.permissions or request.session.role == "manager" %}
           <li class="text-sm text-gray-500 ">
             <a href="{% url 'list-devis' %}"
                class="flex items-center w-full py-1 px-2 rounded relative hover:text-white hover:bg-gray-700">
                <div class="pr-2">
                
                </div>
                <div>Bons Devis</div>
             </a>
           </li>
         {% endif %}
         <!-- ITEM -->
         {% if 'ventes.can_see_bonlivraison' in request.session.permissions or request.session.role == "manager"  %}
           <li class="text-sm text-gray-500 ">
             <a href="{% url 'sell-bills' %}"
                class="flex items-center w-full py-1 px-2 rounded relative hover:text-white hover:bg-gray-700 ">
                <div class="pr-2">
              
                </div>
                <div> Bons Livraisons </div>
              </a>
           </li>
           
           {% if request.session.store != "2" and request.session.store != "8" %}
                <li class="text-sm text-gray-500 ">
                  <a href="{% url 'sell-bills-kit' %}"
                  class="flex items-center w-full py-1 px-2 rounded relative hover:text-white hover:bg-gray-700 ">
                  <div class="pr-2">
                    
                  </div>
                  <div> Bons Livraisons Kit </div>
                </a>
              </li>
              <li class="text-sm text-gray-500 ">
                <a href="{% url 'sell-bills-cartons' %}"
                  class="flex items-center w-full py-1 px-2 rounded relative hover:text-white hover:bg-gray-700 ">
                  <div class="pr-2">
                
                  </div>
                  <div> Bons Livraisons Cartons</div>
                </a>
              </li>
              <li class="text-sm text-gray-500 ">
                 <a href="{% url 'pcsell-bills' %}"
                    class="flex items-center w-full py-1 px-2 rounded relative hover:text-white hover:bg-gray-700 ">
                    <div class="pr-2">
                    </div>
                    <div> Bons Livraisons PC </div>
                  </a>
               </li>
             {% endif %}
         {% endif%}
         <li class="text-sm text-gray-500 ">
          <a href="{% url 'edited-bills' %}"
             class="flex items-center w-full py-1 px-2 rounded relative hover:text-white hover:bg-gray-700 ">
             <div class="pr-2">
           
             </div>
             <div> Bons Livraisons Modifiés</div>
           </a>
        </li>
         {% if 'ventes.can_see_boncomptoires' in request.session.permissions  %}
           <li class="text-sm text-gray-500 ">
               <a href="{% url 'comptoir-bills' %}"
                   class="flex items-center w-full py-1 px-2 rounded relative hover:text-white hover:bg-gray-700">
                   <div class="pr-2">
                 
                   </div>
                   <div>Bons Comptoires</div>
               </a>
           </li>    
           <li class="text-sm text-gray-500 ">
               <a href="{% url 'comptoir-rectif-bills' %}"
                   class="flex items-center w-full py-1 px-2 rounded relative hover:text-white hover:bg-gray-700">
                   <div class="pr-2">
                 
                   </div>
                   <div>Bons Rectification Comptoires</div>
               </a>
           </li>    
         {% endif %}
         {% if 'ventes.can_see_bongarantie' in request.session.permissions %}
           <li class="text-sm text-gray-500 ">
               <a href="{% url 'list-garantie' %}"
                   class="flex items-center w-full py-1 px-2 rounded relative hover:text-white hover:bg-gray-700">
                   <div class="pr-2">
                   
                   </div>
                   <div>Bons Garantie</div>
               </a>
           </li>        
           <li class="text-sm text-gray-500 ">
               <a href="{% url 'produitsnon-livre' %}"
                   class="flex items-center w-full py-1 px-2 rounded relative hover:text-white hover:bg-gray-700">
                   <div class="pr-2">
                   
                   </div>
                   <div>Produits Non livrés</div>
               </a>
           </li>        
         {% endif %}         
         {% if 'ventes.can_see_bonretour' in request.session.permissions or request.session.role == "manager" %}
           <li class="text-sm text-gray-500 ">
               <a href="{% url 'retour-comptoir-bills' %}"
                   class="flex items-center w-full py-1 px-2 rounded relative hover:text-white hover:bg-gray-700">
                   <div class="pr-2">                  
                   </div>
                   <div>Bons Retour</div>
               </a>
           </li>        
         {% endif %}
         {% if 'ventes.can_see_factures' in request.session.permissions or request.session.role == "manager" %}
           <li class="text-sm text-gray-500 ">
               <a href="{% url 'factures-list' %}"
                   class="flex items-center w-full py-1 px-2 rounded relative hover:text-white hover:bg-gray-700">
                   <div class="pr-2">                   
                   </div>
                   <div>Factures</div>
               </a>
           </li> 
         {% endif %}
         {% if 'ventes.can_see_avoir' in request.session.permissions or request.session.role == "manager" %}
           <li class="text-sm text-gray-500 ">
               <a href="{% url 'list-avoirs' %}"
                   class="flex items-center w-full py-1 px-2 rounded relative hover:text-white hover:bg-gray-700">
                   <div class="pr-2">
                  
                   </div>
                   <div>Avoirs</div>
               </a>
           </li>        
         {% endif %}
         {% endif %}        
       </ul>
   </nav>
  </div>
  <!-- End sidebar -->  
  <div class="md:hidden">
    <button
        class="fixed z-50 right-0 top-0 p-4 bg-gray-700 "
        x-on:click="$dispatch('togglesidebar')"
    >
        X
    </button>
</div>