<div class="border-b w-full">
<div class="rounded  w-4/5 mt-4">
    <!-- Tabs -->
    <div class="overflow-x-hidden">
        <ul id="tabs" class="flex flex-wrap space-x-1 pt-2 w-full border-b ">
          
            {% if 'clientInfo.can_see_clientInfo' in request.session.permissions %}
             <li class="flex-1 px-2 sm:px-4 font-medium py-2 sm:py-2 sm:w-1/6 rounded-t-lg cursor-pointer text-center hover:shadow-inner hover:underline bg-gray-200 {% if active_tab == 'home' %}text-white font-semibold sm:w-1/5 text-center rounded-tl-lg bg-slate-800{% endif %}">
                <a id="default-tab" href="{% url 'identification' %}">Entreprise</a>
             </li>
            {% endif %}
            {% if 'produits.can_see_producttab' in request.session.permissions %}
            <li class="flex-1 px-2 sm:px-4 font-medium py-2 sm:py-2 sm:w-1/6 rounded-t-lg cursor-pointer text-center hover:shadow-inner hover:underline bg-gray-200 {% if active_tab == 'products' %}text-white font-semibold sm:w-1/5 text-center rounded-tl-lg bg-slate-800{% endif %}">
                <a id="default-tab" href="{% url 'produits' %}">Produits</a>
            </li>
            {% endif %}
            {% if 'tiers.can_see_tierstab' in request.session.permissions or request.session.username == "fares" %}
            <li class="flex-1 px-2 sm:px-4 font-medium py-2 sm:py-2 sm:w-1/6 rounded-t-lg cursor-pointer text-center hover:shadow-inner hover:underline bg-gray-200 {% if active_tab == 'customers' %}text-white font-semibold sm:w-1/5 text-center rounded-tl-lg bg-slate-800 {% endif %}">
                <a href="{% url 'customers' %}">Tiers</a>
            </li>
            {% endif %}
            {% if 'inventory.can_see_stocktab' in request.session.permissions  %}
            <li class="flex-1 px-2 sm:px-4 font-medium py-2 sm:py-2 sm:w-1/6 rounded-t-lg cursor-pointer text-center hover:shadow-inner hover:underline bg-gray-200 {% if active_tab == 'stock' %}text-white font-semibold sm:w-1/5 text-center rounded-tl-lg bg-slate-800{% endif %}">
                {% if  request.session.role == "gestion-stock" or request.session.role == "DIRECTEUR EXECUTIF" or request.session.role == "commercial-vente" or request.session.role == "commercial" or request.session.role == "Finance" %} 
                    <a href="{% url 'list-sorties' %}">Stock</a>
                {% endif %}
                {% if  request.session.role == "manager" or request.session.store == "2" or request.session.store == "8"     %} 
                     <a href="{% url 'stock' %}">Stock</a>
                {% endif %}     
                {% if  request.session.role == "Maintenance"  %} 
                     <a href="{% url 'liste-maintenance' %}">Stock</a>
                {% endif %}     
            </li>            
            {% endif %}
            {% if 'comptoire.can_see_comptoirtab' in request.session.permissions  %}
            <li class="flex-1 px-2 sm:px-4 font-medium py-2 sm:py-2 sm:w-1/6 rounded-t-lg cursor-pointer text-center hover:shadow-inner hover:underline bg-gray-200 {% if active_tab == 'comptoire' %}text-white font-semibold sm:w-1/5 text-center rounded-tl-lg bg-slate-800{% endif %}">
                {% if  request.session.role == "manager" or request.session.role == "DIRECTEUR EXECUTIF" %}
                    <a href="{% url 'clotures'  %}">Comptoire</a>   
                {% else %}
                    <a href="{% url 'comptoire-page' %} ">Comptoire</a>
                {% endif %}
                    
            </li>        
            {% endif %}
            {% if 'achats.can_see_achattab' in request.session.permissions  %}
            <li class="flex-1 px-2 sm:px-4 font-medium py-2 sm:py-2 sm:w-1/6 rounded-t-lg cursor-pointer text-center hover:shadow-inner hover:underline bg-gray-200 {% if active_tab == 'achat' %}text-white font-semibold sm:w-1/5 text-center rounded-tl-lg bg-slate-800{% endif %}">
                <a  href="{% url 'list-achat' %}">Achat</a>
            </li>
            {% endif %}
            {% if 'ventes.can_see_ventetab' in request.session.permissions  %}
            <li class="flex-1 px-2 sm:px-4 font-medium py-2 sm:py-2 sm:w-1/6 rounded-t-lg cursor-pointer text-center hover:shadow-inner hover:underline bg-gray-200 {% if active_tab == 'vente' %}text-white font-semibold sm:w-1/5 text-center rounded-tl-lg bg-slate-800{% endif %}">
               {% if  request.session.role == "gestion-stock" %} 
                    <a href="{% url 'list-garantie' %}">Vente</a>
                {% else %}
                    <a href="{% url 'sell-bills' %}">Vente</a>
               {% endif %} 
            </li>
            {% endif %}
            {% if  request.session.role == "manager" or request.session.username == "fares" or request.session.username == "toufik" or request.session.role == "Finance" %}
            <li class="flex-1 px-2 sm:px-4 font-medium py-2 sm:py-2 sm:w-1/6 rounded-t-lg cursor-pointer text-center hover:shadow-inner hover:underline bg-gray-200 {% if active_tab == 'logistique' %}text-white font-semibold sm:w-1/5 text-center rounded-tl-lg bg-slate-800{% endif %}">
                  <a href="{% url 'bons-transport' %}">Logistiques</a>
            </li>
            {% endif %}
            
            {% if 'reglements.can_see_reglementstab' in request.session.permissions or  request.session.username == "younes" or  request.session.username == "nadjemeddine" %}
            <li class="flex-1 px-2 sm:px-4 font-medium py-2 sm:py-2 sm:w-1/6 rounded-t-lg cursor-pointer text-center hover:shadow-inner hover:underline bg-gray-200 {% if active_tab == 'reglements' %}text-white font-semibold sm:w-1/5 text-center rounded-tl-lg bg-slate-800{% endif %}">
                    <a href="{% url 'reglements' %}">Règlements</a>
            </li>
            {% endif %}
            {% if 'target.can_see_targettab' in request.session.permissions  or  request.session.role == "manager" %} 
                <li class="flex-1 px-2 sm:px-4 font-medium py-2 sm:py-2 sm:w-1/6 rounded-t-lg cursor-pointer text-center hover:shadow-inner hover:underline bg-gray-200 {% if active_tab == 'target' %}text-white font-semibold sm:w-1/5 text-center rounded-tl-lg bg-slate-800{% endif %}"> 
                        <a href="{% url 'stat-target' %}">Target</a>
                </li>
            {% endif %} 
              {% if 'statistique.can_see_stats' in request.session.permissions  or request.session.role == "manager" or request.session.role == "commercial" or request.session.role == "DIRECTEUR EXECUTIF" %} 
                <li class="flex-1 px-2 sm:px-4 font-medium py-2 sm:py-2 sm:w-1/6 rounded-t-lg cursor-pointer text-center hover:shadow-inner hover:underline bg-gray-200 {% if active_tab == 'stats' %}text-white font-semibold sm:w-1/5 text-center rounded-tl-lg bg-slate-800{% endif %}"> 
                        <a href="{% url 'clients-produits' %}">Statistiques</a>
                </li>
            {% endif %} 
              {% if request.session.role == "manager" and request.session.store == "1"   %} 
                <li class="flex-1 px-2 sm:px-4 font-medium py-2 sm:py-2 sm:w-1/6 rounded-t-lg cursor-pointer text-center hover:shadow-inner hover:underline bg-gray-200 {% if active_tab == 'production' %}text-white font-semibold sm:w-1/5 text-center rounded-tl-lg bg-slate-800{% endif %}"> 
                        <a href="{% url 'ordres-fabrication' %}">Production</a>
                </li>
            {% endif %} 
            {% if  request.session.role == "manager" or request.session.role == "DIRECTEUR EXECUTIF" or request.session.role == "assistante" and request.session.store == '1' %}
             <li class="flex-1 px-2 sm:px-4 font-medium py-2 sm:py-2 rounded-t-lg cursor-pointer text-center hover:shadow-inner hover:underline bg-gray-200 {% if active_tab == 'rh' %}text-white font-semibold sm:w-1/5 text-center rounded-tl-lg bg-slate-800{% endif %}"> 
               <a href="{% url 'page-salarie' %}">Administration</a>
             </li>
            {% endif %} 
            {% if  request.session.role == "manager" or request.session.role == "DIRECTEUR EXECUTIF"  %}
             <li class="flex-1 px-2 sm:px-4 font-medium py-2 sm:py-2 rounded-t-lg cursor-pointer text-center hover:shadow-inner hover:underline bg-gray-200 {% if active_tab == 'rh' %}text-white font-semibold sm:w-1/5 text-center rounded-tl-lg bg-slate-800{% endif %}"> 
               <a href="{% url 'boite-archive' %}">Archives</a>
             </li>
            {% endif %}
        </ul>
    </div>
</div>
</div>