{% extends "base.html" %}
{% load static heroicons%}

{% block body_class %}{% endblock %}

{% block content %}
<div 
x-data="{ 
	menuOpen: false, 
	basicSignInModal: false,
	basicSignUpModal: false,
	advanceSignInModal: false,
	advanceSignUpModal: false,
}" 
class="flex flex-col min-h-screen custom-scrollbar"
>
<!-- start::Black overlay -->
<div :class="menuOpen ? 'block' : 'hidden'" @click="menuOpen = false" class="fixed  inset-0 bg-black opacity-50 transition-opacity lg:hidden"></div>
<!-- end::Black overlay -->
 {% include 'header.html' %}
 {% include 'tabs.html' with active_tab="vente" %}
 <div class=" w-full flex flex-row">
	{% include "sidebar_ventes.html" %}
  <div class="h-full w-full"  x-data="invoices()"
  x-init="initData()">
	<!-- Main content header -->
	<body class="antialiased sans-serif">
		<div class="h-2"></div>
		<div 
		<div 
		  class="container mx-auto py-6 px-4"
		 
		  x-cloak
		>
		  <div class="flex justify-between">
			 <h2 class="text-2xl font-bold mb-6 pb-2 tracking-wider uppercase">Facture</h2>
			 <div>
				 <div class="relative mr-4 inline-block">
					 <div class="text-gray-500 cursor-pointer w-10 h-10 rounded-full bg-gray-100 hover:bg-gray-300 inline-flex items-center justify-center" @mouseenter="showTooltip = true" @mouseleave="showTooltip = false" @click="renderInformation()">
						 <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-printer" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
							 <rect x="0" y="0" width="24" height="24" stroke="none"></rect>
							 <path d="M17 17h2a2 2 0 0 0 2 -2v-4a2 2 0 0 0 -2 -2h-14a2 2 0 0 0 -2 2v4a2 2 0 0 0 2 2h2" />
							 <path d="M17 9v-4a2 2 0 0 0 -2 -2h-6a2 2 0 0 0 -2 2v4" />
							 <rect x="7" y="13" width="10" height="8" rx="2" />
						 </svg>				  
					 </div>
					 <div x-show.transition="showTooltip" class="z-40 shadow-lg text-center w-32 block absolute right-0 top-0 p-2 mt-12 rounded-lg bg-gray-800 text-white text-xs">
						 Print this invoice!
					 </div>
				 </div>
				 <div class="relative inline-block">
					 <div class="text-gray-500 cursor-pointer w-10 h-10 rounded-full bg-gray-100 hover:bg-gray-300 inline-flex items-center justify-center" @mouseenter="showTooltip2 = true" @mouseleave="showTooltip2 = false" @click="window.location.reload()">
						 <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-refresh" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
							 <rect x="0" y="0" width="24" height="24" stroke="none"></rect>
							 <path d="M20 11a8.1 8.1 0 0 0 -15.5 -2m-.5 -5v5h5" />
							 <path d="M4 13a8.1 8.1 0 0 0 15.5 2m.5 5v-5h-5" />
						 </svg>	  
					 </div>
					 <div x-show.transition="showTooltip2" class="z-40 shadow-lg text-center w-32 block absolute right-0 top-0 p-2 mt-12 rounded-lg bg-gray-800 text-white text-xs">
						 Reload Page
					 </div>
				 </div>
			 </div>
		  </div>
 
		  <div class="flex mb-8 justify-between">
			 <div class="w-2/4">
				  <div class="mb-2 md:mb-1 md:flex items-center">
					  <label class="w-32 text-gray-800 block font-bold text-sm uppercase tracking-wide">Numéro de Facture</label>
					  <span class="mr-4 inline-block  md:block">:</span>
					  <div class="flex-1">
						 <input class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-48 py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-blue-500" id="inline-full-name" type="text"  x-model="invoiceNumber">
					  </div>
				  </div>
 
				  <div class="mb-2 md:mb-1 md:flex items-center">
					  <label class="w-32 text-gray-800 block font-bold text-sm uppercase tracking-wide">Date de Facture</label>
					  <span class="mr-4 inline-block  md:block">:</span>
					  <div class="flex-1">
					   <input class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-48 py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-gray-700 " type="date" x-model="invoiceDate" >
					  </div>
				  </div>
 
			  <div class="mb-2 md:mb-1 md:flex items-center">
					 <label class="w-32 text-gray-800 block font-bold text-sm uppercase tracking-wide">Date de réglement</label>
					 <span class="mr-4 hidden md:block">:</span>
					 <div class="flex-1">
						 <input class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-48 py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-gray-700 " type="date" x-model="invoiceDueDate" >
					 </div>
				 </div> 
			   <div class="mb-2 md:mb-1 md:flex items-center">
					 <label class="w-32 text-gray-800 block font-bold text-sm uppercase tracking-wide">Bon Livraison Associé </label>
					 <span class="mr-4 hidden md:block">:</span>
					 <div class="flex-1">
		 <input class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-48 py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-gray-700"type="text"  x-model="AssociatedBL" disabled >
					 </div>
				 </div> 
			 </div>				
		  </div>
 
		  <div x-data="{ tab: 1 }" x-cloak class="my-10 antialiased ">
			 <div class="relative flex flex-col rounded-lg shadow-xs overflow-hidden">         
				 <div class="flex space-x-8 bg-white border-b border-gray-200 ">
					 <button
						 type="button"
						 class="focus:outline-none text-black py-2 px-1 border-t-2 text-md tracking-wide font-semibold border-transparent"
						 x-on:click="tab = 1"
						 :class="{ 'text-white  border-gray-700 rounded-t-lg bg-gray-700': tab === 1 }"
					 >
						 Informations Client
					 </button>
					 <button
						 type="button"
						 class="focus:outline-none text-black py-2 px-1 border-t-2 text-md tracking-wide font-semibold border-transparent"
						 x-on:click="tab = 2"
						 :class="{ 'text-white  border-gray-700 rounded-t-lg bg-gray-700': tab === 2 }"
					 >
						 Informations Facture / réglementation
					 </button>
					 <button
						 type="button"
						 class="focus:outline-none text-black py-2 px-1 border-t-2 text-md tracking-wide font-semibold border-transparent"
						 x-on:click="tab = 3"
						 :class="{ 'text-white  border-gray-700 rounded-t-lg bg-gray-700': tab === 3 }"
					 >
					 Produits de la facture
					 </button>
				 </div>     
				 <div class="overflow-y-auto">
					 <div x-show="tab === 1">
						 <div class="flex flex-wrap justify-between mb-8 py-4">
						  <div class="w-full md:w-1/3 mb-2 md:mb-0">
							  <label class="text-gray-800 block mb-1 font-bold text-sm uppercase tracking-wide">Facturé  Pour :</label>
							  <input class="mb-1 bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-blue-500" id="client-name" type="text" placeholder="Adresse de client" x-model="billing.name" >
							  <input class="mb-1 bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-blue-500" id="client-address" type="text" placeholder="Adresse de client" x-model="billing.address" value="{{client.client_address}}">
							  <input class="mb-1 bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-blue-500" id="client-phone" type="text" placeholder="Numéro de téléphone" x-model="billing.phone" value="{{client.client_phone}}">
							 <input class="mb-1 bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-blue-500" id="inline-full-name" type="text" placeholder="Additional info" x-model="billing.extra">
						  </div>	
						 </div>
					 </div>     					 
					 <div x-show="tab === 2">
						 <div class="flex flex-wrap justify-between mb-8 py-4">
						  <div class="w-full md:w-1/3 mb-2 md:mb-0">
							  <div class="mb-4">
								  <label class="block text-gray-700 font-semibold mb-2" for="modReg">
									  Mode de Réglement:
								  </label>
								  <select
									 class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
									 id="modReg"
									 name="modReg"
									 x-on:change="
                        				 ModeReglement = $event.target.selectedOptions[0].innerHTML;                     
                        				 showBanque = $event.target.value == 2;
									 "
									 required  
								  >
								  <option value="" disabled selected>mode de reglement</option>
								  {% for mode in modeReg %}
									 <option value="{{ mode.id }}" >
										 {{ mode.label }} 
									 </option>
									 {% endfor %}
								  </select>
							  </div>
                			<div class="mb-4">
                			  <div x-show="showBanque">
                			  <!-- Show this div when 'cheque' is selected -->
                			  <div class="mb-4">
                			   <label class="block text-gray-700 font-semibold mb-2" for="banque">
                				 Banque :
                			   </label>
                			   <select
                				class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline cursor-pointer"
                				id="banque"
                				name="banque"						
                				required  
                				>
                				<option value="" disabled selected> Selectionnez  Banque</option>
                				{% for banque in banques  %}
                				  <option value="{{banque.pk}}"> {{banque.nom}} </option>
                				{% endfor %}
                			   </select>
                			 </div>
                			  <label for="chequeInput" class="block font-bold mt-4">Cheque Number:</label>
                			  <input
                				  type="text"
                				  id="chequeInput"
                				  name="chequeInput"
                				  class="border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mt-1"
                			  >
                			  </div>
                			</div>

							  <div class="mb-4">
								  <label class="block text-gray-700 font-semibold mb-2" for="echReg">
									  Echéance de Réglement	:
								  </label>
								  <select
									 class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
									 id="echReg"
									 name="echReg"
									 x-on:change="
										echeanceRegelement = $event.target.value
									 "
									 required  
								  >
								  <option value="" disabled selected>échéance de reglement</option>
								  {% for ech in echeances %}
									 <option value="{{ ech.id }}">
										 {{ ech.label }} 
									 </option>
									 {% endfor %}
								  </select>
							  </div>
			<div class="mb-4">
			  <label class="block text-gray-700 font-semibold mb-2" for="echReg">
				Remise	:
			  </label>
			  <div class="flex space-x-4 mb-4">
				<input class="mb-1 bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white " id="remise" type="text" x-model="TotalRemise" >
			  </div>
			</div>
							  <div class="mb-4">
								  <label class="block text-gray-700 font-semibold mb-2" for="echReg">
									  Etat de la facture :
								  </label>
								  <select
									 class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
									 id="echReg"
									 name="echReg"
									 x-on:change="
									 etatFacture = $event.target.value
									 "
									 required  
								  >
								   <option value="" disabled selected>Etat de la facture</option>
									 <option value="en Attente"> en Attente </option>
									 <option value="Règlement Reçu"> Règlement Reçu </option>
									 <option value="Expédié"> Expédié </option>
									 <option value="Facture"> Facture </option>
									 <option value="Facture Comptabilisé"> Facture Comptabilisé </option>
								  </select>
							  </div>
							  <div class="mb-4">
								  <input class="mb-1 bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-blue-500" id="inline-full-name" type="text" placeholder="Additional info" x-model="billing.extra">
							  </div>		   
						  </div>	
						 </div>							 
					 </div>
					 <div class="w-full" x-show="tab === 3">    
						<table class=" mt-2 border-collapse border-l border-r w-full">
							<thead class="border-b  bg-gray-100  border-t  py-4">
								<tr class="border-b py-4">
									<th class="text-center ">
										<p class="text-gray-800 uppercase tracking-wide text-sm py-4 font-bold">Référence</p>
									</th>
									<th class="text-center">
										<p class="text-gray-800 uppercase tracking-wide text-sm  py-4 font-bold">Désignation</p>
									</th>											
									{% if request.session.role == "manager" %}
										<th class="text-center">
											<p class="text-gray-800 uppercase tracking-wide text-sm py-4 font-bold">PVU HT</p>
										</th>
										<th class="text-center">
											<p class="text-gray-800 uppercase tracking-wide text-sm font-bold">P.FR</p>
										</th>
									{% endif %}
									<th class="text-center">
										<p class="text-gray-800 uppercase tracking-wide text-sm font-bold">PVU HT</p>
									</th>								
									<th class="text-center">
										<p class="text-gray-800 uppercase tracking-wide text-sm py-4 font-bold">Quantité</p>
									</th>
									<th class="text-center">
										<p class="text-gray-800 uppercase tracking-wide text-sm font-bold">Total HT</p>
									</th>
									<th class="px-1 text-center"></th>
								</tr>
							</thead>
							<tbody >
							  <template x-for="invoice in items" :key="invoice.id">
								<tr class=" -mx-1 py-2 border-b">
									<td class="px-1 text-center">
										<p class="text-gray-800" x-text="invoice.ref"></p>
									</td>
									<td class="px-1 text-center">
										<p class="text-gray-800" x-text="invoice.name"></p>
									</td>
									{% if request.session.role == "manager" %}
										<td class="px-1 text-center">
											<p class="text-gray-800" x-text="numberFormat(invoice.rate)"></p>
										</td>
										<td class="px-1 text-center">
											<p class="text-gray-800" x-text="numberFormat(invoice.livraison_prix)"></p>
										</td>
									{% endif %}
									<td class="px-1 text-center">
										<p class="text-gray-800" x-text="numberFormat(invoice.rateLiv)"></p>
									</td>

									<td class="px-1 text-center">
										<p class="text-gray-800" x-text="invoice.qty"></p>
									</td>
									<td class="px-1 text-center">
										<p class="text-gray-800" x-text="numberFormat(invoice.totalLiv)"></p>
									</td>
									<td class="text-center flex items-center">
										<a href="#" class="text-green-950 text-sm font-semibold" @click.prevent="editItem(invoice)">{% heroicon_mini "pencil-square" class="transition-transform" %}</a>
										<input type="checkbox" x-model="invoice.selected" class="mr-2" />
									</td>
								</tr>
							  </template>
							</tbody>
						</table>
						<div class="flex justify-between ">
							<div></div>
							<button @click="deleteSelectedItems" class="text-red-500 hover:text-red-700 px-4 py-2 rounded-md" x-show="items.length > 0">
								{% heroicon_mini "trash" %}
							</button>
						</div>
						<button class="mt-6 bg-white hover:bg-gray-100 text-gray-700 font-semibold py-2 px-4 text-sm border border-gray-300 rounded shadow-sm" x-on:click="showModal">
							Ajouter des produits
						</button>
					 </div>
				 </div>
			 </div>
		  </div> 

		
		  <div class="py-2 ml-auto mt-5 w-full border-t">
			<div class="border-b bg-gray-100 p-2 mb-2">
			  {% if request.session.role == "manager" %}
				   <div class="flex justify-between mb-3">
					   <div class="text-gray-800 text-right flex-1">Total HT [Sans Livraison]</div>
					   <div class="text-right w-40">
						   <div class="text-gray-800 font-medium" x-html="numberFormat(netTotal)"></div>
					   </div>
				   </div>
				   <div class="flex justify-between mb-3">
					   <div class="text-gray-800 text-right flex-1">Remise HT [Sans Livraison]</div>
					   <div class="text-right w-40">
						   <div class="text-gray-800 font-medium" x-html="numberFormat(TotalRemise)"></div>
					   </div>
				   </div>
				   <div class="flex justify-between mb-3">
					   <div class="text-gray-800 text-right flex-1">Sous Total HT [Sans Livraison]</div>
					   <div class="text-right w-40">
						   <div class="text-gray-800 font-medium" x-html="numberFormat((netTotal - TotalRemise).toFixed(2))"></div>
					   </div>
				   </div>
				   <div class="flex justify-between mb-3">
				   <div class="text-gray-800 text-right flex-1">Total TTC [Sans Livraison]</div>
				   <div class="text-right w-40">
					   <div class="text-gray-800 font-medium" x-html="numberFormat(((netTotal - TotalRemise) * 1.19).toFixed(2))"></div>
				   </div>
				   </div>
				   <div class="flex justify-between mb-4">
					   <div class="text-sm text-gray-600 text-right flex-1">Frais Livraison [ INTERNE ]</div>
					   <div class="text-right w-40">
						   <div class="text-sm text-gray-600" x-html="numberFormat(fraisLivraison)"></div>
					   </div>
				   </div> 
			   {% endif %}
			 </div>
			 <div class="flex justify-between mb-3">
				   <div class="text-gray-800 text-right flex-1">Total HT</div>
				 <div class="text-right w-40">
					 <div class="text-gray-800 font-medium" x-html="numberFormat(netTotalLiv)"></div>
				 </div>
			 </div>
            <div class="flex justify-between mb-4">
				 <div class="text-sm text-gray-600 text-right flex-1">Remise HT</div>
				 <div class="text-right w-40">
					 <div class="text-sm text-gray-600" x-html="numberFormat(TotalRemise)"></div>
				 </div>
			</div> 
			<div class="flex justify-between mb-3">
				   <div class="text-gray-800 text-right flex-1">Sous Total HT</div>
				 <div class="text-right w-40">
					 <div class="text-gray-800 font-medium" x-html="numberFormat(netTotalLiv - TotalRemise)"></div>
				 </div>
			 </div>
			<div class="flex justify-between mb-3">
				   <div class="text-gray-800 text-right flex-1">Total TTC</div>
				 <div class="text-right w-40">
					 <div class="text-gray-800 font-medium" x-html="numberFormat((netTotalLiv - TotalRemise) * 1.19)"></div>
				 </div>
			</div>
			
			 <div class="py-2 border-t border-b">
				 <div class="flex justify-between">
					 <div class="text-xl text-gray-600 text-right flex-1">Net À Payer</div>
					 <div class="text-right w-40">
						 <div class="text-xl text-gray-800 font-bold" x-html="numberFormat((netTotalLiv - TotalRemise) * 1.19)"></div>
					 </div>
				 </div>
			 </div>

			 <div class="flex justify-between">
				 <div></div>
				 <button class="mt-6 bg-white hover:bg-gray-100 text-gray-700 font-semibold py-2 px-4 text-sm border border-gray-300 rounded shadow-sm" type="submit" x-on:click="validateBon">Valider la facture & imprimer</button>
				  </div>
		  </div>
		  </div>
		 
			 
 
		 
		  <!-- Print Template -->
		  <div id="js-print-template" x-ref="printTemplate" class="hidden">
		     {% if request.session.store == '1' %}
    			 <div class="py-4 border-b border-stone-500">
    				 <img src="{% static 'media/divatech-logo.png' %}" alt="">
    			 </div>
    		 {% endif %}
    		 {% if request.session.store == '6' %}
    		 <div class="py-4 border-b border-stone-500">
				 <img src="{% static 'media/entete_2.jpg' %}" alt="">
			 </div>
			 {% endif %}
			 <h2 class="text-3xl font-bold mb-2 mt-2 pb-2 tracking-wider uppercase text-center border-b border-stone-500">Facture</h2>
			 <div class="flex justify-between space-x-3 mb-2 ">
				 <div class="w-1/2 border border-black">
					 <div class="px-4 py-3 ">		
					 <div class="mb-1 flex items-center">
						 <label class="w-32 text-gray-800 block font-bold text-xs uppercase tracking-wide">N° Facture.</label>
						 <span class="mr-4 inline-block">:</span>
						 <div x-text="invoiceNumber"></div>
					 </div>				
					 <div class="mb-1 flex items-center">
						 <label class="w-32 text-gray-800 block font-bold text-xs uppercase tracking-wide">Date de Facture</label>
						 <span class="mr-4 inline-block">:</span>
						 <div x-text="invoiceDate"></div>
					 </div>
					 <div class="mb-1 flex items-center">
						 <label class="w-32 text-gray-800 block font-bold text-xs uppercase tracking-wide">Date de Réglement</label>
						 <span class="mr-4 inline-block">:</span>
						 <div x-text="invoiceDueDate"></div>
					 </div>
					 <div class="mb-1 flex items-center">
						 <label class="w-32 text-gray-800 block font-bold text-xs uppercase tracking-wide">Bon de livraison: </label>
						 <span class="mr-4 inline-block">:</span>
						 <div x-text="AssociatedBL"></div>
					 </div>
				 </div>
				 </div>
				 <div class="w-1/2 border border-black">										
					  <div class="px-4 py-3 ">
							  <div class="mb-1 flex items-center">
								  <label class="w-20 text-gray-800 block font-bold text-xs uppercase tracking-wide"> Client </label>
								   <span class="mr-4 inline-block">:</span>
								  <div x-text="billing.name"></div>
							  </div>
							  <div class="flex items-center">
								  <label class="w-20 text-gray-800 block font-bold text-xs uppercase tracking-wide">Adresse </label>
								  <span class="mr-4 inline-block">:</span>
								  <div x-text="billing.address"></div>
							  </div>
							  
							  {% if bill.client.categorie_client.type_desc|lower != 'client final' %}
							  		<div class="flex items-center">
										<label class="w-20 text-gray-800 block font-bold text-xs uppercase tracking-wide">N°= Rg:</label>
										<span class="mr-4 inline-block">:</span>
										<div x-text="billing.num_registre"></div>
									</div>
									<div class="flex items-center">
										<label class="w-20 text-gray-800 block font-bold text-xs uppercase tracking-wide">NIF </label>
										<span class="mr-4 inline-block">:</span>
										<div x-text="billing.nif"></div>
									</div>
									<div class="flex items-center">
										<label class="w-20 text-gray-800 block font-bold text-xs uppercase tracking-wide">N°= AI </label>
										<span class="mr-4 inline-block">:</span>
										<div x-text="billing.nai"></div>
									</div>
									<div class="flex items-center">
										<label class="w-20 text-gray-800 block font-bold text-xs uppercase tracking-wide">NIS </label>
										<span class="mr-4 inline-block">:</span>
										<div x-text="billing.nis"></div>
									</div>	
							  {% else %}
							  		<div class="mb-1 flex items-center">
										<label class="w-20 text-gray-800 block font-bold text-xs uppercase tracking-wide">Note </label>
										<span class="mr-4 inline-block">:</span>
										<div > Client Final</div>
									</div>	
							  {% endif %}				
						   </div>
				 </div>
			 </div>
			 {% if bill.reference_pc == '' %}
			 	<table class="w-full border-collapse border border-black">
					<thead>
						<tr class="bg-gray-100">
							<th class="border border-black px-1 py-2 text-black uppercase tracking-wide text-sm font-bold">Reference</th>
							<th class="border border-black px-1 py-2 text-black uppercase tracking-wide text-sm font-bold">Designation</th>
							<th class="border border-black px-1 py-2 w-32 text-right text-black uppercase tracking-wide text-sm font-bold">Quantité</th>
							<th class="border border-black px-1 py-2 w-32 text-right text-black uppercase tracking-wide text-sm font-bold">P.U</th>
							<th class="border border-black px-1 py-2 w-32 text-right text-black uppercase tracking-wide text-sm font-bold">M. HT</th>
						</tr>
					</thead>
					<tbody>
						<template x-for="invoice in items" :key="invoice.id">
						<tr class="border border-black">
							<td class="border border-black px-1 py-2 text-black text-xs" x-text="invoice.ref"></td>
							<td class="border border-black px-1 py-2 text-black text-xs" x-text="invoice.name"></td>
							<td class="border border-black px-1 py-2 w-32 text-right text-black text-xs" x-text="invoice.qty"></td>
							<td class="border border-black px-1 py-2 w-32 text-right text-black text-xs" x-text="numberFormat(invoice.rateLiv)"></td>
							<td class="border border-black px-1 py-2 w-32 text-right text-black text-xs" x-text="numberFormat(invoice.totalLiv)"></td>
						</tr>
						</template>
					</tbody>
				</table>
			 {% else %}
				<table class="w-full border-collapse border border-black">
					<thead>
						<tr class="bg-gray-100">
							<th class="border border-black px-1 py-2 text-black uppercase tracking-wide text-sm font-bold">Reference</th>
							<th class="border border-black px-1 py-2 text-black uppercase tracking-wide text-sm font-bold print-td" colspan="2">Designation</th>
							<th class="border border-black px-1 py-2 w-32 text-right text-black uppercase tracking-wide text-sm font-bold">P.U</th>
							<th class="border border-black px-1 py-2 w-32 text-right text-black uppercase tracking-wide text-sm font-bold">Qté</th>
							<th class="border border-black px-1 py-2 w-32 text-right text-black uppercase tracking-wide text-sm font-bold">M. HT</th>
						</tr>
					</thead>
					<tbody>
						<template x-for="(invoice, index) in items_pc">
											<tr class="-mx-1 py-2 border-b-2 border-black">
												<!-- Reference column -->
												<td class="px-1 border-r border-black text-center"  >
													<p class="text-gray-800" x-text="invoice.reference"></p>
												</td>
												<!-- Designation and Products columns -->
												<td class="px-1 border-r border-black print-td text-center py-2" colspan="2">
													<p class="text-gray-800 text-left font-bold" x-text="invoice.designation" ></p>
													<!-- Loop through products array for each variant -->
													<template x-for="product in invoice.products">
														<p class="text-gray-800 tex-sm" x-text="'- ' + product.reference"></p>
													</template>
												</td>
												<!-- Additional columns based on your requirements -->
												<td class="px-1 border-r border-black text-center"  >
													<p class="text-gray-800" x-text="(parseFloat(invoice.totalPrice) / invoice.quantity).toFixed(2)"></p>
												</td>
												<td class="px-1 border-r border-black text-center"  >
													<p class="text-gray-800" x-text="invoice.quantity"></p>
												</td>
												<td class="px-1 border-r border-black text-center"  >
													<p class="text-gray-800" x-text="(invoice.totalPrice).toFixed(2)"></p>
												</td>
											</tr>
										</template>
					</tbody>
				</table>
			 {% endif %}
				

			<div class="w-full flex mt-1  space-x-3 ">
				<div class="w-full flex mt-1  space-x-3 ">
					<table class="w-1/3 table-auto  border-collapse border border-black">
						<thead>
							<tr class="bg-gray-100">
								<th class="border border-gray-700 px-4 ">TVA</th>
								<th class="border border-gray-700 px-4 ">Total TVA</th>                     
							</tr>
						</thead>
						<tbody>
							<!-- Sample data rows -->
							<tr class="border border-gray-700">
								<td class="border border-gray-700 px-4 ">19 %</td>
								<td class="border border-gray-700 px-4 "x-text="((netTotalLiv - TotalRemise) * 0.19).toFixed(2)"></td> 
							</tr>
							<!-- Add more rows as needed -->
						</tbody>
					</table>
					<table class="w-2/3 h-fit table-auto border-collapse border border-black">
						<thead>
							<tr class="bg-gray-100">
								<th class="border border-gray-700 px-4 ">Total HT </th>
								<th class="border border-gray-700 px-4 ">Total Remise</th>
								<th class="border border-gray-700 px-4 ">Sous Total HT </th>
								<th class="border border-gray-700 px-4 ">Sous Total TTC </th>
								{% if bill.mode_reglement.label == 'Espèce' %}
									<th class="border border-gray-700 px-4 ">Taux Timbre</th>
									<th class="border border-gray-700 px-4 ">Net à Payer</th>
								{% else %}	
									<th class="border border-gray-700 px-4 ">Net à Payer</th>
								{% endif %}	

							</tr>
						</thead>
						<tbody>
							<!-- Sample data rows -->
							<tr class="border border-gray-700">
								<td class="border border-gray-700 px-4" x-text="netTotalLiv"></td>
								<td class="border border-gray-700 px-4" x-text="TotalRemise"></td>
								<td class="border border-gray-700 px-4" x-text="netTotalLiv - TotalRemise"></td>
								<td class="border border-gray-700 px-4" x-text="((netTotalLiv - TotalRemise) * 1.19).toFixed(2)"></td>
								{% if bill.mode_reglement.label == 'Espèce' %}
									<td class="border border-gray-700 px-4" x-text="(((netTotalLiv - TotalRemise) * 1.19)  * 0.01).toFixed(2)" ></td>
									<td class="border border-gray-700 px-4" x-text="(((netTotalLiv - TotalRemise) * 1.19) * 1.01).toFixed(2)" ></td>
								{% else %}	
                                	<td class="border border-gray-700 px-4" x-text="((netTotalLiv - TotalRemise) * 1.19).toFixed(2)" ></td>
								{% endif %}
							</tr>
							<tr>
								<td class="border border-gray-700 px-4 py-2" colspan="5">
									<div class="flex space-x-1 items-center">
									{% if bill.mode_reglement.label == 'Virement' %}
										<p class="text-center">
											Condition de règlement : <p  class="font-bold uppercase"> VIREMENT - {{bill.banque_Reglement.code}}</p>
										</p>
									{% endif %}
									{% if bill.mode_reglement.label == 'Chèque' %}
										<p class="text-center">
											Condition de règlement : <p  class="font-bold uppercase"> Chèque - {{bill.banque_Reglement.code}} - {{bill.num_cheque_reglement}} </p>
										</p>
									{% endif %}
									{% if bill.mode_reglement.label == 'Espèce' %}
										<p class="text-center">
											Condition de règlement : <p  class="font-bold uppercase"> Espèce </p>
										</p>
									{% endif %}
									</div>
								</td>
							</tr>
							<!-- Add more rows as needed -->
						</tbody>
					</table>
					</div>
			</div>
				<div class=" flex justify-between mt-2 mr-0">
				<div></div>
				<div class="font-bold">
					Cachet et Signature
				</div>
				</div>
		  </div>
		  <!-- /Print Template -->
 
		  <!-- Modal -->
		  <div style=" background-color: rgba(0, 0, 0, 0.8); " class="fixed z-40 top-0 right-0 left-0 bottom-0 h-full w-full" x-cloak x-show.transition.opacity="openModal">
			  <div class="p-4 max-w-xl mx-auto relative left-0 right-0 overflow-hidden mt-24">
				 <div class="shadow absolute right-0 top-0 w-10 h-10 rounded-full bg-white text-gray-500 hover:text-gray-800 inline-flex items-center justify-center cursor-pointer"
					 x-on:click="openModal = !openModal">
					 <svg class="fill-current w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
						 <path
							 d="M16.192 6.344L11.949 10.586 7.707 6.344 6.293 7.758 10.535 12 6.293 16.242 7.707 17.656 11.949 13.414 16.192 17.656 17.606 16.242 13.364 12 17.606 7.758z" />
					 </svg>
				 </div>
			<form action="" id="myForm">
		   <div class="shadow w-full rounded-lg bg-white overflow-hidden block p-8">		
			 <h2 class="font-bold text-2xl mb-6 text-gray-800 border-b pb-2">Ajouter des produits à la Facture</h2>
			 {% comment %} <div class="mb-4">
				 <label class="block text-gray-700 font-semibold mb-2" for="product">
				   Product Name or Code:
				 </label>
				 <select
				  class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
				  id="entrepot"
				  name="entrepot"
				  x-model="item.ent"
				  x-on:change="getStock($event.target.value)
				  item.ent= $event.target.value
				  "
				  required  
			   >
				 <option value="" disabled selected>Select entrepot</option>
				 {% for entrepot in entrepots %}
				  <option value="{{ entrepot.name }}" data-stock="{{entrepot.get_stocks}}">
					  {{ entrepot.name }} 
				  </option>
				{% endfor %}
			   </select>
			 </div> {% endcomment %}
			 <div class="mb-4">
				 <label class="block text-gray-700 font-semibold mb-2" for="product">
				   Product Name or Code:
				 </label>
				 <select
				  class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
				  id="product"
				  name="product"
				  x-model="item.ref"
				  x-on:change="
				  item.ref = $event.target.value;
				  item.name=$event.target.selectedOptions[0].dataset.name;
				  item.price = $event.target.selectedOptions[0].dataset.price;					
				  item.quantity = $event.target.selectedOptions[0].dataset.quantity;
				  showQuantity = true;
				  document.getElementById('price').value = item.price;"
				  required  
			   >
				 <option value="" disabled selected>Select product</option>
	 			<template x-for="stock_item in stocks">
	  				<option
	  				 x-bind:value="stock_item.ref"
	   				 x-bind:data-name="stock_item.name"
	   				 x-bind:data-price="stock_item.prix"
	   				 x-bind:data-quantity="stock_item.qty"
					 x-text="stock_item.name"
	  				>
				   </option>
	 		   </template>
			   </select>
			 </div>
		   
			 <div class="mb-4">
				 <label class="block text-gray-700 font-semibold mb-2" for="quantity">
				   Quantity:
				   <div class="mb-4" id="productQuantityDiv" style="display: none;" x-show="showQuantity">
					 <label class="block text-primary font-medium text-sm mb-2">
					   Available Quantity: <span id="productQuantity" x-text="selectedProductQuantity"></span>
					 </label>
				   </div>
				 </label>
				 <input
				   class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
				   type="number"
				   id="quantity"
				   name="quantity"
				   placeholder="Enter quantity"
				   min="1"
				   max="5"
				   required
				   x-model="item.qty"
				   x-bind:max="selectedProductQuantity"
				 >
			 </div>
 
			 <div class="mb-4">
				 <label class="block text-gray-700 font-semibold mb-2" for="price">
				   Price:
				 </label>
				 <input
				   class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
				   type="text"
				   id="price"
				   name="price"
				   placeholder="Price will be fetched automatically"
				   x-model="item.rateLiv"
				 >
			   </div>
			   <div class="mt-8 text-right">
				 <button type="button" class="bg-white hover:bg-gray-100 text-gray-700 font-semibold py-2 px-4 border border-gray-300 rounded shadow-sm mr-2" @click="openModal = !openModal">
				   Cancel
				 </button>	
				 <button type="button" class="bg-gray-800 hover:bg-gray-700 text-white font-semibold py-2 px-4 border border-gray-700 rounded shadow-sm" @click="addItem()">
				   Add Item
				 </button>	
			   </div>
			 </div> 
		   </div>
			</form>
		  </div>
		  </div>
		 <!-- /Modal -->
 
	 </div>
	 
	 <script src="https://cdn.jsdelivr.net/npm/pikaday/pikaday.js"></script>
   <script>		
		 function invoices() {
			  return {
				 items: [],
				 clients:[],
				 stocks:[],
				 invoiceNumber: '{{code_fac}}',
				 selectedProductQuantity:'',
				 reference_pc:{{bill.get_references | safe}},
				 items_pc:[],
				 designation_pc: {{bill.get_designations | safe}},
				 invoiceDate: new Date().toISOString().slice(0, 10),
				 invoiceDueDate: new Date().toISOString().slice(0, 10),
		 		 ModeReglement:'{{bill.mode_reglement.label}}',
				 AssociatedBL:'{{idBon}}',
				 remise:{
	   				type:'',
	  				valeur:'',
	 			 },
				 echeanceRegelement :'',
				 shipingCost :0,
				 etatFacture : '',
				 totalGST: 0,
				 netTotal: 0,
				 TotalRemise :0,
				 TotalPay:0,
				 item: {
					 id: '',
					 name: '',
					 category:'',
					 ref:'',
					 ent:'',
					 qty: 0,
					 rate: 0,
					 total: 0,
					 gst: 18
				 },
				  billing: {
					 id: '{{client.client_id}}',
					 name: '{{client.client_name}}',
					 address: '{{client.client_address}}',
					 num_registre:'{{bill.client.registreCommerce}}',
					 nif: '{{bill.client.Nif}}',
					 nai: '{{bill.client.num_article}}',
					 nis: '{{bill.client.Nis}}',
			   		 phone:'{{client.client_phone}}'
				 },
				 from: {
					 name: '{{selected_store.name}}',
					 address: '{{selected_store.location}}',
					 user:'{{request.user.username}}',
					 extra: ''
				 },

			    reglementCheque:{
			     banque:'',
			     num_cheque:''
			    },
				editItem(invoice) {
					this.item = {
						ref: invoice.ref,
						qty: invoice.qty,
						rateLiv: invoice.rateLiv,
						gst: invoice.tva,
					};		
					// Open the modal
					this.openModal = true;
				},
				 showTooltip: false,
				 showTooltip2: false,
				 openModal: false,
			 	 showQuantity:false,
		 		 remiseBool: false,
		 		 showBanque :false,
			     renderInformation(){
						let currentCPU = null;  // Variable to keep track of the current CPU
						items_pc =[]
						for (const variant of this.items) {
							if (variant.component === "cpu") {

								// If the CPU changes, push a new sublist into this.items
								if (currentCPU !== variant.reference) {
									currentCPU = this.reference_pc[items_pc.length];
									items_pc.push({
										reference: currentCPU,
										designation: this.designation_pc[items_pc.length],
										products: []  // Initialize an empty array for the CPU's variants
									});
								}
							}

							const newItem = {
								reference: variant.ref,
								name: variant.name,
								quantity: variant.qty,
								price: variant.rateLiv,
								total: variant.totalLiv,
							};

							// Add the variant to the current sublist in items_pc
							items_pc[items_pc.length - 1].products.push(newItem);

							// Update the sum of prices for each sublist
							const currentSublist = items_pc[items_pc.length - 1];
							currentSublist.totalPrice = parseFloat(currentSublist.totalPrice) || 0;
							currentSublist.totalPrice += parseFloat(newItem.total);

							// Update the quantity for the first item in item.products
							if (currentSublist.products.length === 1) {
								currentSublist.quantity = currentSublist.products[0].quantity || 0;
							
							}
						}
						this.items_pc = items_pc;
						setTimeout(() => {
							console.log(items_pc);
							this.printInvoice();
						}, 1000);
					},
				
				showModal(){
			  	 document.getElementById('myForm').reset(); 
			  	 this.showQuantity = false; 
			  	 this.openModal =true;
			    },

			 
			    initData(){
					itemsData={{ produits|safe }} 
					products_items =[]       
					for (const item of itemsData) {
						const item_obj = {	
							id: this.generateUUID(),			
							name: item.produit_name,
							ref: item.produit_ref,
							component: item.product_component,
							qty: parseFloat(item.produit_qty),
							rate: item.produit_freeprice !== null ? parseFloat(item.produit_freeprice) : 0,	
							livraison_prix: item.produit_livraison * parseFloat(item.produit_qty) ,
							rateLiv: parseFloat(item.produit_unitprice) ,
							tva: parseFloat(item.produit_tva),					   
							gst: this.calculateGST(item.produit_tva, item.produit_freeprice),
							gstLiv: this.calculateGST(item.produit_tva, parseFloat(item.produit_unitprice)),		
							totalLiv: parseFloat(item.produit_qty) *( parseFloat(item.produit_unitprice)), 
							total: parseFloat(item.produit_qty) * (item.produit_freeprice !== null ? parseFloat(item.produit_freeprice) : 0),		
						};	
						this.items.push(item_obj);
						this.itemTotal();
						
						this.itemTotal();
						this.itemTotalGST();
						this.itemTotalLiv();
						this.itemTotalGSTLiv();
						const netTotal = parseFloat(this.netTotal.replace(/[^\d.,]/g, "").replace(",", "."));
						const totalGST = parseFloat(this.totalGST.replace(/[^\d.,]/g, "").replace(",", "."));
						const netTotalLiv = parseFloat(this.netTotalLiv.replace(/[^\d.,]/g, "").replace(",", "."));
						const totalGSTLiv = parseFloat(this.totalGSTLiv.replace(/[^\d.,]/g, "").replace(",", "."));
						this.netTotalLiv = netTotalLiv
						this.TotalPay = netTotal * 1.19;
						this.TotalPayLiv = (netTotalLiv * 1.19).toFixed(2);
						this.totalGSTLiv = (netTotalLiv  * 0.19).toFixed(2);
						this.totalGST = (netTotal * 0.19).toFixed(2);
						this.fraisLivraison += item.produit_livraison * item.produit_qty;
					}
					itemsData={{stocks | safe}};
							for (const itemData of itemsData) {							 
								const item = {
									id: this.generateUUID(),
									name: itemData.product_name,
									component: itemData.product_component,
									ref: itemData.reference,
									ent:itemData.entrepot,
									qty: itemData.quantity,
									prix: itemData.price,
									livraison_prix: itemData.prix_livraison,
									rateLiv: parseFloat(itemData.price) +  parseFloat(itemData.prix_livraison)
								};
								this.stocks.push(item);
							}	
								
			    },
				deleteSelectedItems() {
					this.items = this.items.filter(invoice => !invoice.selected);
					const sumPrixLivraison = this.items.reduce((total, item) => total + item.livraison_prix * item.qty, 0);

					// Assign the sum to this.fraislivraison
					this.fraisLivraison = sumPrixLivraison;
					this.itemTotal();
					this.itemTotalGST();
					this.itemTotalLiv();
					this.itemTotalGSTLiv();

					const netTotal = parseFloat(this.netTotal.replace(/[^\d.,]/g, "").replace(",", "."));
					const totalGST = parseFloat(this.totalGST.replace(/[^\d.,]/g, "").replace(",", "."));
					const netTotalLiv = parseFloat(this.netTotalLiv.replace(/[^\d.,]/g, "").replace(",", "."));
					const totalGSTLiv = parseFloat(this.totalGSTLiv.replace(/[^\d.,]/g, "").replace(",", "."));

					
					this.TotalPay = netTotal * 1.19;
					this.TotalPayLiv = netTotalLiv * 1.19;
					this.totalGST = this.netTotal * 0.19;
					this.totalGSTLiv = this.netTotalLiv * 0.19
				},
			    addItem() {
					const existingItemIndex = this.items.findIndex(item => item.ref === this.item.ref);
					if (existingItemIndex !== -1) {
						const existingItem = this.items[existingItemIndex];
						const taux_liv = existingItem.livraison_prix / existingItem.qty
						this.fraisLivraison -= taux_liv * existingItem.qty
						existingItem.qty = this.item.qty;
						existingItem.livraison_prix = taux_liv * parseFloat(this.item.qty);
						existingItem.total =  parseFloat(this.item.qty) * parseFloat(existingItem.rate);
						existingItem.totalLiv =  parseFloat(this.item.qty) * parseFloat(existingItem.rateLiv);
						this.fraisLivraison += taux_liv * parseFloat(this.item.qty)
					} else {
						this.items.push({
							id: this.generateUUID(),
							name: this.item.name,
							ref: this.item.ref,
							qty: this.item.qty,
							ent: this.item.ent,
							rate: this.item.rate,
							rateLiv: this.item.rateLiv,
							tva: this.item.tva,
							gst: this.calculateGST(this.item.gst, parseFloat(this.item.rate)),
							gstLiv: this.calculateGST(this.item.gst, parseFloat(this.item.rateLiv)),
							livraison_prix: this.item.livraison_prix * this.item.qty,
							total: this.item.qty * this.item.rate,
							totalLiv: this.item.qty * this.item.rateLiv
						});
						this.fraisLivraison += this.item.livraison_prix * this.item.qty
					}
					
				  this.itemTotal();
				  this.itemTotalGST();
				  this.itemTotalLiv();
				  this.itemTotalGSTLiv();

				  const netTotal = parseFloat(this.netTotal.replace(/[^\d.,]/g, "").replace(",", "."));
				  const totalGST = parseFloat(this.totalGST.replace(/[^\d.,]/g, "").replace(",", "."));
				  const netTotalLiv = parseFloat(this.netTotalLiv.replace(/[^\d.,]/g, "").replace(",", "."));
				  const totalGSTLiv = parseFloat(this.totalGSTLiv.replace(/[^\d.,]/g, "").replace(",", "."));

				  
				  this.TotalPay = netTotal * 1.19;
				  this.TotalPayLiv = (netTotalLiv * 1.19).toFixed(0);

				  this.item.id = '';
				  this.item.name = '';
				  this.item.ref = '';
				  this.item.qty = 0;
				  this.item.rate = 0;
				  this.item.rateLiv =0;
				  this.item.livraison_prix =0;
				  this.item.totalLiv = 0;
				  this.item.gst = 0;
				  this.item.total = 0;
				  document.getElementById('myForm').reset(); 
				  this.showQuantity = false; 
				  this.openModal=false;
				},
 
 
				deleteItem(uuid) {
					this.items = this.items.filter(item => uuid !== item.id);

					this.itemTotal();
					this.itemTotalGST();
				},
 
				 itemTotal() {
					this.netTotal = this.numberFormat(this.items.length > 0 ? this.items.reduce((result, item) => {
						return result + (item.rate * item.qty);
					}, 0) : 0);
				},

				itemTotalLiv() {
					this.netTotalLiv = this.numberFormat(this.items.length > 0 ? this.items.reduce((result, item) => {
						return result + item.totalLiv;
					}, 0) : 0);
				},

				itemTotalGST() {
					this.totalGST =  this.numberFormat(this.items.length > 0 ? this.items.reduce((result, item) => {
						return result + (item.gst * item.qty);
					}, 0) : 0);
				},

				itemTotalGSTLiv() {
					this.totalGSTLiv =  this.numberFormat(this.items.length > 0 ? this.items.reduce((result, item) => {
						return result + (item.gstLiv * item.qty);
					}, 0) : 0);
				},
				netTotal: 0,
				TotalPay:0,
				fraisLivraison:0,
				netTotalLiv :0,
				totalGSTLiv:0,
				TotalPayLiv:0,
				TotalPayTotal(){
						const totalPayLiv = parseFloat(this.TotalPayLiv) || 0;
						const totalRemise = parseFloat(this.TotalRemise) || 0;
						// Perform the calculation
						const result = parseFloat((totalPayLiv));

						return result;
				},
 
				 calculateGST(GSTPercentage, itemRate) {
					 return this.numberFormat((itemRate - (itemRate * (100 / (100 + GSTPercentage)))).toFixed(2));
				 },
 
				 generateUUID(){
					 return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
						 var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
						 return v.toString(16);
					 });
				 },
 
				 generateInvoiceNumber(minimum, maximum) {
					 const randomNumber = Math.floor(Math.random() * (maximum - minimum)) + minimum;
					 this.invoiceNumber = 'FA-'+ randomNumber;
				 },
 
				 numberFormat(amount) {
					 return amount.toLocaleString("fr-FR", {
						 style: "currency",
						 currency: "DZD"
					 });
				 },
 
				 printInvoice() {
					 var printContents = this.$refs.printTemplate.innerHTML;
					 var originalContents = document.body.innerHTML;
					 document.body.innerHTML = printContents;
					 window.print();
				   window.location.reload();
					 document.body.innerHTML = originalContents;
					 this.items=[];
				 },
				 validateBon(){
					 const numericNetTotal = parseFloat(this.netTotal.replace(/\s|/g, ''));
					 const dataObj = {
						 IdBon : this.invoiceNumber,
						 dateFacture:this.invoiceDate,
						 dateReglement : this.invoiceDueDate,
						 modeReglement : this.ModeReglement,
						 banque : this.banque,
						 numCheque: this.numCheque,
						 BlAssocie : this.AssociatedBL,	
						 Remise:this.TotalRemise,
						 remise: this.remise,
						 etatFacture : this.etatFacture,
						 clientInfo:this.billing,
						 echeance : this.echeanceRegelement,
						 produits:this.items,
					 };

			   axios.post('', {
				  formData: dataObj
				 }, {
			   headers: {
				 'Content-Type': '',
				 'X-CSRFToken': getCookie('csrftoken'),
			   }
				})
			  .then((response) => {
				 data= response.data

			   if(data.error){
				 alert(data.error);
			   }else{
				 alert("Bon Validé, you can print it");
			   }		  
			  })
			  .catch((error) => {
			   alert(error)
			  });
						 
			  },
				 
			 }
		  } 
		 function getCookie(name) {
			   var cookieValue = null;
			   if (document.cookie && document.cookie !== '') {
				   var cookies = document.cookie.split(';');
				   for (var i = 0; i < cookies.length; i++) {
					 var cookie = cookies[i].trim();
					 // Does this cookie string begin with the name we want?
					 if (cookie.substring(0, name.length + 1) === (name + '=')) {
						 cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						 break;
					 }
				 }
			   }
			  return cookieValue;
		   }
	 </script>
 </body>
	<!-- end Main content  -->

  </div>
</div>
</div>
</div>

{% endblock content %}
