{% extends "base.html" %}
{% load static heroicons %}

{% block body_class %}{% endblock %}
{% block content %}
<div 
x-data="{ 
	menuOpen: false, 
	basicSignInModal: false,
	basicSignUpModal: false,
	advanceSignInModal: false,
	advanceSignUpModal: false,
}" 
class="flex flex-col min-h-screen custom-scrollbar"
>
<!-- start::Black overlay -->
<div :class="menuOpen ? 'block' : 'hidden'" @click="menuOpen = false" class="fixed  inset-0 bg-black opacity-50 transition-opacity lg:hidden"></div>
<!-- end::Black overlay -->
 {% include 'header.html' %}
 {% include 'tabs.html' with active_tab="vente" %}
 <div class=" w-full flex flex-row">
	{% include "sidebar_ventes.html" %}
  <div class="h-full w-full">
	<main class="block w-full h-full px-2 " x-data=" billscompt()" x-init="init()">
		<div class="flex flex-col items-start justify-between space-y-4 border-b lg:items-center lg:space-y-0 lg:flex-row py-2"  >                                                                                                                                                    
			 <h1 class="text-2xl font-semibold whitespace-nowrap pt-4">Liste des Produits Non-Livrés</h1>         
		</div>
		<div class="flex flex-wrap justify-start border-b  py-2">
		   <div class="flex flex-wrap justify-start space-x-2 border-r  px-2 py-2">
		   	<div class=" py-2 ">
				<input type="search" x-model="search" class="form-input rounded-md bg-gray-50 text-sm text-black  h-10 py-2 pl-4 border-transparent border-none outline-none focus:ring-0 focus:text-black transition-all duration-300 ease-in-out focus:w-72 w-60"
					placeholder="Rechercher...">
			</div>
			<div class="py-2">
				<select class="text-black/70 bg-gray-50 px-3 py-2 transition-all cursor-pointer hover:border-gray-700 border border-gray-200 rounded-lg outline-gray-700  invalid:text-black/30 w-64"
				x-model="selectedFournisseur">
				<option value="">Tous les utilisateurs</option>
				{% for user in users %}
					<option value="{{ user }}">{{ user }}</option>
				{% endfor %}
				</select>
			</div>
			<div class="flex justify-start space-x-3 px-4 ">
				<div class="flex items-center space-x-2">
					<label for="startDate" class="text-sm">Date début:</label>
					<input type="date" x-model="datedeb" id="startDate" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
				</div>
				<div class="flex items-center space-x-2">
					<label for="endDate" class="text-sm">Date Fin:</label>
					<input type="date" x-model="datefin" id="endDate" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
				</div>
   		  </div>
		  </div>		 
		</div>
	

								 
		<div class="w-full  py-4 ">
 <div class="">
  <div class="bg-gray-50">
    <div class="grid grid-cols-8 ">
      <div class="px-6 py-3 text-sm text-center font-medium text-gray-500 uppercase">Produit</div>
      <div class="px-6 py-3 text-sm  text-center font-medium text-gray-500 uppercase">Numero Série</div>
      <div class="px-6 py-3 text-sm text-center font-medium text-gray-500 uppercase">Quantité</div>
      <div class="px-6 py-3 text-sm text-center font-medium text-gray-500 uppercase">ID BonL</div>
      <div class="px-6 py-3 text-sm text-center font-medium text-gray-500 uppercase">Client</div>
      <div class="px-6 py-3 text-sm text-center font-medium text-gray-500 uppercase">Date Bon</div>
	  <div class="px-6 py-3 text-sm text-center font-medium text-gray-500 uppercase">Bon Garantie</div>
      <div class="px-6 py-3 text-sm text-center font-medium text-gray-500 uppercase">CRÉER PAR</div>
    </div>
  </div>
  <div class="bg-white divide-y divide-gray-200">
    <template x-for="product in filteredAndPaginatedProducts">
      <div class="transition-all hover:shadow-lg" x-show="productMatches(search, product.reference, product.reference)">
        <div class="grid grid-cols-8">
          <div class="px-6 py-2 text-center flex">
             <div  class="inline-flex px-2  text-sm font-semibold leading-5" x-text="product.reference"></div>
          </div>
		  <div class="px-6 py-2 text-center">
            <div class="inline-block px-2 text-sm  font-semibold leading-5" x-data="{show: false}" >
				<a class="text-red-500 text-sm cursor-pointer hover:text-red-700" @click="show = !show">
					<p x-show="!show">Voir Numéro de Série</p>
					<p x-show="show">Masquer Numéro de Série</p>
				</a>
				<ul x-show="show">
					<template x-for="item in product.NumeroSeries">
						<li x-text="item"></li>
					</template>
				</ul>
			</div>
          </div>   
		  <div class="px-6 py-2 text-center">
            <div class="inline-flex px-2 text-sm  font-semibold leading-5" x-text="product.quantity"></div>
          </div>         
		  <div class="px-6 py-2 text-center">
            <div class="inline-flex px-2 text-sm  font-semibold leading-5" x-text="product.BonL"></div>
          </div>         
          <div class="px-6 py-2 text-center">
            <div class="inline-flex px-2 text-sm  font-semibold leading-5" x-text="product.client"></div>
          </div>      
          <div class=" py-2 text-center">
            <div class="inline-flex text-sm  font-semibold leading-5" x-text="product.name"></div>
          </div>
		 
          <div class="px-6 py-2 text-center">
            <div class="inline-flex px-2 text-sm  font-semibold leading-5" x-text="product.BonNo"></div>
          </div>         
              
              
                 
          <div class="px-6 py-2 flex items-center text-sm text-center ">
            <div class="inline-flex px-2 text-sm font-semibold leading-5" x-text="product.user"></div>
			<div class="relative inline-block"  @click="markLivre(product.id)" x-data="{showTooltip :false}" >
				<div class="cursor-pointer w-10 h-10 rounded-full  inline-flex items-center justify-center" @mouseenter="showTooltip = true" @mouseleave="showTooltip = false" >
					<svg id='circle-check_24' width='24' height='24' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><rect width='24' height='24' stroke='none' fill='#000000' opacity='0'/>
						<g transform="matrix(1 0 0 1 12 12)" >
						<g style="" >
						<g transform="matrix(1 0 0 1 0 0)" >
						<path style="stroke: none; stroke-width: 2; stroke-dasharray: none; stroke-linecap: round; stroke-dashoffset: 0; stroke-linejoin: round; stroke-miterlimit: 4; fill: none; fill-rule: nonzero; opacity: 1;" transform=" translate(-12, -12)" d="M 0 0 L 24 0 L 24 24 L 0 24 z" stroke-linecap="round" />
						</g>
						<g transform="matrix(1 0 0 1 0 0)" >
						<circle style="stroke: rgb(128,128,128); stroke-width: 2; stroke-dasharray: none; stroke-linecap: round; stroke-dashoffset: 0; stroke-linejoin: round; stroke-miterlimit: 4; fill: none; fill-rule: nonzero; opacity: 1;" cx="0" cy="0" r="9" />
						</g>
						<g transform="matrix(1 0 0 1 0 0)" >
						<path style="stroke: rgb(128,128,128); stroke-width: 2; stroke-dasharray: none; stroke-linecap: round; stroke-dashoffset: 0; stroke-linejoin: round; stroke-miterlimit: 4; fill: none; fill-rule: nonzero; opacity: 1;" transform=" translate(-12, -12)" d="M 9 12 L 11 14 L 15 10" stroke-linecap="round" />
						</g>
						</g>
						</g>
					</svg>
				</div>
				<div x-show.transition="showTooltip" class="z-40 shadow-lg text-center w-32 block absolute right-0 top-0 p-2 mt-12 rounded-lg bg-gray-800 text-white text-xs">
					Marquer Produit Livré!
				</div>
			   </div>
          </div>
		
          <div class="px-6 py-4 text-right flex items-center ">
          </div>
        </div>
      </div>
    </template>
  </div>
</div>
<div class="flex bg-gray-100 justify-between px-8">
   
	<div class="flex justify-start">
		<button
			x-bind:disabled="currentPage === 1"
			@click="prevPage"
		>
		<svg id='chevrons-left_24' width='24' height='24' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><rect width='24' height='24' stroke='none' fill='#000000' opacity='0'/>
				<g transform="matrix(1 0 0 1 12 12)" >
				<g style="" >
				<g transform="matrix(1 0 0 1 0 0)" >
				<path style="stroke: none; stroke-width: 2; stroke-dasharray: none; stroke-linecap: round; stroke-dashoffset: 0; stroke-linejoin: round; stroke-miterlimit: 4; fill: none; fill-rule: nonzero; opacity: 1;" transform=" translate(-12, -12)" d="M 0 0 L 24 0 L 24 24 L 0 24 z" stroke-linecap="round" />
				</g>
				<g transform="matrix(1 0 0 1 -3.75 -0.25)" >
				<polyline style="stroke: rgb(0,0,0); stroke-width: 1.5; stroke-dasharray: none; stroke-linecap: round; stroke-dashoffset: 0; stroke-linejoin: round; stroke-miterlimit: 4; fill: none; fill-rule: nonzero; opacity: 1;" points="2.5,-5 -2.5,0 2.5,5 " />
				</g>
				<g transform="matrix(1 0 0 1 2.25 -0.25)" >
				<polyline style="stroke: rgb(0,0,0); stroke-width: 1.5; stroke-dasharray: none; stroke-linecap: round; stroke-dashoffset: 0; stroke-linejoin: round; stroke-miterlimit: 4; fill: none; fill-rule: nonzero; opacity: 1;" points="2.5,-5 -2.5,0 2.5,5 " />
				</g>
				</g>
				</g>
		</svg>
		</button>
		<p class=" text-lg px-2" x-text="currentPage"></p> /<p id="total-pages" class=" text-lg px-2" x-text="totalPages"></p>
		<button
			x-bind:disabled="currentPage === totalPages"
			@click="nextPage"
		>
			<svg id='chevrons-right_24' width='24' height='24' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><rect width='24' height='24' stroke='none' fill='#000000' opacity='0'/>
					<g transform="matrix(1 0 0 1 12 12)" >
					<g style="" >
					<g transform="matrix(1 0 0 1 0 0)" >
					<path style="stroke: none; stroke-width: 2; stroke-dasharray: none; stroke-linecap: round; stroke-dashoffset: 0; stroke-linejoin: round; stroke-miterlimit: 4; fill: none; fill-rule: nonzero; opacity: 1;" transform=" translate(-12, -12)" d="M 0 0 L 24 0 L 24 24 L 0 24 z" stroke-linecap="round" />
					</g>
					<g transform="matrix(1 0 0 1 -2.75 -0.25)" >
					<polyline style="stroke: rgb(0,0,0); stroke-width: 1.5; stroke-dasharray: none; stroke-linecap: round; stroke-dashoffset: 0; stroke-linejoin: round; stroke-miterlimit: 4; fill: none; fill-rule: nonzero; opacity: 1;" points="-2.5,-5 2.5,0 -2.5,5 " />
					</g>
					<g transform="matrix(1 0 0 1 3.25 -0.25)" >
					<polyline style="stroke: rgb(0,0,0); stroke-width: 1.5; stroke-dasharray: none; stroke-linecap: round; stroke-dashoffset: 0; stroke-linejoin: round; stroke-miterlimit: 4; fill: none; fill-rule: nonzero; opacity: 1;" points="-2.5,-5 2.5,0 -2.5,5 " />
					</g>
					</g>
					</g>
			</svg>
		</button>
	 </div>
</div>

</div>
<!-- Modal de confirmation -->
				
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.2/xlsx.full.min.js"></script>
	   <script>
				function billscompt(){
				  return{
					search: '',
					selectedFamily: '',
					products: [],
					currentPage: 1,
					showModal:false,
					selectedFournisseur:'',
					productReference: '',
					pageSize: 10,					
					get totalPages() {
  						return Math.max(1, Math.ceil(this.filteredProducts.length / this.pageSize));
  					},
					
					datedeb: '',
    				datefin:'',
					markLivre(productID){						
						dataObj ={
							id: productID,                        
						}
						axios.post('markProduitLivre',dataObj, {
							headers: {
							'Content-Type': 'application/json',
							'X-CSRFToken': getCookie('csrftoken'),
							}
						})
							.then(response => {
									alert(response.data.message);
									window.location.reload()
							})
						.catch(error => {
							// Handle request errors
							alert(error);
						});
						this.showModal = false;
						this.selectedItems = [];
					},
					get filteredProducts() {
						return this.products.filter((product) => {
							const fournisseurMatch = this.selectedFournisseur === '' || this.selectedFournisseur == product.user;
							const nameMatch = product.reference.toLowerCase().includes(this.search.toLowerCase());
							const referenceMatch = product.client.toLowerCase().includes(this.search.toLowerCase());
							const BonLMatch = product.BonL.toLowerCase().includes(this.search.toLowerCase());

							const startDate = new Date(this.datedeb);
							const endDate = new Date(this.datefin);

							const dateMatch = startDate <= new Date(product.name) && new Date(product.name) <= endDate;

							return (nameMatch || referenceMatch || BonLMatch) && dateMatch  && fournisseurMatch;
						});
					},
					invoiceDate:'',
					invoiceNumber:'',
					boncomptoir:'',
					decision:'',
					client:'',
					clientadress:'',
					totalht:'',
					totalttc:'',
					remise:'',
					nettotal:'',
					totalGSTLiv:'',
					extra:'',
					toprintbill:'',
					items:[],
					solde:0,
					renderInformation(idBon){
						toprintbill = this.products.find((product) => product.reference == idBon)

						const toprint_bill = this.products.find((product) => product.reference == idBon)
						invoiceDate = toprint_bill.name;
						invoiceNumber = toprint_bill.reference;
						client = toprint_bill.priceachat;
						solde = toprint_bill.client_solde;
						totalht = toprint_bill.totalHt;
						totalttc = toprint_bill.totalprice;
						totalGSTLiv = (toprint_bill.totalHt * 0.19).toFixed(0);
						remise = toprint_bill.remise;
						nettotal = parseFloat(toprint_bill.totalprice) - parseFloat(toprint_bill.remise);
						item= []
						let currentCPU = null;  // Variable to keep track of the current CPU

						for (const variant of toprint_bill.variants) {
							if (variant.component === "cpu") {
								// If the CPU changes, push a new sublist into this.items
								if (currentCPU !== variant.reference) {
									currentCPU = toprint_bill.reference_pc[this.items.length];
									this.items.push({
										reference: currentCPU,
										designation: toprint_bill.designation_pc[this.items.length],
										products: []  // Initialize an empty array for the CPU's variants
									});
								}
							}

							const newItem = {
								reference: variant.reference,
								name: variant.name,
								quantity: variant.quantity,
								price: variant.price,
								total: variant.priceachat,
							};

							// Add the variant to the current sublist in this.items
							if (this.items[this.items.length - 1] != undefined ){
						    	this.items[this.items.length - 1].products.push(newItem);
    							// Update the sum of prices for each sublist
    							const currentSublist = this.items[this.items.length - 1];
    							currentSublist.totalPrice = parseFloat(currentSublist.totalPrice) || 0;
    							currentSublist.totalPrice += parseFloat(newItem.total);
    							// Update the quantity for the first item in item.products
    							if (currentSublist.products.length === 1) {
    								currentSublist.quantity = currentSublist.products[0].quantity || 0;
    							
    							}
							}
						}
						toprintbill.variants = this.items;
						console.log(toprintbill.variants);
						this.printInvoice();
					},
					printInvoice() {
						var printContents = this.$refs.printTemplate.innerHTML;
						document.body.innerHTML = printContents;
						setTimeout(() => {
							window.print();
							window.location.reload();
							this.items = [];
						}, 50); // Delay for 1 second (adjust as needed)      			
					},
	  				get filteredAndPaginatedProducts() {
		  				const start = (this.currentPage - 1) * this.pageSize;
		  				const end = start + this.pageSize;
		  				return this.filteredProducts.slice(start, end);
	  				},
					prevPage() {
					  if (this.currentPage > 1) {
					   this.currentPage -= 1;
					  }
					},
					nextPage() {
					  if (this.currentPage < this.totalPages) {
						  this.currentPage += 1;
					  }
					},
					productMatches(search, productName, productReference) {
					  //  if (productName === null || productReference === null) {
					  //     return false;
					  //     }
					 
		  				return (
			 			 productName.toLowerCase().includes(search.toLowerCase()) ||
			  			 productReference.toLowerCase().includes(search.toLowerCase())
		  				);
	    			},

					showModal:false,
					billtodelete:'',
					selectedItems: [],
					deletedSelected(){
                        if (this.selectedItems.length === 0) {
                            alert("Veuillez Selectionner aumoins un élément pour supprimer!.");
                            return;
                        }
						console.log(this.selectedItems);

						dataObj ={
							liste_ids: this.selectedItems,                        
								}
						axios.post('DeleteInvoiceBill/',dataObj, {
							headers: {
							'Content-Type': 'application/json',
							'X-CSRFToken': getCookie('csrftoken'),
							}
						})
							.then(response => {
								// Check if the deletion was successful
								if (response.data.success) {            			
									showModal = false;
									alert(response.data.message);
									window.location.reload();
								} else {
									alert(response.data.message);
									window.location.reload();
								}
							})
						.catch(error => {
						// Handle request errors
						alert(error);
						});
						this.showModal = false;
						this.selectedItems = [];
					},

					annulerSuppression() {
						// Réinitialiser les variables
						this.showModal = false;
						this.billtodelete = '';
					},
					init() {
						var products = [];
						{% for bon in list %}  				      
							var productData = {
								id:"{{bon.id}}",
								name: "{{ bon.dateBon }}",
								price:"{{ bon.entrepot }}",
								BonNo:"{{ bon.BonNo }} ",
								BonL:"{{ bon.BonL }} ",
								client:"{{ bon.client }} ",
								quantity:"{{ bon.quantity }} ",
								user: "{{bon.user}}",
								reference: "{{bon.produit}}",
								NumeroSeries: {{bon.NumeroSeries  | safe}},							
								showVariants:false,
								variants:[],
							};
						// Check if the product already exists in the products array
						var exists = products.some(function(existingProduct) {
							return existingProduct.reference === productData.reference;
						});
						if (!exists) {
							products.push(productData);					
						}
						{% endfor %}

						// Now, assign the filtered products array to this.products
						this.products = products;
								// Add one day to the first day
							const currentDate = new Date();

                            // Set to the first day of the year
                            const firstDay = new Date(currentDate.getFullYear(), 0, 1);
                            
                            // Set to the last day of the year
                            const lastDay = new Date(currentDate.getFullYear(), 11, 31);
                            
                            // Format the dates
                            this.datedeb = firstDay.toISOString().split('T')[0];
                            this.datefin = lastDay.toISOString().split('T')[0];	
					},

				  }
				}
				function getCookie(name) {
				  var cookieValue = null;
	  			  if (document.cookie && document.cookie !== '') {
		  			var cookies = document.cookie.split(';');
		  			for (var i = 0; i < cookies.length; i++) {
			  			var cookie = cookies[i].trim();
			  		// Does this cookie string begin with the name we want?
			  			if (cookie.substring(0, name.length + 1) === (name + '=')) {
				  			cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
				  			break;
			  			}
		  			}
	  			 }
	  				return cookieValue;
  				}
			   </script> 
				
			  </div>
			</div>
		  </div>
		</div>
</main>
	<!-- end Main content  -->

  </div>
</div>
</div>
</div>

{% endblock content %}