{% extends "base.html" %}
{% load static heroicons %}

{% block body_class %}{% endblock %}
{% block content %}
  
<div 
x-data="{ 
	menuOpen: false, 
	basicSignInModal: false,
	basicSignUpModal: false,
	advanceSignInModal: false,
	advanceSignUpModal: false,
}" 
class="flex flex-col min-h-screen custom-scrollbar"
>
<!-- start::Black overlay -->
<div :class="menuOpen ? 'block' : 'hidden'" @click="menuOpen = false" class="fixed  inset-0 bg-black opacity-50 transition-opacity lg:hidden"></div>
<!-- end::Black overlay -->
 {% include 'header.html' %}
 {% include 'tabs.html' with active_tab="reglements" %}
 <div class=" w-full flex flex-row">
	{% include "sidebar_reglements.html" %}
  <div class="h-full w-full">
	<!-- Main content header -->
		  <main class="block w-full h-full px-2 overflow-hidden " x-data="{isOpen :false}">
          <!-- Main content header -->
          <div class="flex flex-col items-start justify-between space-y-4 border-b lg:items-center lg:space-y-0 lg:flex-row"  >                                                                                                                                                    
            <h1 class="text-2xl font-semibold whitespace-nowrap pt-4">Liste des Réglements Fournisseur</h1>          
          </div>            
        <div class="flex flex-col mt-5">
        <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
          <table class="border-collapse rounded-xl border-gray-100 w-full mt-2"  x-data="{ showBody: false }">
         <thead class="bg-gray-100 rounded-xl">
          <tr class="bg-gray-100 rounded-xl">
            <th class="px-4 text-gray-700">Client</th>
            <th class="px-4 text-gray-700">Montant</th>
            <th class="px-4 text-gray-700">Réglé</th>
            <th class="px-4 text-gray-700">Remboursé</th>
            <th class="px-4 text-gray-700">Solde</th>
            <th class="px-4 text-gray-700">Solde Antérieur</th>
            <th class="px-4 text-gray-700"></th>
          </tr>
         </thead>
         <tbody>
          {% for client in clients %}
              <tr class="rounded-lg border-b {% if client.reste_prix_due > client.total_prix_paye %}bg-red-400 {% else %} bg-green-400 {% endif %}">
                <td class="px-4 py-2 text-sm font-medium text-center text-gray-700">{{client.acronym}}</td>
                <td class="px-4 py-2 text-sm font-medium text-center text-gray-700">{{client.total_bonachat_price}}</td>
                <td class="px-4 py-2 text-sm font-medium text-center text-gray-700">{{client.total_prix_paye}}</td>
                <td class="px-4 py-2 text-sm font-medium text-center text-gray-700">{{client.total_rembourse}}</td>
                <td class="px-4 py-2 text-sm font-medium text-center text-gray-700">{{client.reste_prix_due}}</td>
                <td class="px-4 py-2 text-sm font-medium text-center text-gray-700">{{client.total_amount}}</td>
                <td class="text-sm cursor-pointer">
                  <span @click="showBody=!showBody">
                    <svg id='chevron-down_24' width='24' height='24' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><rect width='24' height='24' stroke='none' fill='#000000' opacity='0'/>                      
                      <g transform="matrix(1 0 0 1 12 12)" >
                      <g style="" >
                      <g transform="matrix(1 0 0 1 0 0)" >
                      <path style="stroke: none; stroke-width: 2; stroke-dasharray: none; stroke-linecap: round; stroke-dashoffset: 0; stroke-linejoin: round; stroke-miterlimit: 4; fill: none; fill-rule: nonzero; opacity: 1;" transform=" translate(-12, -12)" d="M 0 0 L 24 0 L 24 24 L 0 24 z" stroke-linecap="round" />
                      </g>
                      <g transform="matrix(1 0 0 1 -0.25 -0.25)" >
                      <polyline style="stroke: rgb(0,0,0); stroke-width: 1.5; stroke-dasharray: none; stroke-linecap: round; stroke-dashoffset: 0; stroke-linejoin: round; stroke-miterlimit: 4; fill: none; fill-rule: nonzero; opacity: 1;" points="-6,-3 0,3 6,-3 " />
                      </g>
                      </g>
                      </g>
                    </svg>
                  </span>
                </td>
               <tr x-show="showBody">
                <td colspan="7">
                  <table class="border-collapse bg-gray-50 rounded-3xl border-gray-100 w-full mt-2">
                    <thead>
                      <tr>
                        <th class="px-4">Bon Sortie</th>
                        <th class="px-4">Montant</th>
                        <th class="px-4">Réglé</th>
                        <th class="px-4">Remboursé</th>
                        <th class="px-4">Solde</th>
                        <th class="px-4">Solde Antérieur</th>                        
                      </tr>
                    </thead>
                    <tbody>
                      {% for bon_sortie in client.client_bons_achat.all  %}
                        <tr class="border-b">
                          <td class="px-4 py-2 text-center">- {{ bon_sortie.idBon }}</td>
                          <td class="px-4 py-2 text-center">{{ bon_sortie.totalPrice}}</td>
                          <td class="px-4 py-2 text-center">{{ bon_sortie.total_paid_amount }}</td>
                          <td class="px-4 py-2 text-center"> / </td>
                          <td class="px-4 py-2 text-center">{{ bon_sortie.total_remaining_amount }}</td>
                          <td class="px-4 py-2 text-center">/</td>                     
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </td>
               </tr>
              </tr>
          {% endfor %}
         </tbody>
          </table>
       </div>
     </div>
</div>

</main>		
	<!-- end Main content  -->

  </div>
</div>
</div>
</div>

{% endblock content %}


