{% extends "base.html" %}
{% load static  heroicons %}

{% block body_class %}{% endblock %}
{% block content %}

<div 
x-data="{ 
	menuOpen: false, 
	basicSignInModal: false,
	basicSignUpModal: false,
	advanceSignInModal: false,
	advanceSignUpModal: false,
}" 
class="flex flex-col min-h-screen custom-scrollbar"
>
<!-- start::Black overlay -->
<div :class="menuOpen ? 'block' : 'hidden'" @click="menuOpen = false" class="fixed  inset-0 bg-black opacity-50 transition-opacity lg:hidden"></div>
<!-- end::Black overlay -->
 {% include 'header.html' %}
 {% include 'tabs.html' with active_tab="eh" %}
 <div class=" w-full flex flex-row">
	{% include "sidebar_grh.html" %}
  <div class="h-full w-full"  x-data="client()" x-init="init()">
	<!-- Main content header -->
	<main class="block w-full h-full px-2 overflow-hidden " >
          <div class="flex flex-col items-start justify-between space-y-4 border-b lg:items-center lg:space-y-0 lg:flex-row"  >                                                                                                                                                    
            <h1 class="text-2xl font-semibold whitespace-nowrap pt-4">Boite Archive</h1>          
          </div>          
          <div class="-mb-2 py-2 flex justify-between border-b">  
            <div class="flex justify-start space-x-3 px-4 ">
              <input type="search" x-model="search" class="form-input rounded-md bg-gray-50 text-sm text-black  h-10 py-2 pl-4 border-transparent border-none outline-none focus:ring-0 focus:text-black transition-all duration-300 ease-in-out focus:w-72 w-60"
                    placeholder="Rechercher...">
            <div class="flex justify-start space-x-3 px-4 ">
              <div class="flex items-center space-x-2">
                <label for="startDate" class="text-sm">Date début:</label>
                <input type="date" x-model="datedeb" id="startDate" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
              </div>
              <div class="flex items-center space-x-2">
                <label for="endDate" class="text-sm">Date Fin:</label>
                <input type="date" x-model="datefin" id="endDate" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
              </div>
            </div>
                    
            </div>  
            <div class="inline-block px-4 py-2 h-10 text-sm leading-5 font-medium rounded-md text-black border border-gray-700 hover:bg-gray-700 hover:text-white focus:outline-none focus:shadow-outline cursor-pointer">
                <button x-on:click="isOpen = true; operation = 'add';">Ajouter Un archive</button> 
            </div>
          </div>  

         <div class="flex flex-col mt-5">
            <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
              <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
                <div class="overflow-hidden border-b border-gray-200 rounded-md shadow-md">
                  <table class="min-w-full overflow-x-scroll divide-y divide-gray-200">
                    <thead class="bg-gray-50">
                      <tr class="bg-white">
                       <th colspan="8">
                        <div class="transition-transform cursor-pointer px-5 pl-4 py-1 text-red-500 hover:text-red-700" @click="showModal = true;" >
                              {% heroicon_mini "trash" %}
                          </div>
                        </th>
                        
                      </tr>
                      <tr>
                        <th
                          scope="col"
                          class="px-6 py-3 text-sm font-bold tracking-wider text-left text-gray-500 uppercase"
                        >
                        </th>
                        <th
                          scope="col"
                          class="px-6 py-3 text-sm font-bold tracking-wider text-left text-gray-500 uppercase"
                        >
                          Date Archivage
                        </th>
                              <th
                          scope="col"
                          class="px-6 py-3 text-sm font-bold tracking-wider text-left text-gray-500 uppercase"
                        >
                          Libellé
                        </th>
                        {% if request.session.role == "manager" %}
                          <th
                            scope="col"
                            class="px-6 py-3 text-sm font-bold tracking-wider text-left text-gray-500 uppercase"
                          >
                            Date Facturation Fournisseur
                          </th>
                          <th
                            scope="col"
                            class="px-6 py-3 text-sm font-bold tracking-wider text-left text-gray-500 uppercase"
                          >
                            Date Facturation Transitaire
                          </th>
                          <th
                            scope="col"
                            class="px-6 py-3 text-sm font-bold tracking-wider text-left text-gray-500 uppercase"
                          >
                          Montant
                          </th>
                      
                        {% endif %}
                        <th
                          scope="col"
                          class="px-6 py-3 text-sm font-bold tracking-wider text-left text-gray-500 uppercase"
                        >
                          Document
                        </th>
                  
                  
                        <th
                          scope="col"
                          class="px-6 py-3 text-sm font-bold tracking-wider text-left text-gray-500 uppercase"
                        >
                     
                        </th>                              
                      </tr>
                    </thead>
                    
                    <tbody class="bg-white divide-y divide-gray-200">
                      {% for arch in clients %}
                        <tr class="border-b" x-show="clientMatches( '{{arch.label}}', '{{arch.montant}}' , '{{arch.date_facturation_fournisseur}}' , '{{arch.date}}', '{{arch.date_facturation_transitaire}}')">
                          <td class="px-6 py-4 whitespace-nowrap">
                            <input class=" border-l-0 border-r-0 text-sm whitespace-nowrap" type="checkbox" :value="{{arch.id}}" x-model="selectedItems" id="target-row">
                          </td>
                          <td class="px-6 py-4 whitespace-nowrap">

                            <span class="inline-flex px-2 text-sm font-semibold leading-5 rounded-full">{{arch.date}}</span>
                          </td>
                          <td class="px-6 py-4 whitespace-nowrap">
                            <span class="inline-flex px-2 text-sm font-semibold leading-5 rounded-full">{{arch.label}}</span>
                          </td>
                          
                          <td class="px-6 py-4 whitespace-nowrap">
                            <span class="inline-flex px-2 text-sm font-semibold leading-5 rounded-full" >{{arch.date_facturation_fournisseur}}</span>
                          </td>
                          <td class="px-6 py-4 whitespace-nowrap">
                            <span class="inline-flex px-2 text-sm font-semibold leading-5 rounded-full" >{{arch.date_facturation_transitaire}}</span>
                          </td>
                          <td class="px-6 py-4 whitespace-nowrap">
                            <span class="inline-flex px-2 text-sm font-semibold leading-5 rounded-full">{{arch.montant}}</span>
                          </td>
                          <td class="px-6 py-4 whitespace-nowrap">
                            <span class="inline-flex px-2 text-sm font-semibold leading-5 rounded-full"><a href="https://controlsystemis-dossiasi.divatech.dz/{{ arch.document }}" download>{{ arch.document.name }}</a></span>
                          </td>
                          {% comment %} {% if request.session.role == "manager" or request.session.role == "DIRECTEUR EXECUTIF"  %}                        
                          <td class="px-6 py-4 flex whitespace-nowrap">
                              <a  @click="
                                    isOpen = true; 
                                    date = formatDate(client.date);
                                    salarie = client.salarie;
                                    motif = client.motif;    
                                    montant = client.montant;                               
                                    id_heure = client.id;
                                    operation = 'update';
                              " class="text-gray-700">{% heroicon_mini "pencil-square" class="cursor-pointer transition-transform" %}</a>
                             <a @click="showModal = true;  id_heure = client.id">
    					                  {% heroicon_mini "archive-box-x-mark" class=" cursor-pointer transition-transform" %}
  				                   </a>
                          </td>
                          {% endif %} {% endcomment %}
                        </tr>
                       {% endfor %}                 
                    </tbody>
                  </table>
	
                   <div x-cloak x-show="showModal" class="fixed inset-0 flex items-center justify-center z-50">
                     <div class="modal bg-gray-50 rounded-lg p-4 max-w-md mx-auto shadow-lg">
                       <p class="text-gray-700 text-lg mb-4">Voulez-vous vraiment supprimer cet Archice? </p>
                       <div class="flex justify-end">
                         <button @click="deletedSelected" class="bg-red-500 text-white px-4 py-2 rounded-lg hover:bg-red-600 focus:outline-none mr-2">Oui</button>
                         <button @click="annulerSuppression()" class="bg-gray-300 text-gray-700 px-4 py-2 rounded-lg hover:bg-gray-400 focus:outline-none">Annuler</button>
                       </div>
                     </div>
                  </div>
                 <div class="flex bg-gray-100 justify-between px-4">
            	{% comment %} <div class="flex justify-end">
            		<button
            			x-bind:disabled="currentPage === 1"
            			@click="prevPage"
            		>
            		<svg id='chevrons-left_24' width='24' height='24' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><rect width='24' height='24' stroke='none' fill='#000000' opacity='0'/>
            				<g transform="matrix(1 0 0 1 12 12)" >
            				<g style="" >
            				<g transform="matrix(1 0 0 1 0 0)" >
            				<path style="stroke: none; stroke-width: 2; stroke-dasharray: none; stroke-linecap: round; stroke-dashoffset: 0; stroke-linejoin: round; stroke-miterlimit: 4; fill: none; fill-rule: nonzero; opacity: 1;" transform=" translate(-12, -12)" d="M 0 0 L 24 0 L 24 24 L 0 24 z" stroke-linecap="round" />
            				</g>
            				<g transform="matrix(1 0 0 1 -3.75 -0.25)" >
            				<polyline style="stroke: rgb(0,0,0); stroke-width: 1.5; stroke-dasharray: none; stroke-linecap: round; stroke-dashoffset: 0; stroke-linejoin: round; stroke-miterlimit: 4; fill: none; fill-rule: nonzero; opacity: 1;" points="2.5,-5 -2.5,0 2.5,5 " />
            				</g>
            				<g transform="matrix(1 0 0 1 2.25 -0.25)" >
            				<polyline style="stroke: rgb(0,0,0); stroke-width: 1.5; stroke-dasharray: none; stroke-linecap: round; stroke-dashoffset: 0; stroke-linejoin: round; stroke-miterlimit: 4; fill: none; fill-rule: nonzero; opacity: 1;" points="2.5,-5 -2.5,0 2.5,5 " />
            				</g>
            				</g>
            				</g>
            		</svg>
            		</button>
            		<p class=" text-lg px-2" x-text="currentPage"></p> /<p id="total-pages" class=" text-lg px-2" x-text="totalPages"></p>
            		<button
            			x-bind:disabled="currentPage === totalPages"
            			@click="nextPage"
            		>
            			<svg id='chevrons-right_24' width='24' height='24' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><rect width='24' height='24' stroke='none' fill='#000000' opacity='0'/>
            					<g transform="matrix(1 0 0 1 12 12)" >
            					<g style="" >
            					<g transform="matrix(1 0 0 1 0 0)" >
            					<path style="stroke: none; stroke-width: 2; stroke-dasharray: none; stroke-linecap: round; stroke-dashoffset: 0; stroke-linejoin: round; stroke-miterlimit: 4; fill: none; fill-rule: nonzero; opacity: 1;" transform=" translate(-12, -12)" d="M 0 0 L 24 0 L 24 24 L 0 24 z" stroke-linecap="round" />
            					</g>
            					<g transform="matrix(1 0 0 1 -2.75 -0.25)" >
            					<polyline style="stroke: rgb(0,0,0); stroke-width: 1.5; stroke-dasharray: none; stroke-linecap: round; stroke-dashoffset: 0; stroke-linejoin: round; stroke-miterlimit: 4; fill: none; fill-rule: nonzero; opacity: 1;" points="-2.5,-5 2.5,0 -2.5,5 " />
            					</g>
            					<g transform="matrix(1 0 0 1 3.25 -0.25)" >
            					<polyline style="stroke: rgb(0,0,0); stroke-width: 1.5; stroke-dasharray: none; stroke-linecap: round; stroke-dashoffset: 0; stroke-linejoin: round; stroke-miterlimit: 4; fill: none; fill-rule: nonzero; opacity: 1;" points="-2.5,-5 2.5,0 -2.5,5 " />
            					</g>
            					</g>
            					</g>
            			</svg>
            		</button>
            	 </div> {% endcomment %}
</div>
                </div>
              
              </div>
            </div>
         </div>
       
        <div>
        <!-- Modal -->
          <div style=" background-color: rgba(0, 0, 0, 0.8); " class="fixed z-40 top-0 right-0 left-0 bottom-0 h-full w-full overflow-y-scroll" x-cloak x-show.transition.opacity="isOpen">
            <div class="p-4 max-w-xl mx-auto relative left-0 right-0 overflow-hidden mt-0 md:mt-12">
              <div class="shadow absolute right-0 top-0 w-10 h-10 rounded-full bg-white text-gray-500 hover:text-gray-800 inline-flex items-center justify-center cursor-pointer"
                x-on:click="isOpen = false">
                <svg class="fill-current w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                  <path
                    d="M16.192 6.344L11.949 10.586 7.707 6.344 6.293 7.758 10.535 12 6.293 16.242 7.707 17.656 11.949 13.414 16.192 17.656 17.606 16.242 13.364 12 17.606 7.758z" />
                </svg>
              </div>
              <form action="{% url 'new-archive' %}" method="post" id="myForm" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="shadow w-full rounded-lg bg-white overflow-hidden block p-8">		
                    <h2 class="font-bold text-2xl mb-6 text-gray-800 border-b pb-2">Ajouter Archive</h2>
                    <div class="form-input">
                        <div class="mb-4">
                          <label class="block text-gray-700 font-semibold mb-2" for="phone">
                            Type Document
                          </label>
                          <select
                              class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                              name="type"
                              x-model="type"
                            >
                            <option value="" selected disabled>  Type Document </option>
                            <option value="true"> Dossier Import </option>
                            <option value="false"> Dossier Administratif </option>
                          </select>
                        </div>                       
                        <div class="mb-4">
                          <label class="block text-gray-700 font-semibold mb-2" for="phone">
                            Libellé
                          </label>
                          <input
                              class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                              type="text"
                              id="label"
                              x-model="label"
                              name="label"
                              placeholder="Libellé Document ..."
                          >
                        </div>                       
                        <div class="mb-4 " x-cloak x-show="type == 'true'"> 
                          <div>
                            <label class="block text-gray-700 font-semibold mb-2" for="address">
                               Date Facturation Fournisseur 
                            </label>
                            <input
                              class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                              type="date"
                              id="datefactfour"
                              x-model="datefactfour"
                              name="datefactfour"
                            >
                          </div> 
                        </div>
                        <div class="mb-4 " x-cloak x-show="type == 'true'">
                          <div>
                            <label class="block text-gray-700 font-semibold mb-2" for="address">
                               Date Facturation Transitaire
                            </label>
                            <input
                              class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                              type="date"
                              id="datefacttrans"
                              x-model="datefacttrans"
                              name="datefacttrans"
                            >
                          </div> 
                        </div>

                        <div class="mb-4" x-cloak x-show="type == 'true'">
                          <label class="block text-gray-700 font-semibold mb-2" for="phone">
                            Montant
                          </label>
                          <input
                              class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                              type="number"
                              id="montant"
                              x-model="montant"
                              name="montant"
                              placeholder="Montant du Prime . . ."
                          >
                        </div>
                        <div class="mb-4">
                          <label class="block text-gray-700 font-semibold mb-2" for="phone">
                            Document
                          </label>
                          <input
                              class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                              type="file"
                              id="file"
                              x-model="file"
                              name="file"
                          >
                        </div>
                    </div>
                    <div class="mt-8 text-right">
                      <button type="button" class="bg-white hover:bg-gray-100 text-gray-700 font-semibold py-2 px-4 border border-gray-300 rounded shadow-sm mr-2" @click="isOpen = false">
                        Cancel
                      </button>	
                      <button type="submit" class="bg-gray-800 hover:bg-gray-700 text-white font-semibold py-2 px-4 border border-gray-700 rounded shadow-sm"
                      >
                        Valider
                      </button>	
                    </div>
                  </div> 
              </form>
            </div>
          </div>
        <!-- /Modal -->

        <script>
          function client(){
            return{
              operation:'add',        
              isOpen:false,
              showModal:false,
              type: '',
              label: '',
              datefactfour: '',
              datefacttrans: '',
              montant: '',
              file: '',
              currentPage: 1,
              pageSize: 10, // Set this to the desired number of items per page
              search: '',
              selectedFamily: '',
              selectedFournisseur: '',
              verifying:false,
              id_heure:'',
              formatDate(dateString) {
                  // Assuming dateString is in "yyyy-MM-dd HH:mm:ssZ" format
                  const date = new Date(dateString);
                  const formattedDate = `${date.getFullYear()}-${(date.getMonth() + 1).toString().padStart(2, '0')}-${date.getDate().toString().padStart(2, '0')}`;
                  return formattedDate;
              },
              datedeb:'', 
              datefin:'', 
              printInvoice() {
                var printContents = this.$refs.printTemplate.innerHTML;
                var originalContents = document.body.innerHTML;
                document.body.innerHTML = printContents;
                window.print();
                  window.location.reload();
                document.body.innerHTML = originalContents;
                this.items=[];
              },
              clients : [],
              init() {
                  const currentDate = new Date();
                  // Set to the first day of the year
                  const firstDay = new Date(currentDate.getFullYear(), 0, 1);                  
                  // Set to the last day of the year
                  const lastDay = new Date(currentDate.getFullYear(), 11, 31);                
                  // Format the dates
                  this.datedeb = firstDay.toISOString().split('T')[0];
                  this.datefin = lastDay.toISOString().split('T')[0];	
              },
              /*filteredClients:[],
              get totalPages() {
                  return Math.max(1, Math.ceil(this.filteredClients.length / this.pageSize));
              },

              get filteredClients() {
                return this.clients.filter(client => {
                    const familyMatch = this.selectedFamily === '' || this.selectedFamily == client.client_type;
                    const fournisseurMatch = this.selectedFournisseur === '' || this.selectedFournisseur == client.client_user;
                    const nameMatch = client.salarie.toLowerCase().includes(this.search.toLowerCase());
                    return  (nameMatch);
                });
              },

              get filteredAndPaginatedClients() {
                  const start = (this.currentPage - 1) * this.pageSize;
                  const end = start + this.pageSize;
                  return this.filteredClients.slice(start, end);
              },

              prevPage() {
                if (this.currentPage > 1) {
                  this.currentPage -= 1;
                }
              },

              nextPage() {
                  if (this.currentPage < this.totalPages) {
                        this.currentPage += 1;
                  }
              },  */

              clientMatches(clientName, clientAddress, dateFournisseur, dateArchivage, dateTransitaire) {
                // Convert numbers to strings before using includes()
                const searchString = this.search.toString().toLowerCase();
                const clientNameString = clientName.toString().toLowerCase();
                const clientAddressString = clientAddress.toString().toLowerCase();

                // Check for search string match in client name or address
                const nameOrAddressMatch = (
                  clientNameString.includes(searchString) ||
                  clientAddressString.includes(searchString)
                );

                // Convert dates to Date objects for comparison
                const dateDeb = new Date(this.datedeb);
                const dateFin = new Date(this.datefin);
                const providedDates = [dateFournisseur, dateArchivage, dateTransitaire];

                // Check if any provided date is within the date range
                const dateInRange = providedDates.some(date => {
                  if (!date) {
                    return false; // Ignore empty or invalid dates
                  }
                  const dateObj = new Date(date);
                  return dateObj >= dateDeb && dateObj <= dateFin;
                });

                // Return true if search string matches name/address or a date is in range
                return nameOrAddressMatch && dateInRange;
              },

              selectedItems:[],
              deletedSelected(){
                  if (this.selectedItems.length === 0) {
                      alert("Veuillez Selectionner aumoins un élément pour supprimer!.");
                      return;
                  }
                  dataObj ={
                        liste_ids: this.selectedItems,                        
                  }
                  axios.post('DeleteArchives/',dataObj, {
                    headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken'),
                    }
                  })
                    .then(response => {
                      // Check if the deletion was successful
                      if (response.data.success) {            			
                        showModal = false;
                        alert(response.data.message);
                        window.location.reload();
                      } else {
                        alert(response.data.message);
                        window.location.reload();
                      }
                    })
                  .catch(error => {
                  // Handle request errors
                  alert(error);
                  });
                  this.showModal = false;
                  this.selectedItems = [];
              },

              annulerSuppression() {
                  // Réinitialiser les variables
                this.showModal = false;
                this.selectedItems = [];
              },

              modifierFournisseur(){
                dataObj={
                    date: this.date,
                    salarie: this.salarie,
                    motif: this.motif,
                    montant: this.montant,
                    user_id: this.id_heure,
                }

                axios.post('editPrime/', dataObj, {
                  headers: {
                    'Content-Type': '',
                    'X-CSRFToken': getCookie('csrftoken'),
                  }
                })
                  .then((response) => {
                    data = response.data
                    if( data.error){
                            alert(data.error);
                        }else{
                            alert("Informations Modifié!");
                        }
                    window.location.reload()            
                    })
                    .catch((error) => {
                      alert(error)
                      
                    });
                    var form = document.getElementById('myForm');
                    form.reset();
              },
            }
          }
         
          function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
              var cookies = document.cookie.split(';');
              for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
                }
              }
            }
            return cookieValue;
          }
        </script>
  </main> 	
	<!-- end Main content  -->

  </div>
</div>
</div>
</div>

{% endblock content %}