{% extends "base.html" %}
{% load static %}

{% block body_class %}{% endblock %}

{% block content %}
<div 
x-data="{ 
	menuOpen: false, 
	basicSignInModal: false,
	basicSignUpModal: false,
	advanceSignInModal: false,
	advanceSignUpModal: false,
}" 
class="flex flex-col min-h-screen custom-scrollbar"
>
<!-- start::Black overlay -->
<!-- end::Black overlay -->
 {% include 'header.html' %}
 {% include 'tabs.html' with active_tab="achat" %}
 <div class=" w-full flex flex-row">
	{% include "sidebar_achats.html" %}
  <div class="h-full w-full">
	<!-- Main content header -->
		 <main class="block w-full h-full px-2 overflow-hidden ">
					<body class="antialiased sans-serif">
						<div class=" h-2"></div>
						<div 
							class="container mx-auto py-6 px-4"
							x-data="invoices()"
							x-init="initData()"
							x-cloak
						>
						<div class="flex justify-between">
							<h2 class="text-2xl font-bold mb-6 pb-2 tracking-wider uppercase">Bon Commande de Fournisseur</h2>
							<div>
								<div class="relative mr-4 inline-block">
									<div class="text-gray-500 cursor-pointer w-10 h-10 rounded-full bg-gray-100 hover:bg-gray-300 inline-flex items-center justify-center" @mouseenter="showTooltip = true" @mouseleave="showTooltip = false" @click="printInvoice()">
										<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-printer" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
											<rect x="0" y="0" width="24" height="24" stroke="none"></rect>
											<path d="M17 17h2a2 2 0 0 0 2 -2v-4a2 2 0 0 0 -2 -2h-14a2 2 0 0 0 -2 2v4a2 2 0 0 0 2 2h2" />
											<path d="M17 9v-4a2 2 0 0 0 -2 -2h-6a2 2 0 0 0 -2 2v4" />
											<rect x="7" y="13" width="10" height="8" rx="2" />
										</svg>				  
									</div>
									<div x-show.transition="showTooltip" class="z-40 shadow-lg text-center w-full block absolute right-0 top-0 p-2 mt-12 rounded-lg bg-gray-800 text-white text-xs">
										Print this invoice!
									</div>
								</div>
								<div class="relative inline-block">
									<div class="text-gray-500 cursor-pointer w-10 h-10 rounded-full bg-gray-100 hover:bg-gray-300 inline-flex items-center justify-center" @mouseenter="showTooltip2 = true" @mouseleave="showTooltip2 = false" @click="openPreview=true">
										<svg id='eye_24' width='24' height='24' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><rect width='24' height='24' stroke='none' fill='#000000' opacity='0'/>
											<g transform="matrix(1 0 0 1 12 12)" >
											<g style="" >
											<g transform="matrix(1 0 0 1 0 0)" >
											<path style="stroke: none; stroke-width: 2; stroke-dasharray: none; stroke-linecap: round; stroke-dashoffset: 0; stroke-linejoin: round; stroke-miterlimit: 4; fill: none; fill-rule: nonzero; opacity: 1;" transform=" translate(-12, -12)" d="M 0 0 L 24 0 L 24 24 L 0 24 z" stroke-linecap="round" />
											</g>
											<g transform="matrix(1 0 0 1 -0.25 -0.25)" >
											<circle style="stroke: rgb(0,0,0); stroke-width: 1.5; stroke-dasharray: none; stroke-linecap: round; stroke-dashoffset: 0; stroke-linejoin: round; stroke-miterlimit: 4; fill: none; fill-rule: nonzero; opacity: 1;" cx="0" cy="0" r="2" />
											</g>
											<g transform="matrix(1 0 0 1 -0.25 -0.25)" >
											<path style="stroke: rgb(0,0,0); stroke-width: 1.5; stroke-dasharray: none; stroke-linecap: round; stroke-dashoffset: 0; stroke-linejoin: round; stroke-miterlimit: 4; fill: none; fill-rule: nonzero; opacity: 1;" transform=" translate(-12, -12)" d="M 22 12 C 19.333 16.667 16 19 12 19 C 8 19 4.667 16.667 2 12 C 4.667 7.333 8 5 12 5 C 16 5 19.333 7.333 22 12" stroke-linecap="round" />
											</g>
											</g>
											</g>
										</svg>		  
									</div>
									<div x-show.transition="showTooltip2" class="z-40 shadow-lg text-center w-32 block absolute right-0 top-0 p-2 mt-12 rounded-lg bg-gray-800 text-white text-xs">
										Preview
									</div>
								</div>
							</div>
						</div>
				
						<div class="flex mb-8 justify-between">
							<div class="w-2/4">
								<div class="mb-2 md:mb-1 md:flex items-center">
									<label class="w-32 text-gray-800 block font-bold text-sm uppercase tracking-wide">Numéro de Bon</label>
									<span class="mr-4 inline-block  md:block">:</span>
									<div class="flex-1">
									<input class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-48 py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-blue-500" id="inline-full-name" type="text" placeholder="eg. #BON-100001" x-model="invoiceNumber">
									</div>
								</div>					
								<div class="mb-2 md:mb-1 md:flex items-center">
									<label class="w-32 text-gray-800 block font-bold text-sm uppercase tracking-wide">Date de Bon</label>
									<span class="mr-4 inline-block  md:block">:</span>
									<div class="flex-1">
									<input class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-48 py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-blue-500 " type="date" {% if request.session.role != 'manager' %}disabled{% endif %} x-model="invoiceDate">
									</div>
								</div>
							</div>							
						</div>
				
					
							<div class="flex  justify-between mb-8">
								<div class="w-full md:w-1/3 mb-2 md:mb-0">									
									<div class="mb-1 ">
										<label class="text-gray-800 block mb-1 font-bold text-sm uppercase tracking-wide">Destinataire :</label>
										<select
										 class="mb-1 bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white"
										 id="fournisseur"
										 name="fournisseur"	
										 x-model="destinataire"									 
										 x-on:change="
											 destinataire=$event.target.value;
										 "
										 required  
										 >
										    <option value="" disabled selected> Aucun </option>
											<option value="vente"> Vente </option>
											<option value="stock"> Stock </option>
											<option value="econome"> Econome </option>	
										</select>											
									</div>
									<div class="mb-1 ">
										<label class="text-gray-800 block mb-1 font-bold text-sm uppercase tracking-wide">Fournisseur :</label>
										<select
										 class="mb-1 bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white"
										 id="fournisseur"
										 name="fournisseur"										 
										 x-on:change="
											 billing.name=$event.target.value;
										 "
										 required  
										 >
										 <option value="" disabled selected>Aucun </option>
										 {% for fournisseur in fournisseurs %}
											 <option value="{{ fournisseur.acronym}}">
												 {{ fournisseur.acronym }} 
											 </option>
										 {% endfor %}
										</select>											
									</div>
									<div class="mb-1 ">
										<label class="text-gray-800 block mb-1 font-bold text-sm uppercase tracking-wide">Entrepot :</label>
										<select
										 class="mb-1 bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white"
										 id="fournisseur"
										 name="fournisseur"
										 x-model="entrepot"										 
										 x-on:change="
											 entrepot=$event.target.value;
										 "
										 required  
										 >
										 <option value="" disabled selected>Aucun </option>
										 {% for ent in entrepots %}
											 <option value="{{ ent.name}}">
												 {{ ent.name }} 
											 </option>
										 {% endfor %}
										</select>											
									</div>
								
								</div>
							</div>

							<div x-data="{ tab: 1 }" x-cloak class="my-10 antialiased ">
								<div class="relative flex flex-col rounded-lg shadow-xs overflow-hidden">         
									<div class="flex space-x-8 bg-white border-b border-gray-200 ">
										<button
											type="button"
											class="focus:outline-none text-black py-2 px-1 border-t-2 text-md tracking-wide font-semibold border-transparent"
											x-on:click="tab = 1"
											:class="{ 'text-white bg-gray-700 rounded-t-lg ': tab === 1 }"
										>
											Informations Bon de Commande
										</button>
										<button
											type="button"
											class="focus:outline-none text-black py-2 px-1 border-t-2 text-md tracking-wide font-semibold border-transparent"
											x-on:click="tab = 2"
											:class="{ 'text-white bg-gray-700 rounded-t-lg ': tab === 2 }"
										>
											Produits du Bon
										</button>						  
									</div>     
									<div class="border-b-2 border-gray-100">				   
										<div x-show="tab === 1">
											<div class="flex  justify-between mb-8 py-4">
											<div class="w-full md:w-1/3 mb-2 md:mb-0">
												<div class="mb-4">
													<label class="block text-gray-700 font-semibold mb-2" for="modReg">
														Mode de Réglement:
													</label>
													<select
														class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
														id="modReg"
														name="modReg"
														x-model="modeReglement"
														x-on:change="
															ModeReglement = $event.target.selectedOptions[0].value;                     
															showBanque = $event.target.value == 2;
														"
														required  
													>
													<option value=""selected > Aucun </option>
													{% for mode in modeReg %}
														<option value="{{ mode.id }}" >
															{{ mode.label }} 
														</option>
														{% endfor %}
													</select>
												</div>
												<div class="mb-4">
													<div x-show="showBanque">
													<!-- Show this div when 'cheque' is selected -->
													<div class="mb-4">
													<label class="block text-gray-700 font-semibold mb-2" for="banque">
														Banque :
													</label>
													<select
														class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline cursor-pointer"
														id="banque"
														name="banque"
														x-model="banque"														
														required  
														x-on:change ="banque = $event.target.selectedOptions[0].value;"
														>
														<option value="" disabled selected> Selectionnez  Banque</option>
														{% for banque in banques  %}
															<option value="{{banque.pk}}"> {{banque.nom}} </option>
														{% endfor %}
													</select>
													</div>
													<label for="chequeInput" class="block font-bold mt-4"> Cheque Number: </label>
													<input
															type="text"
															id="chequeInput"
															name="chequeInput"
															x-model="numCheque"
															class="border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mt-1"
													>
													</div>
												</div>
												<div class="mb-4 border-b">
													<label class="block text-gray-700 font-semibold mb-2" for="echReg">
														Transport	:
													</label>
													<input
														class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
														type="text"
														id="tauxtransport"
														name="tauxtransport"
														x-model="tauxtransport"
													>
												</div>
												<div class="mb-4 border-b">
													<label class="block text-gray-700 font-semibold mb-2" for="echReg">
														 Charges	:
													</label>
													<input
														class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
														type="text"
														id="tauxcharges"
														name="tauxcharges"
														x-model="tauxcharges"
													>
												</div>

												<div class="mb-4 border-b">
													<label class="block text-gray-700 font-semibold mb-2" for="echReg">
														Montant total devis 	:
													</label>
													<input
														class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
														type="text"
														id="devistotal"
														name="devistotal"
														x-model="devistotal"
													>
												</div>

												<div class="mb-4 border-b">
													<label class="block text-gray-700 font-semibold mb-2" for="echReg">
														% Transport	:
													</label>
													<input
														class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
														type="text"
														id="pourcentagetransport"

														name="pourcentagetransport"
														x-model="(pourcentagetransport=tauxtransport/devistotal)*100"
													>
												</div>
												<div class="mb-4 border-b">
													<label class="block text-gray-700 font-semibold mb-2" for="echReg">
														% Charges	:
													</label>
													<input
														class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
														type="text"
														id="pourcentagecharges"
														name="pourcentagecharges"
														x-model="(pourcentagecharges=tauxcharges/devistotal)*100"
													>
												</div>
												<div class="mb-4 border-b">
													<label class="block text-gray-700 font-semibold mb-2" for="echReg">
														% Intermidiere :
													</label>
													<input
														class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
														type="number"
														id="intermidiere"
														name="intermidiere"
														x-model="intermidiere"
													>
												</div>
												<div class="mb-4 border-b">
													<label class="block text-gray-700 font-semibold mb-2" for="echReg">
														change USD to DZ	:
													</label>
													<input
														class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
														type="text"
														id="tauxchange"
														name="tauxchange"
														x-model="tauxchange"
													>
												</div>
												<div class="mb-4 border-b">
													<label class="block text-gray-700 font-semibold mb-2" for="echReg">
														D.D	:
													</label>
													<select
														class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
														type="text"
														id="DD"
														name=DD""
														x-model="DD"
													>
													<option value="5">5%</option>
													<option value="30">30%</option>
													</select>
												</div>

						   
											</div>	
											</div>
										
										</div>
										<div x-show="tab === 2">
											<div class="overflow-x-auto">
												<table class="min-w-full divide-y divide-gray-200 px-4">
													<thead class="bg-gray-50">
														<tr>
															<th class="px-2 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Des</th>
															<th class="px-2 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Ref</th>
															<th class="px-2 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Qty</th>
															<th class="px-2 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">PU USD</th>
															<th class="px-2 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Total USD</th>
															<th class="px-2 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">TR U</th>
															<th class="px-2 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Total TR</th>
															<th class="px-2 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">MI U</th>
															<th class="px-2 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Total MI</th>
															<th class="px-2 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">PI U</th>
															<th class="px-2 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Total PI</th>
															<th class="px-2 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">PU DZ</th>
															<th class="px-2 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Total DZ</th>
															<th class="px-2 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">CH U </th>
															<th class="px-2 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Total CH</th>
															<th class="px-2 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">%DD</th>
															<th class="px-2 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">DD U</th>
															<th class="px-2 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Total DD</th>
															<th class="px-2 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">TCS U</th>
															<th class="px-2 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Total TCS</th>
															<th class="px-2 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">TVA U</th>
															<th class="px-2 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Total TVA</th>
															<th class="px-2 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">TAX U</th>
															<th class="px-2 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Total TAX</th>
															<th class="px-2 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">PF U</th>
															<th class="px-2 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Total PF</th>
														</tr>
													</thead>
													<tbody class="bg-white divide-y divide-gray-200">
														<template x-for="item in items">
															<tr>
																<td class="px-2 py-4 whitespace-nowrap text-sm text-gray-500" x-text="item.name"></td>
																<td class="px-2 py-4 whitespace-nowrap text-sm text-gray-500" x-text="item.ref"></td>
																<td class="px-2 py-4 whitespace-nowrap text-sm text-gray-500" x-text="item.quantity"></td>
																<td class="px-2 py-4 whitespace-nowrap text-sm text-gray-500" x-text="item.prixUnitairUSD"></td>
																<td class="px-2 py-4 whitespace-nowrap text-sm text-gray-500" x-text="item.totalPriceUSD"></td>
																<td class="px-2 py-4 whitespace-nowrap text-sm text-gray-500" x-text="item.transportUnitaire"></td>
																<td class="px-2 py-4 whitespace-nowrap text-sm text-gray-500" x-text="item.transportPrice"></td>
																<td class="px-2 py-4 whitespace-nowrap text-sm text-gray-500" x-text="item.margeUnitaire"></td>
																<td class="px-2 py-4 whitespace-nowrap text-sm text-gray-500" x-text="item.margetotal"></td>
																<td class="px-2 py-4 whitespace-nowrap text-sm text-gray-500" x-text="item.prixUnitaireintermidiere"></td>
																<td class="px-2 py-4 whitespace-nowrap text-sm text-gray-500" x-text="item.prixtotalintermidiere"></td>
																<td class="px-2 py-4 whitespace-nowrap text-sm text-gray-500" x-text="item.prixUnitaireDZ"></td>
																<td class="px-2 py-4 whitespace-nowrap text-sm text-gray-500" x-text="item.totalPriceDZ"></td>
																<td class="px-2 py-4 whitespace-nowrap text-sm text-gray-500" x-text="item.chargeunitaire"></td>
																<td class="px-2 py-4 whitespace-nowrap text-sm text-gray-500" x-text="item.chargetotal"></td>
																<td class="px-2 py-4 whitespace-nowrap text-sm text-gray-500" x-text="item.dd"></td>
																<td class="px-2 py-4 whitespace-nowrap text-sm text-gray-500" x-text="item.ddunitaire"></td>
																<td class="px-2 py-4 whitespace-nowrap text-sm text-gray-500" x-text="item.ddtotal"></td>
																<td class="px-2 py-4 whitespace-nowrap text-sm text-gray-500" x-text="item.tcs"></td>
																<td class="px-2 py-4 whitespace-nowrap text-sm text-gray-500" x-text="item.tcstotal"></td>
																<td class="px-2 py-4 whitespace-nowrap text-sm text-gray-500" x-text="item.tva"></td>
																<td class="px-2 py-4 whitespace-nowrap text-sm text-gray-500" x-text="item.tvatotal"></td>
																<td class="px-2 py-4 whitespace-nowrap text-sm text-gray-500" x-text="item.tax"></td>
																<td class="px-2 py-4 whitespace-nowrap text-sm text-gray-500" x-text="item.taxtotal"></td>
																<td class="px-2 py-4 whitespace-nowrap text-sm text-gray-500" x-text="item.prixUnitaireFinal"></td>
																<td class="px-2 py-4 whitespace-nowrap text-sm text-gray-500" x-text="item.prixTotalFinal"></td>
															</tr>
														</template>
													</tbody>
												</table>
											</div>
											
											<button class="mt-6 bg-white hover:bg-gray-100 text-gray-700 font-semibold py-2 px-4 text-sm border border-gray-300 rounded shadow-sm" x-on:click="openModal = !openModal">
												Ajouter produits au bon
											</button>
										</div>									
									</div>
								
										<div class="py-2">
												<div class="">
													<table class=" divide-y divide-gray-200">
														<thead class="bg-gray-50">
															<tr>
																<th class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">Total Prix USD</th>
																<th class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">Total Prix Transport</th>

																<th class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">Total Prix DZ</th>

																<th class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">Total Charges</th>
																<th class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">Total Marge Intermediaire</th>

																<th class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">Total Taxe</th>
																<th class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">Total Prix Final</th>

															</tr>
														</thead>
														<tbody class="bg-white divide-y divide-gray-200">
															<tr>														
																<td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 text-right" x-text="bontotalPriceUSD"></td>														
																<td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 text-right" x-text="bontotalTransportPrice"></td>												

																<td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 text-right" x-text="bontotalPriceDZ"></td>													
																<td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 text-right" x-text="bontotalCharges"></td>
																<td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 text-right" x-text="bontotalintermidiere"></td>												

																<td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 text-right" x-text="bontotalTax"></td>
																<td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 text-right" x-text="bontotalPriceFinal"></td>

															</tr>
														</tbody>
													</table>
												</div>
										</div>															
										
										<div class="flex justify-between">
											<div></div>
											<button class="mt-6 bg-white hover:bg-gray-100 text-gray-700 font-semibold py-2 px-4 text-sm border border-gray-300 rounded shadow-sm" type="submit" x-on:click="validateBon"> <a href="{% url 'list-commandes' %}">Valider le Bon & imprimer</a> </button>
										</div>
								
								</div>
							</div>
							
					
							<!-- Modal -->
							<div style=" background-color: rgba(0, 0, 0, 0.8)" class="fixed z-40 top-0 right-0 left-0 overflow-y-auto  bottom-0 h-full w-full " x-show.transition.opacity="openModal">
								<div class="p-4 max-w-xl mx-auto relative absolute left-0 right-0 overflow-hidden mt-24">
									<div class="shadow absolute right-0 top-0 w-10 h-10 rounded-full bg-white text-gray-500 hover:text-gray-800 inline-flex items-center justify-center cursor-pointer"
										x-on:click="openModal = !openModal">
										<svg class="fill-current w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
											<path
												d="M16.192 6.344L11.949 10.586 7.707 6.344 6.293 7.758 10.535 12 6.293 16.242 7.707 17.656 11.949 13.414 16.192 17.656 17.606 16.242 13.364 12 17.606 7.758z" />
										</svg>
									</div>
					
									<div class="shadow w-full rounded-lg bg-white overflow-y-auto overflow-x-hidden block p-8">										
										<h2 class="font-bold text-2xl mb-6 text-gray-800 border-b pb-2">Ajouter Produits au Bon</h2>	
										<label class="block text-gray-700 font-semibold mb-2" for="price">
														Produit :
													</label>
													<div class="relative">
														<input type="hidden" :value="selected.value">
														<input type="text" x-model="search" class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline bg-gray-50 text-gray-600 font-medium"
															placeholder="Cliquer pour rechercher ..." @click="optionsVisible = !optionsVisible">
														<div class="absolute bg-white shadow-lg w-full overflow-y-scroll z-40" style="max-height:200px;" x-show="optionsVisible">
															<template x-for="option in filteredOptions()">
																<a class="cursor-pointer border-b py-2 px-2 text-left hover:bg-gray-100" 
																	@click.prevent="
																		item.ref = option.ref;
																		item.name = option.name;																		
																		item.rate = option.rate;																		
																		selected = option;
																		optionsVisible = false;
																		search='';

																	"
																	x-text="option.name"
																	style="display: block;"></a>
															</template>
														</div>
														
													</div>								 
										<select
						 							class="appearance-none border rounded w-full mb-8 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
						 							id="entrepot"
						 							name="entrepot"
													x-model="item.ref"
						 							x-on:change="
													 item.name= $event.target.value; 
													 item.ref= $event.target.selectedOptions[0].dataset.ref;
													"
						 							required  
					 							 	>
													<option value="" disabled selected>Select produit</option>
													{% for entrepot in stock %}
						 								<option value="{{ entrepot.reference }}" data-ref="{{entrepot.reference}}" >
							 								{{ entrepot.name }} 
						 								</option>
					   							{% endfor %}
					  					</select>
										  <div class="mb-4 w-full mr-2">
											<div class="mb-4 w-full mr-2">
												<label class="text-gray-800 block mb-1 font-bold text-sm uppercase tracking-wide">Quantité</label>
												<input class="text-left mb-1 bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-blue-500" type="text" x-model="item.quantity">
											</div>
											<div class="flex">
												<div class="mb-4 w-full mr-2">
													<label class="text-gray-800 block mb-1 font-bold text-sm uppercase tracking-wide">Prix.U USD</label>
													<input class="text-left mb-1 bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-blue-500" type="text" x-model="item.prixUnitairUSD" >
												</div>
												<div class="mb-4 w-full mr-2">
													<label class="text-gray-800 block mb-1 font-bold text-sm uppercase tracking-wide">Prix Total USD</label>
													<input class="text-left mb-1 bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-blue-500" type="text" x-model="item.totalPriceUSD=item.quantity*item.prixUnitairUSD" disabled>
												</div>
											</div>
											<div class="flex">
												<div class="mb-4 w-full mr-2">
													<label class="text-gray-800 block mb-1 font-bold text-sm uppercase tracking-wide">Transport Unitaire</label>
													<input class="text-left mb-1 bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-blue-500" type="text" x-model="item.transportUnitaire=item.prixUnitairUSD*pourcentagetransport" disabled>
												</div>
												<div class="mb-4 w-full mr-2">
													<label class="text-gray-800 block mb-1 font-bold text-sm uppercase tracking-wide">Transport total</label>
													<input class="text-left mb-1 bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-blue-500" type="text" x-model="item.transportPrice=item.transportUnitaire*item.quantity" disabled>
												</div>
											</div>
											<div class="flex">
												<div class="mb-4 w-full mr-2">
													<label class="text-gray-800 block mb-1 font-bold text-sm uppercase tracking-wide">Marge intermidiere unitaire</label>
													<input class="text-left mb-1 bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-blue-500" type="text" x-model="item.margeUnitaire=(parseFloat(intermidiere)*parseFloat(item.prixUnitairUSD))/100" disabe>
												</div>
												<div class="mb-4 w-full mr-2">
													<label class="text-gray-800 block mb-1 font-bold text-sm uppercase tracking-wide">Marge intermidiere  total</label>
													<input class="text-left mb-1 bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-blue-500" type="text" x-model="item.margetotal=item.margeUnitaire*item.quantity" disabled>
												</div>
											</div>
											<div class="flex">
												<div class="mb-4 w-full mr-2">
													<label class="text-gray-800 block mb-1 font-bold text-sm uppercase tracking-wide">Prix  USD Intermidiaire</label>
													<input class="text-left mb-1 bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-blue-500" type="text" :value=" item.prixUnitaireintermidiere=((parseFloat(intermidiere)*parseFloat(item.prixUnitairUSD))/100) + (parseFloat(item.prixUnitairUSD))"  disabled>
												</div>
												<div class="mb-4 w-full mr-2">
													<label class="text-gray-800 block mb-1 font-bold text-sm uppercase tracking-wide">Prix Total USD Intermidiaire</label>
													<input class="text-left mb-1 bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-blue-500" type="text" x-model="item.prixtotalintermidiere=item.margetotal+item.totalPriceUSD" disabled>
												</div>


											</div>

											<div class="flex">
												<div class="mb-4 w-full mr-2">
													<label class="text-gray-800 block mb-1 font-bold text-sm uppercase tracking-wide">Prix.U DZ</label>
													<input class="text-left mb-1 bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-blue-500" type="text" x-model="item.prixUnitaireDZ=(item.transportUnitaire+item.prixUnitaireintermidiere)*tauxchange" disabled>
												</div>
												<div class="mb-4 w-full mr-2">
													<label class="text-gray-800 block mb-1 font-bold text-sm uppercase tracking-wide">Prix Total DZ</label>
													<input class="text-left mb-1 bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-blue-500" type="text" x-model="item.totalPriceDZ=(item.prixtotalintermidiere+item.transportPrice)*tauxchange" disabled>
												</div>
											</div>
											<div class="flex">
												<div class="mb-4 w-full mr-2">
													<label class="text-gray-800 block mb-1 font-bold text-sm uppercase tracking-wide">Charge Unitaire</label>
													<input class="text-left mb-1 bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-blue-500" type="text" x-model="item.chargeunitaire=pourcentagecharges*item.prixUnitaireDZ" disabled>
												</div>
												<div class="mb-4 w-full mr-2">
													<label class="text-gray-800 block mb-1 font-bold text-sm uppercase tracking-wide">Charge total </label>
													<input class="text-left mb-1 bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-blue-500" type="text" x-model="item.chargetotal=item.chargeunitaire*item.quantity" disabled>
												</div>
											</div>


											<div class="flex">
												<div class="mb-4 w-full mr-2">
													<label class="text-gray-800 block mb-1 font-bold text-sm uppercase tracking-wide">D.D  : </label>
													<input class="text-left mb-1 bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-blue-500" type="text" x-model="item.dd=DD"  >
												</div>
												<div class="mb-4 w-full mr-2">
													<label class="text-gray-800 block mb-1 font-bold text-sm uppercase tracking-wide">D.D unitaire : </label>
													<input class="text-left mb-1 bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-blue-500" type="text" x-model="item.ddunitaire=(item.prixUnitaireDZ*item.dd)/100" disabled>
												</div>
												<div class="mb-4 w-full mr-2">
													<label class="text-gray-800 block mb-1 font-bold text-sm uppercase tracking-wide">D.D Total :</label>
													<input class="text-left mb-1 bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-blue-500" type="text" x-model="item.ddtotal=item.ddunitaire*item.quantity" disabled>
												</div>
											</div>

											<div class="flex">
												<div class="mb-4 w-full mr-2">
													<label class="text-gray-800 block mb-1 font-bold text-sm uppercase tracking-wide">TCS</label>
													<input class="text-left mb-1 bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-blue-500" type="text" x-model="item.tcs=item.prixUnitaireDZ*2/100" disabled>
												</div>
												<div class="mb-4 w-full mr-2">
													<label class="text-gray-800 block mb-1 font-bold text-sm uppercase tracking-wide">TCS TOTAL</label>
													<input class="text-left mb-1 bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-blue-500" type="text" x-model="item.tcstotal=item.tcs*item.quantity"  disabled>
												</div>
											</div>
											<div class="flex">
												<div class="mb-4 w-full mr-2">
													<label class="text-gray-800 block mb-1 font-bold text-sm uppercase tracking-wide">% TVA</label>
													<input class="text-left mb-1 bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-blue-500" type="text" x-model="item.tva=(item.prixUnitaireDZ+item.tcs+item.ddunitaire)*19/100" disabled>
												</div>
												<div class="mb-4 w-full mr-2">
													<label class="text-gray-800 block mb-1 font-bold text-sm uppercase tracking-wide">TVA Totale</label>
													<input class="text-left mb-1 bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-blue-500" type="text" x-model="item.tvatotal=item.tva*item.quantity" disabled>
												</div>
											</div>
											<div class="flex">
												<div class="mb-4 w-full mr-2">
													<label class="text-gray-800 block mb-1 font-bold text-sm uppercase tracking-wide">% TAX</label>
													<input class="text-left mb-1 bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-blue-500" type="text" x-model="item.tax=item.prixUnitaireDZ/(item.tcs+item.ddunitaire+item.tva)" disabled>
												</div>
												<div class="mb-4 w-full mr-2">
													<label class="text-gray-800 block mb-1 font-bold text-sm uppercase tracking-wide">TAX Totale</label>
													<input class="text-left mb-1 bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-blue-500" type="text" x-model="item.taxtotal=item.tax*item.quantity" disabled>
												</div>
											</div>
											<div class="flex">
												<div class="mb-4 w-full mr-2">
													<label class="text-gray-800 block mb-1 font-bold text-sm uppercase tracking-wide">Pris final unitaire</label>
													<input class="text-left mb-1 bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-blue-500" type="text" x-model="item.prixUnitaireFinal=item.prixUnitaireDZ+item.tax+item.chargeunitaire" disabled>
												</div>
												<div class="mb-4 w-full mr-2">
													<label class="text-gray-800 block mb-1 font-bold text-sm uppercase tracking-wide">TOtal Pris final  </label>
													<input class="text-left mb-1 bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-blue-500" type="text" x-model="item.prixTotalFinal=item.quantity*item.prixUnitaireFinal" disabled>
												</div>
											</div>
										<div class="mt-8 text-right">
											<button type="button" class="bg-white hover:bg-gray-100 text-gray-700 font-semibold py-2 px-4 border border-gray-300 rounded shadow-sm mr-2" @click="openModal = !openModal">
												Annuler
											</button>
											<button type="button" class="bg-gray-800 hover:bg-gray-700 text-white font-semibold py-2 px-4 border border-gray-700 rounded shadow-sm" @click="addItem()">
												Ajouter
											</button>
										</div>
								
									
						
									</div>
								</div>
							</div>
							<!-- /Modal -->				
						</div>
						<script>
								
							
							function invoices() {
								return {
									items: [],
									invoiceNumber: 0,
									invoiceDate: new Date().toISOString().slice(0, 10),
									openPreview: false,
									entrepot: '',
									modeReglement: '',
									banque: '',
									showBanque: false,
									numCheque: '',
									echeanceReg: '',
									tva: '',
									monnaie: '',
									destinataire: '',
									netTotal: 0,
									devistotal:0,
									pourcentagetransport:0,
									pourcentagecharges:0,
									tauxtransport:0,
									intermidiere:0,
									BontotalPriceUSD:0,
									BontotalPriceDZ:0,
									BontotalCharges:0,
									BontotalTransportPrice:0,
									BontotalTax:0,



									// Add fields for all x-models
									tauxcharges: 0,
									TransportApproximatively: 0,
									tauxchange: 0,

									DD: 5,
									
									tcs: 0,
									tva: 0,
									totalTax: 0,
									// Add any additional fields if needed
									pourcentageTransport(){
										const  devistotal= parseFloat(this.devistotal);
										const  tauxtransport= parseFloat(this.tauxtransport);
										this.pourcentagetransport=tauxtransport/devistotal ;

										return this.pourcentagetransport
										
									},

									calculateUSD(){
										const  margeUnitaire= parseFloat(this.margeUnitaire);
										const  prixUnitairUSD= parseFloat(this.prixUnitairUSD);
										this.prixUnitaireintermidiere=margeUnitaire+prixUnitairUSD ;
                                        console.log(this.prixUnitaireintermidiere)
										return this.prixUnitaireintermidiere
									},

									// Method to calculate total tax
									calculateTotalTax() {
										const dd = parseFloat(this.dd) || 0;
										const tcs = parseFloat(this.tcs) || 0;
										const tva = parseFloat(this.tva) || 0;
										returthis.totalTax = (dd + tcs) * tva;
										
									},
									calculateItemTax(itemPercent){
										tax = this.calculateTotalTax() * ( parseFloat(itemPercent) / 100 );
										return tax;
									},								
									calculateItemCharge(itemTotal){
										charge = this.chargesApproximatively / itemTotal;
										return charge;
									},
									calculateItemTransport(itemPercent){
										transport = this.TransportApproximatively * ( parseFloat(itemPercent) / 100 );
										return transport;
									},

									item: {
										prixUnitairProduction:0,
										margeIntermidier:0,
										pourcentageIntermidier:0,
										ddunitaire:0,
										ddtotal:0,
										id: '',
										dd:0,
										name: '',
										taxtotal:0,
										ref: '',
										fournisseur: '',
										qty: 0,
										quantity:0,
										prixUnitairUSD: 0,
										totalPriceUSD: 0,
										prixUnitaireDZ: 0,
										totalPriceDZ: 0,
										transportPercent: 0,
										taxPercent: 0,
										totalTax: 0,
										chargesPercent: 0,
										charges: 0,
										Totalcharges: 0,
										dd:0,
										anda: 0,
										DroitRealisation: 0,
										transportUnitaire:0,	
										margeUnitaire:0,	
										margetotal:0,	
										prixUnitaireintermidiere:0,
										prixtotalintermidiere:0,
										ddunitaire:0,
										ddtotal:0,
									},

									
					
									billing: {
										name: '',
										address: '',
										extra: '',
										phone:''
									},
								
					
									showTooltip: false,
									showTooltip2: false,
									openModal: false,
									showQuantity:false,
					
									showModal(){
										document.getElementById('myForm').reset(); 
										
										this.openModal =true;
									},
									bontotalPriceUSD(){
										let BontotalPriceUSD=0
										
										this.items.forEach((item)=>{
											
											BontotalPriceUSD+=parseFloat(item.totalPriceUSD)
											
										 
										} )
										return BontotalPriceUSD
									},
									bontotalPriceDZ(){
										let BontotalPriceDZ=0
										
										this.items.forEach((item)=>{
											
											BontotalPriceDZ+=parseFloat(item.totalPriceDZ)
											
										 
										} )
										return BontotalPriceDZ
									},
									bontotalCharges(){
										let BontotalCharges=0
										
										this.items.forEach((item)=>{
											
											BontotalCharges+=parseFloat(item.chargetotal)
											
										 
										} )
										return BontotalCharges
									},
									bontotalTransportPrice(){
										let BontotalTransportPrice=0
										
										this.items.forEach((item)=>{
											
											BontotalTransportPrice+=parseFloat(item.transportPrice)
											
										 
										} )
										return BontotalTransportPrice
									},
									bontotalTax(){
										let BontotalTax=0
										
										this.items.forEach((item)=>{
											
											BontotalTax+=parseFloat(item.taxtotal)
											
										 
										} )
										return BontotalTax
									},
									bontotalPriceFinal(){
										let BontotalPriceFinal=0
										
										this.items.forEach((item)=>{
											
											BontotalPriceFinal+=parseFloat(item.prixTotalFinal)
											
										 
										} )
										return BontotalPriceFinal
									},
									bontotalintermidiere(){
										let Bontotalintermidiere=0
										
										this.items.forEach((item)=>{
											
											Bontotalintermidiere+=parseFloat(item.prixtotalintermidiere)
											
										 
										} )
										return Bontotalintermidiere
									},
									// ma
									// margeintermidiaire(){
									// 	const  intermidiere= parseFloat(this.intermidiere);
									// 	console.log(intermidiere )
									// 	this.items.forEach((item)=>{
											
									// 		console.log(" hello" , item)
									// 		this.margeUnitaire=intermidiere*parseFloat(item.prixUnitairUSD)
									// 	})
								
									// 	// return this.margeUnitaire
									// },

									addItem() {
										   
											Object.keys(this.item).forEach(it=> console.log(it,this.item[it]))
										this.items.push({						
											name: this.item.name,
											ref: this.item.ref,
											fournisseur: this.item.fournisseur,
											quantity: this.item.quantity,
											dd: this.item.dd ,
											transportUnitaire:this.item.transportUnitaire,
											transportPrice:this.item.transportPrice,
											margeUnitaire:this.item.margeUnitaire,
											margetotal:this.item.margetotal,
											prixUnitaireintermidiere:this.item.prixUnitaireintermidiere,
											prixtotalintermidiere:this.item.prixtotalintermidiere,
											prixUnitaireDZ:this.item.prixUnitaireDZ,
											totalPriceDZ:this.item.totalPriceDZ,
											chargeunitaire:this.item.chargeunitaire,
											chargetotal:this.item.chargetotal,
											dd:this.item.dd,
											ddunitaire:this.item.ddunitaire,
											ddtotal:this.item.ddtotal,
											tcs:this.item.tcs,
											tcstotal:this.item.tcstotal,
											tva:this.item.tva,
											tvatotal:this.item.tvatotal,
											tax:this.item.tax,
											taxtotal:this.item.taxtotal,
											prixUnitaireFinal:this.item.prixUnitaireFinal,
											prixTotalFinal:this.item.prixTotalFinal,
											prixUnitairUSD:this.item.prixUnitairUSD,
											totalPriceUSD:this.item.totalPriceUSD,
											
										});

										// Réinitialisation des champs après l'ajout
										this.item.id = '';
										this.item.name = '';
										this.item.ref = '';
										this.item.fournisseur = '';
										this.item.qty = 0;
										this.item.quantity=0;
										this.item.rate = 0;
										this.item.total = 0;
										this.item.DD = 0;
										this.item.DDtotal = 0;
										this.item.prixUnitairUSD = 0;
										this.item.totalPriceUSD = 0;
										this.item.prixUnitaireDZ = 0;
										this.item.totalPriceDZ = 0;
										this.item.transportPercent = 0;
										this.item.transportPrice = 0;
										this.item.taxPercent = 0;
										this.item.totalTax = 0;
										this.item.chargesPercent = 0;
										this.item.charges = 0;
										this.item.Totalcharges = 0;
										this.item.anda = 0;
										this.item.DroitRealisation = 0;

										// document.getElementById('myForm').reset();
									},
									stocks:[],
									selected:'',
									optionsVisible: false,
									search: "",
									filteredOptions() {
												return this.stocks.filter((option) => {
													return (option.name.toLowerCase().includes(this.search.toLowerCase()));
												});
									},
									initData(){										
										itemsData={{stock | safe}};
										for (const itemData of itemsData) {							 
											const item = {
												name: itemData.name,
												ref: itemData.reference,
												rate: itemData.prix_achat,
											};
											this.stocks.push(item);
										}	
										
									},
									printInvoice() {
										var printContents = this.$refs.printTemplate.innerHTML;
										var originalContents = document.body.innerHTML;
										document.body.innerHTML = printContents;
										window.print();
										window.location.reload();
										console.log(originalContents)
										document.body.innerHTML = originalContents;
					
										this.items=[];
									},
									validateBon(){										
										
										
										const dataObj = {
											IdBon : this.invoiceNumber,
											dateBp:this.invoiceDate,
											FournisseurInfo:this.billing,																					
											produits:this.items,
											entrepot:this.entrepot,	
											modeReglement:this.modeReglement,
											banque:this.banque,
											numCheque:this.numCheque,
											destinataire:this.destinataire,
											echeanceReg:this.echeanceReg,
											tva:this.tva,
											monnaie:this.monnaie,
											total:0,
											tauxtransport:this.tauxtransport,  
											tauxcharges:this.tauxcharges,
											devistotal:this.devistotal,
											pourcentagetransport:this.pourcentagetransport*100,
											pourcentagecharges:this.pourcentagecharges*100,
											intermidiere:this.intermidiere,
											bontotalPriceUSD:this.bontotalPriceUSD(),
											bontotalTransportPrice:this.bontotalTransportPrice(),
											bontotalPriceDZ:this.bontotalPriceDZ(),
											bontotalCharges:this.bontotalCharges(),
											bontotalintermidiere:this.bontotalintermidiere(),
											bontotalTax:this.bontotalTax(),
											bontotalPriceFinal:this.bontotalPriceFinal(),

										};
										

									axios.post('', {

										formData: dataObj
										}, {
										headers: {
											'X-CSRFToken': getCookie('csrftoken'),
										}
									})
									.then((response) => {
										console.log("respense ", response);
										alert(response.data.message || "Succès !");
									})
									.catch((error) => {
										console.error(error);
										alert("Erreur lors de la soumission : " + error.message);
									});
											
									},
									
								}
							}
							function getCookie(name) {
								var cookieValue = null;
								if (document.cookie && document.cookie !== '') {
									var cookies = document.cookie.split(';');
									for (var i = 0; i < cookies.length; i++) {
										var cookie = cookies[i].trim();
										// Does this cookie string begin with the name we want?
										if (cookie.substring(0, name.length + 1) === (name + '=')) {
											cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
											break;
										}
									}
								}
								return cookieValue;
							}
						</script>
					</body>
        
				
				
		</main>		
	<!-- end Main content  -->

  </div>
</div>
</div>
</div>

{% endblock content %}
