{% extends "base.html" %}
{% load static heroicons %}

{% block body_class %}{% endblock %}
{% block content %}
  
<div 
x-data="{ 
	menuOpen: false, 
	basicSignInModal: false,
	basicSignUpModal: false,
	advanceSignInModal: false,
	advanceSignUpModal: false,
}" 
class="flex flex-col min-h-screen custom-scrollbar"
>
<!-- start::Black overlay -->
<div :class="menuOpen ? 'block' : 'hidden'" @click="menuOpen = false" class="fixed  inset-0 bg-black opacity-50 transition-opacity lg:hidden"></div>
<!-- end::Black overlay -->
 {% include 'header.html' %}
 {% include 'tabs.html' with active_tab="achat" %}
 <div class=" w-full flex flex-row">
	{% include "sidebar_achats.html" %}
  <div class="h-full w-full">
	<!-- Main content header -->
	<main class="block w-full px-2 overflow-hidden " x-data="avoirs()">
		<!-- Main content header -->
		 <div class="flex flex-col items-start justify-between pb-6 space-y-4 border-b lg:items-center lg:space-y-0 lg:flex-row"  >                                                                                                                                                                                                                                                     		  
		  <h1 class="text-2xl font-semibold whitespace-nowrap pt-4">Liste des expéditions</h1>          
		</div>
		<div class="-mb-2 py-2 flex flex-wrap flex-grow justify-between border-b">  
		  <div></div>          
		  <a href="{% url 'new-expedition' %}">
            <div class="inline-block px-4 py-2 text-sm leading-5 font-medium rounded-md text-black border border-gray-700 hover:bg-gray-700 hover:text-white focus:outline-none focus:shadow-outline cursor-pointer" >
                Créer Nouvelle Expédition
              </div>
            </a>
		</div>
			
 <script>
  function avoirs(){
	return{
		isOpen:false,
		montant:'',
		client:{
			id:'',
			name:'',
		},

		addAvoir(){
			form =document.getElementById('myForm')
			const formData = new FormData(form);
			 // Send the data to Django using Axios
			dataObj={
				bonLivraison: document.getElementById('bonLivraison').value,
				client : this.client.id,
				date : document.getElementById('date').value,
				motif: document.getElementById('motif').value,
				montant:this.montant
			}

			axios.post('', {
			 formData: dataObj
			}, {
			headers: {
			'Content-Type': '',
			'X-CSRFToken': getCookie('csrftoken'),
			}
		   })
		  .then((response) => {
			data = response.data
			console.log(data.error)
				  if(data.error){
							 alert(data.error);
					 }else{
							 alert("Avoir Ajouté !");
					 }		  
			window.location.reload()            
		  })
		  .catch((error) => {
			alert(error)      
		  });
		},
	}
	 
  }
  function getCookie(name) {
	var cookieValue = null;
	if (document.cookie && document.cookie !== '') {
	  var cookies = document.cookie.split(';');
	  for (var i = 0; i < cookies.length; i++) {
		var cookie = cookies[i].trim();
		// Does this cookie string begin with the name we want?
		if (cookie.substring(0, name.length + 1) === (name + '=')) {
		  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		  break;
		}
	  }
	}
	return cookieValue;
   }
  </script>
	   {% comment %}  end Logic to upload stock from file  {% endcomment %}        
		<div class="flex flex-col mt-5">
		  <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
			<div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
			  <div class="overflow-hidden border-b border-gray-200 rounded-md shadow-md">
				<table class="min-w-full overflow-x-scroll divide-y divide-gray-200">
				  <thead class="bg-gray-50">
					<tr>
					  <th
						scope="col"
						class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"
					  >
						ID Avoir
					  </th>
					  <th
						scope="col"
						class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"
					  >
						Date Emission
					  </th>
					  <th
						scope="col"
						class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"
					  >
						Bon Livraison
					  </th>
					  <th
						scope="col"
						class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"
					  >
						Client
					  </th>
					  <th
						scope="col"
						class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"
					  >
						Motif
					  </th>
					  <th
						scope="col"
						class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"
					  >
						Montant
					  </th>
					  <th
						scope="col"
						class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"
					  >
						MAJ
					  </th>                     
					</tr>
				  </thead>
				  <tbody class="bg-white divide-y divide-gray-200">
					{% for avoir in avoirs %}
					  <tr class="transition-all hover:bg-gray-100 hover:shadow-lg">             
						<td class="px-6 py-4 whitespace-nowrap">
						  <div class="text-sm text-gray-900">{{avoir.codeAvoir}}</div>					 
						</td>
						<td class="px-6 py-4 whitespace-nowrap">
						  <span
							class="inline-flex px-2 text-xs font-semibold leading-5 rounded-full"
						  >
							{{avoir.dateEmission}}
						  </span>
						</td>
						<td class="px-6 py-4 text-sm text-gray-500 whitespace-nowrap">{{avoir.BonSortieAssocie.idBon}}</td>
						<td class="px-6 py-4 text-sm text-gray-500 whitespace-nowrap">{{avoir.client.name}}</td>
						<td class="px-6 py-4 text-sm text-gray-500 whitespace-nowrap">{{avoir.motif}}</td>
						<td class="px-6 py-4 text-sm text-gray-500 whitespace-nowrap">{{avoir.BonSortieAssocie.totalPrice}}</td>
						<td class="px-6 py-4 text-sm text-gray-500 whitespace-nowrap flex">
						  {% heroicon_mini "pencil-square" class="transition-transform" %}
						  {% heroicon_mini "archive-box-x-mark" class="transition-transform" %}
						</td>
					  </tr>                  
					{% endfor %}
				  </tbody>
				</table>
			  </div>
			</div> 
		</div> 
    </main>	
	<!-- end Main content  -->

  </div>
</div>
</div>
</div>

{% endblock content %}